[2014-01-23 15:26] kuandannyan opened #11 "Would it be possible make net.imglib2.img.ImagePlusAdapter available via knip plugin"
It seems the class net.imglib2.img.ImagePlusAdapter is not made available in knip plugin. Or am I doing something wrong with the plugin? I think the imglib2-ij.jar is not included in the current build.

[2014-01-23 16:28] #11 closed, assigned to nobody

[2014-03-25 21:36] dscho opened #14 "Add a prominent link to http://tech.knime.org/community/image-processing#exampleworkflows"
Whether it is in the README or in the description of the repository or even that of the GitHub organization, I think there is value in having a prominent link to the tutorials, as well as a prominent link to an idiot-proof installation walk-through.

[2014-03-25 22:15] #14 closed, assigned to nobody

[2014-03-26 13:04] IdealOutage opened #15 "NullPointerException when calling .randomAccess()"
I have created an **ArrayImg** using the **ArrayImgFactory**. The **ArrayImg** was created, it isn't **null** but when I call **.randomAccess()** a **NullPointerException** is thrown. Below I have added a simple class with a main method which reproduces this error.

[code]

The expected output is

[code]

[2014-03-26 13:08] #15 closed, assigned to dietzc

[2014-09-04 07:59] dietzc opened #24 "Splitter: Allow cropping of images with varying dimensions"
Select: X,Y,Channel to be splitted

Input:  X,Y,Channel and X,Y,Channel,Time

Currently: Error as differing dimensions

Actually: Possible, as the number of resulting objects is the same, just the dimensionality of the objects differs.

[2014-09-04 08:02] dietzc opened #25 "New Node: Track Hilite Propagator"
When a point is hilited the complete track should be hilited or vice-versa.

[2014-09-04 08:02] dietzc opened #26 "New Node: Track Features"
Integrate Track features / measurements from TrackMate

[2014-09-04 08:04] dietzc opened #27 "Reorganization: knip-tracking"
Move org.knime.knip.tracking into its own repository, s.t. it can be versioned and installed independently.

[2014-09-04 08:06] dietzc opened #28 "Unify Caching System"
Currently we have serveral caching implementations. Actually we could unify them using only one (e.g. apache JCS). We could use a SciJava-Service here.

[2014-09-04 08:07] dietzc opened #29 "Create Externalizers for LabelingCell and ImgPlusCell"
Currently LabelingCell and ImgPlusCell don't have their own externalizers. Therefore their externalization mechanism can't be changed.

[2014-09-04 08:10] dietzc opened #30 "ImgPlus- / LabelingCell"
Unify class hierarchy and introduce new cell types:

LabelingCell and ImgPlusCell share tons of code and therefore we could unify them. Additionally, several nodes (e.g. Cropper, Splitter, etc) can be used by both LabelingCell and ImgPlusCell (as these nodes are independend from the content type and work on RandomAccessibleInterval<?>).

One problem might be, that we have to be backwards compatibl

[2014-09-04 08:11] #25 closed, assigned to gab1one

[2014-09-04 08:13] dietzc opened #31 "Slice Loop Start: Support Images / Labeling with different sizes, but same iteration intervals"
Given: Img1 (X,Y,Z,Time,Channel) another Img2 (X,Y,Z,Channel).

All dimensions are the same, but Time (Missing in Img2). User wants to perform loop over Channel: Not possible since now, but should be possible, as the number of intervals is the same.

[2014-09-04 08:14] dietzc opened #32 "Slice Loop Start: Column Selection doesn't work"
Column Selection is not working if the input structure of the table changes. (e.g. have img+labeling and then only labeling). Please test it!

[2014-09-04 08:15] dietzc opened #33 "Slice Loop Start: Fails on invalid input"
SliceLoopStart fails on invalid input (just connect any table without any image) with a NullPointerException. There should certainly be a better error handling:

java.lang.NullPointerException
    at org.knime.knip.base.nodes.util.slicelooper.SliceIteratorLoopStartNodeModel.execute(SliceIteratorLoopStartNodeModel.java:315)
    at org.knime.core.node.NodeModel.execute(NodeModel.java:700)
    at org

[2014-09-04 08:16] dietzc opened #34 "Image Reader: Allow copying of path"
if you copy a path into the text field, the file chooser should "jump" to the location and not set a filter.

[2014-09-04 08:25] dietzc opened #35 "Move to ImageJ-Ops: Boundary/Contour Tracing Algorithms"
see text

[2014-09-04 08:27] dietzc opened #36 "New Node: Segment Counter"
Node which allows you to simply calculate the number of labels per labeling. Additionally, the user should be able to set a filter (Label/Group).

Outputs of the nodes may be the following:

(a) Labeling -> Total Segment Count (1:1)
(b) Labeling -> Segment Count per Group (1:n)

[2014-09-04 08:28] dietzc opened #37 "New Node: Interactive Labeling Editor"
Allows you to edit the labels of a labeling.

[2014-09-04 08:29] dietzc opened #38 "LabelingArithmetic: Make outtype configurable"
If you e.g. merge to labelings of BitType the outtype must be > bittype as you may have three labels (labels from img A, labels from img B and empty labeling) in the resulting labeling.

[2014-09-04 08:30] dietzc opened #39 "New Node: Thinning with Pruning"
Thinning Nodes need a pruning step.

[2014-09-04 08:32] dietzc opened #40 "New Node: Image Segment Features"
New node using imagej-ops feature implementations. Should be based on knip-scijava

[2014-09-04 12:04] dietzc opened #41 "Image Reader: Allow to read in subsets of series"
see: http://tech.knime.org/forum/knime-image-processing/feature-request-image-reader-read-multiple-series

[2014-09-04 13:26] dietzc opened #42 "SetImageMetadata: Copies Image Information (which is not required at all)."
see above. We should think about the the possibility, that an ImgPlusCell just wraps another ImgPlusCell (to avoid duplication of data serialization).

[2014-09-04 13:57] maierl opened #43 "Image Reader: Metainfo only"
The image reader, or a custom new node, should be able to output only the meta information of an image without reading all of it.

An alternative solution and / or side-project could be removing the need for an input image at the ImageJ Macro Node.

[2014-09-05 08:50] angrauma opened #44 "Slice Loop Start: Problem with labelings"
Node fails when only labelings are processed.

[2014-09-05 09:39] dietzc opened #45 "Img Manipulations: Make sure ColorTables are also adapted"
Cropping, Converting, Changing Dimensions etc also affects the ColorTables of an ImgPlus, e.g. converting an ImgPlus from 16bit to 8bit results in another ColorTable. We have to test and fix the corresponding nodes.

[2014-09-05 12:42] #33 closed, assigned to angrauma

[2014-09-05 12:49] #44 closed, assigned to angrauma

[2014-09-06 20:37] dietzc opened #50 "Add Butterworth High/Low Pass Filters"
http://tech.knime.org/forum/knime-image-processing/highlow-pass-filters

We could simply add a kernel to the convolution kernel creator.

[2014-09-10 15:37] #32 closed, assigned to angrauma

[2014-09-18 00:11] dietzc opened #51 "Open First Image in TableCellViewer / Interactive Segmentation View per default"
Once you opened the TableCellViewer / Interactive SegmentationView, the first image should be displayed directly (we don't want the user to make an additional click here).

[2014-09-18 00:12] dietzc opened #52 "Interactive Segmentation View: Right-Click Context-Menu should be available everywhere"
In hilite mode the "context-menu" which appears on "right-click" should appear anywhere, no matter where you perform the right-click in the viewer.

[2014-10-24 12:26] maierl opened #56 "Image Viewer: Merged view"
It would be great if there was a merged + color table based view.
In Zeiss Zen blue, I can select for each of N channels which of them should be shown in an overlay.

Additionally, the black and white value (= min and max shown) and the gamma per channel can be set by adjusting the line on the histograms within the screenshots. The first and last box shaped handle of the line modifies the black an

[2014-11-04 14:57] dietzc opened #58 "WählbyCellClumpSplitter: Border Pixels are removed even if valid"
After splitting, all segments which previously touched the border, do not touch the border anymore.

[2014-11-11 20:01] dietzc opened #60 "New Node: Label Mapper Node"
will follow.

[2014-11-12 12:01] #60 closed, assigned to AndreasBurger

[2014-11-20 16:52] #26 closed, assigned to gab1one

[2014-11-21 11:40] gab1one opened #62 "Trackmate Node fixes"
- [x] Improve  description of features
- [x] ~~Enable support for calibration~~

[2014-11-26 16:40] dietzc opened #65 "Image Reader: Fail if selected column does not exist"
Recommendation from Thorsten:

Zum anderen verhält er sich nicht korrekt, wenn ich eine Spalte vom
optionalen Eingang konfiguriert habe und die Spalte gibt es später nicht
mehr oder der Eingang ist gar nicht mehr verbunden. Solchen Fälle muss
der Knoten im configure überprüfen und dann fehlschlagen. Im Moment
ignoriert er das aber einfach und gibt eine leere Tabelle aus.

[2014-11-26 16:44] #27 closed, assigned to dietzc

[2014-11-26 16:44] #31 closed, assigned to angrauma

[2014-11-26 16:45] #37 closed, assigned to AndreasBurger

[2014-12-02 11:56] AndreasBurger opened #67 "InteractiveLabelingEditor rename error"
InteractiveLabelingEditor throws NullPointerException when trying to rename a label

[2014-12-02 15:26] AndreasBurger opened #68 "InteractiveLabelingEditor highlight bug"
After switching the displayed image while highlighting is on, returning to a previously highlit image with disabled highliting shows an image without labels.

[2014-12-02 15:29] AndreasBurger opened #69 "Rendered image shifts for no apparent reason"
When changing transparency or interacting with the displayed image in the Interactive Labeling Editor while zoomed in, the image shifts one pixel.

[2014-12-02 15:30] AndreasBurger opened #70 "InteractiveLabelingEditor performs unnecessary calculations"
When executing, the Interactive Labeling Editor performs unnecessary calculations on images that weren't touched by the user.

[2014-12-02 15:53] AndreasBurger opened #71 "InteractiveLabelingEditor BoundingBoxRenderer bug"
When adding labels to a labeling, the corresponding bounding boxes are not updated immediately.

[2014-12-03 20:26] dietzc opened #72 "Maximum Finder: Improve Documentation"
The current documentation is not pretty expressive. Please work with examples here.

[2014-12-08 16:53] gab1one opened #73 "Nullpointer in TrackMateTracker"
Under certain conditions the Trackmate Tracker throws a nullpointer exception.

[2014-12-09 13:33] maierl opened #74 "Table Cell Viewer: Better presentation of table and view"
It would be great if the Table Cell Viewer remembered the width of the table vs cell contents.

Moreover, there seems to be a bug when trying to change the size of the table: if I first click on the image and then try to increase the table size, the ruler does not move at all.

![table cell viewer2](https://cloud.githubusercontent.com/assets/8655419/5358055/0316e144-7fb0-11e4-8116-60cae741e868.png

[2014-12-10 13:39] gab1one opened #75 "Trackmate Tracker: Missing values in feature rows resultieren in ClassCastExceptions"

[2014-12-10 13:56] #75 closed, assigned to gab1one

[2014-12-17 12:43] IdealOutage opened #78 "Image Converter takes too long"
Maybe instead of creating a new image we could just use some kind of `Converter` for the randomaccess instead of creating a new image.

[2014-12-17 13:17] seebacherd opened #79 "Force ImageType in ImgReader?"
Should it be possible to force the ImageReader to use a specific ImageType? To clarify, the following dataset ([patentbase](http://mklab.iti.gr/project/patentbase)) consists of 2000 binary images and has a size of 80,1 MB.

If this dataset is loaded using the Image Reader and saved, the workflow needs over 9GB of space on the hard disk, since every image is now uncompressed and of type UnsignedByt

[2014-12-19 11:10] #78 closed, assigned to dietzc

[2014-12-19 15:47] AndreasBurger opened #81 "InteractiveLabelingEditor Nullpointer Exception"
Clicking outside the displayed image of the Interactive Labeling Editor results in a NullPointerEx.

[2014-12-26 17:01] dietzc opened #83 "Refactoring KNIME Image Processing"
Hi @AndreasBurger @angrauma @Squareys @DanielSeebacher @gab1one,

all further changes / PR will go into https://github.com/knime-ip/knip/tree/refactoring until its merged into master. Reasons why I can't merge, yet:

#### ImgLib2 related:
[ ] ImgLib2 Bug with Unsynchronized Unsigned12BitType
[ ] ImgLib2 Bug with Extend/Convert https://github.com/imglib/imglib2/issues/82
[ ] ImgLib2-ROI Snapshot an

[2015-01-08 12:42] maierl commented on #43
just to clarify a bit, I'd be especially interested in the "original metadata", not only the OME-XML metadata.

[2015-01-08 14:17] maierl opened #84 "Image Writer: merged channels"
The image writer should support "merging" the channels the same way as I proposed for the image viewer (#56). My goal is to export them in a presentation-ready format, e.g. as PNG with a scale bar included.
Contrast adjustment would be nice, but I assume that should be done with a prefixed normalizer node or image parameter adjuster.

[2015-01-08 14:24] maierl opened #85 "Image Parameter Adjuster: issues with channel, Z and zoom"
The Image Parameter Adjuster Node does not update the values for Z and channel. The channel variable was even beyond the image dimensions.
Zoom level is initialized with 0, but should be 1.

Thanks for your help!

[2015-01-14 18:59] gab1one opened #86 "Remove loci dependencies from scifio imagewriter"
see https://github.com/knime-ip/knip/pull/57#issuecomment-69932342

[2015-01-17 19:10] dietzc opened #87 "Optimize Testflows"
We can optimize our testflows: Instead of storing the complete result images, we can assume that storing the average of a result image is enough. Additionally, I would like to have explizit workflows for testing or serialization/deserialization: Simple Image Generator  + Joiner with two times the same input + Comparator. Same for labeling.

[2015-01-18 16:56] dietzc commented on #62
provide test-flow

[2015-01-18 16:57] dietzc commented on #73
@gab1one fixed?

[2015-01-29 19:35] dietzc opened #89 "Image Reader doesn't close File."
From E-Mail:

"Ich habe noch eine Frage: wenn ich mit dem Image Reader Knoten eine Datei öffne, dann kann ich in Windows nichts mit der Datei machen. Nicht umbenennen, nicht löschen und nicht überschreiben. Auch nützt es nichts, den Workflow zu schließen. Erst wenn ich KNIME geschlossen habe kann ich mit dieser Datei wieder "arbeiten"."

[2015-02-04 14:36] gab1one commented on #86
There are still loci references in the old imagewriter. The Scifio Imagewriter is free of them though :+1:

[2015-02-04 14:36] #86 closed

[2015-02-04 15:31] maierl opened #90 "Table Cell Viewer: highlighting"
The table cell viewer should support highlighting.
Thanks! :sweat_smile:

[2015-02-09 17:01] dietzc opened #91 "Table Cell Viewer: Allow Browsing through planes with Hot-Keys"
See: http://tech.knime.org/forum/knime-image-processing/interactive-segmentation-view

Actually this is already implemented but it seems, that it doesn't work on certain operating systems. Please check for Windows, Linux and MAC if it works and fix as needed.

[2015-02-09 17:29] maierl commented on #91
I tested it on Windows, there it didn't work.

[2015-02-09 18:46] maierl commented on #91
My fault, I mis-read the mail and was referring to a different issue.

[2015-02-11 10:19] dietzc opened #92 "CellH5 Reader/Writer in KNIME"
New Nodes:
[ ] CellH5 Reader Node to read CellH5 format (Images, Labelings, Features)
[ ] CellH5 Writer Node to write CellH5 format (Images, Labelings, Features)

use: https://github.com/openmicroscopy/bioformats/pull/1161

Examples and definition of format: http://www.cellh5.org/.

Thanks @sommerc

[2015-02-11 17:21] dietzc opened #93 "PNGImage to ImgPlus: Allow to set value for transparent values"
If values are transparent in a PNG, users should be able to select a default value. Default setting should be the maximum of the type.

[2015-02-11 17:24] dietzc commented on #74
@AndreasBurger I know you fixed it already, but in certain I have two of the horizontal scrollbars. maybe we can think of another concept for the table-cell-viewer?

For example: only show the table. On click a new panel is opened with the actual image but also with four arrows to navigate in the table? Suggestions welcome.

[2015-02-11 20:15] dietzc opened #94 "Gaussian Convolution: Allow multiple sigmas"
Currently, the user can only enter one sigma which is then applied for in each dimension. Actually, the sigmas could vary over the dimensions.

Task: Add another option, which allows to enter dimension specific sigmas. This option is disabled as default, but if its enabled, the current option is disabled.

[2015-02-11 23:06] maierl commented on #74
Knime “core” won’t allow to extend the standard output port view with the TableCellViewer by default, I assume? I’d love that feature, though.

Besides of that, two windows that are to be used in parallel are not necessarily better than one in my eyes.
Keyboard navigation for switching between rows is (currently) already implemented, right?

@dietzc didn’t you propose that the first image should b

[2015-02-13 09:20] dietzc commented on #74
hi @maierl,

unfortunately, it's not too easy to get the functionality into KNIME-Core (even if I agree, it would be nice). The solution I suggested was not about "having two windows open side by side". We would still have only one JFrame, but it would more look like a gallery view.

about "opening the first image": see https://github.com/knime-ip/knip/issues/51

[2015-02-13 09:20] dietzc commented on #51
@AndreasBurger  this should be easy.

[2015-02-13 09:33] maierl commented on #74
The gallery idea seems fine to me.

[2015-02-18 10:48] AndreasBurger commented on #81
Tricked the auto-close issue feature of Github. Should be fixed as of previous comment.

[2015-02-18 10:48] #81 closed

[2015-02-18 10:49] AndreasBurger commented on #71
Tricked the auto-close issue feature of Github. Should be fixed as of previous comment.

[2015-02-18 10:49] #71 closed

[2015-02-18 10:50] AndreasBurger commented on #69
Tricked the auto-close issue feature of Github. Should be fixed as of previous comment.

[2015-02-18 10:50] #69 closed

[2015-02-18 10:50] AndreasBurger commented on #68
Tricked the auto-close issue feature of Github. Should be fixed as of previous comment.

[2015-02-18 10:50] #68 closed

[2015-02-18 10:50] AndreasBurger commented on #67
Tricked the auto-close issue feature of Github. Should be fixed as of previous comment.

[2015-02-18 10:50] #67 closed

[2015-02-18 11:35] AndreasBurger commented on #91
This issue was apparently caused by the java method used to set the desired hotkey - it was too specific. I've changed the used method to accept any key which produces the required characters, '+' and '-'.

[2015-02-18 21:32] #91 closed

[2015-02-26 09:38] dietzc opened #95 "TableCellViewer: Allow to change default settings in a KNIME preference page"
Some users want to automatically enable Normalization etc. We should allow them to set default settings in a preference page in KNIME.

[2015-02-26 13:22] dietzc opened #96 "Image Reader: Allow output of metadata only"
Add the possibility for the user to select the output of the reader: image, image+metadata, metadata only.

[2015-02-26 14:50] dietzc opened #97 "ImageReader: SCIFIO Reader/Writer for FFmpeg supported formats"
We may want to use: https://github.com/FFmpeg/FFmpeg and have a look at https://github.com/scifio/scifio-javacv. In the end the reader/writers should live SCIFIO.

[2015-02-26 15:37] maierl commented on #96
Btw: There are two levels of metadata: the OME-XML and the “raw” / original metadata, as it is displayed in the preview.

It would be good to get the raw metadata, too.

[2015-02-27 08:37] dietzc opened #98 "Trackmate Tracker: Extracted BitMask is too big"
In the new TrackmateNode the extracted BitMask is too big (i.e. not minimal given the actual track).

[2015-03-03 09:22] dietzc opened #100 "ImageReader: SCIFIO Reader for BDV"
We need a SCIFIO Reader for the BigDataViewer image format. Should be part of SCIFIO, but for now we can do it here and split it later.

[2015-03-03 11:08] maierl commented on #96
this is a duplicate of #43, isn't it?

[2015-03-03 12:27] dietzc commented on #43
duplicate of https://github.com/knime-ip/knip/issues/96

[2015-03-03 12:27] #43 closed

[2015-03-03 14:49] dietzc commented on #97
important!

[2015-03-03 14:50] dietzc commented on #96
important!

[2015-03-03 14:52] dietzc commented on #73
Testflow provided for new tracker?

[2015-03-03 14:55] dietzc commented on #41
https://github.com/knime-ip/knip/blob/master/org.knime.knip.io/src/org/knime/knip/io/nodes/imgreader/ReadFileImgTable.java

[2015-03-05 21:50] kmader opened #102 "Multilevel Thresholding Node (Columns and Manual option)"
Instead of outputting a single image with each threshold signified by a different color/label, provide the option to output different columns (ideally with custom names) image -> bone, tissue, air

Also in addition to OTSU, it would be nice to have the option to put in custom values phase 1 minimum and maximum, etc

[2015-03-05 21:53] kmader opened #103 "Global Threshold Node with UNSIGNEDBYTETYPE"
The global threshold node has some strange behavior when used with ```UNSIGNEDBYTETYPE``` images and thresholds above 255. It appears that the threshold (input as a double) is cast to an unsigned byte and thus if you enter a threshold like 10000, you end up having applied a threshold of 55. By default, the threshold should be either
- limited by the maximum type value
- produce an error when it ca

[2015-03-06 13:48] gab1one opened #104 "Maximumfinder throws ArrayIndexOutOfBoundsException"
In our  Example_Trackmate Worklflow from the websitem the Maximumfinder throws an ArrayIndexOutOfBoundsException when run.

[2015-03-06 13:49] gab1one commented on #62
Testflow blocked by #104 :(

[2015-03-06 13:49] dietzc commented on #104
its because of the converter which is used right before the MaximumFinder. I will try to fix this.

[2015-03-06 13:50] gab1one commented on #104
:+1: Awsome

[2015-03-06 14:09] gab1one commented on #73
see #62

[2015-03-06 14:09] #73 closed

[2015-03-06 14:11] dietzc commented on #104
should be fixed with https://github.com/knime-ip/knip/commit/1dc09ac9621c8cc08d034f956bc651b6880d982a

[2015-03-06 14:17] dietzc commented on #103
should be fixed with: https://github.com/knime-ip/knip/commit/b439819db58038c31d1165361785b07b2061da39

can you confirm? I just started the nightly build job.

[2015-03-06 14:49] Squareys commented on #72
Are we talking about Javadoc or Node Description here?

[2015-03-06 14:56] dietzc commented on #72
Node description.

[2015-03-06 14:59] Squareys commented on #72
Issue may be closed when pull request #105 has been merged.

[2015-03-06 15:06] #72 closed

[2015-03-09 12:36] maierl commented on #92
CellH5 reader made it to the bioformats dev branch:
https://github.com/openmicroscopy/bioformats/issues/1637

[2015-03-16 13:50] gab1one commented on #104
It is working again :+1:

[2015-03-16 13:50] #104 closed

[2015-03-17 15:46] #98 closed

[2015-03-19 11:08] #96 closed

[2015-03-19 13:21] maierl commented on #96
this update only allows to use only the ome-xml metadata, not the raw metadata, right?

[2015-03-19 13:30] dietzc commented on #96
OME-Metadata should represent most of the raw meta-data. Are you missing some information in the resulting XML?

[2015-03-19 13:36] #103 closed

[2015-03-19 13:59] maierl commented on #96
I am thinking of the plate design here (i.e. which row and column was this position). I didn’t see any such information in the OME-XML metadata.

[2015-03-19 14:00] dietzc commented on #96
Can you provide an example where the meta-data is accessible in FIJI but not in KNIME?

[2015-03-19 14:54] maierl commented on #96
https://powerfolder.dkfz.de/dl/fiJtvzbFLwTjUtE3QVw6pKRC/AL__W0002__P0001__T0017.czi.czi
E.g. Detector Gain

[2015-03-19 14:55] dietzc commented on #96
@gab1one can you check/explain why this is not part of the resulting ome-xml?

[2015-03-19 15:09] maierl commented on #96
@gab1one sorry, I was too quick on that one. I tried to avoid using a 12gb file just to have a file with full plate specifications that can be read by bioformats on its own.

The gain is actually included in the ome-xml, too.

[2015-03-19 15:26] maierl commented on #96
https://powerfolder.dkfz.de/dl/fiF6P38XAxRz5u1GEMvcr4EX/.zip
Experiment|AcquisitionBlock|TilesSetup|SampleHolder|SingleTileRegionArray|SingleTileRegion|Category|Name #001

[2015-03-19 15:36] dietzc commented on #96
maybe a more general question @hinerm: Shouldn't (in theory) any metadata be part of the ome-xml metadata (maybe in some tag: <Uncategorized>)?

[2015-03-19 16:09] hinerm commented on #96
@dietzc so is the problem that you have the dataset mentioned by @maierl with the specified raw metadata tag, and it's not translated into OME-XML? What is the base format of the dataset? (can't unzip it on my mac)

For reference, the [OME-XML schema documentation](http://www.openmicroscopy.org/Schemas/Documentation/Generated/OME-2015-01/ome.html) doesn't specify that metadata.

Basically, any met

[2015-03-19 16:12] hinerm commented on #96
P.S. the '''actual''' method for full OME-XML generation `setPopulateOriginalMetadata(true)` which would have to be called before `setId` if you're using a Bio-Formats reader.

If you're using SCIFIO it may not be exposed properly, which would be a bug/limitation of the `BioFormatsFormat`...

[2015-03-19 16:25] dietzc commented on #96
thanks for the clarification @hinerm. So if I understand it correctly, full OME-XML means that any raw-metadata is translated into OME-XML, even if not explicitly specified/supported by the OME-XML Metadata?

@maierl can you help @hinerm with the information about the base format?

[2015-03-19 16:26] dietzc commented on #96
it's a 7z inside the 7z which contains a czi file.

[2015-03-19 16:33] hinerm commented on #96
In the sense that "everything gets dumped into the `Structured Annotations` element," yes.

As far as I can tell, the CZI Reader doesn't parse a `category` tag from [SingleTileRegion](https://github.com/openmicroscopy/bioformats/blob/v5.0.7/components/formats-gpl/src/loci/formats/in/ZeissCZIReader.java#L2181-2205). So if you want to populate that tag you will need to `setPopulateOriginalMetadata(t

[2015-03-19 16:57] gab1one commented on #96
We are creating an empty OME-XML Metadata object and using the SCIFIO TranslatorService.translate(..) function to fill it with the metadata from the image.
[Take a look here:](https://github.com/knime-ip/knip/blob/master/org.knime.knip.io/src/org/knime/knip/io/ScifioImgSource.java#L227-L235).
@hinerm  I am not sure where I can set setPopulateOriginalMetadata(true), can you please elaborate more on

[2015-03-19 17:18] hinerm commented on #96
@gab1one that method is a Bio-Formats method. Since you're using SCIFIO you don't actually need to call it.

Instead, what you need to do is call [SCIFIOConfig.parserSetSaveOriginalMetadata](https://github.com/scifio/scifio/blob/scifio-0.21.1/src/main/java/io/scif/config/SCIFIOConfig.java#L241) on the SCIFIOConfig that's [used to parse your metadata](https://github.com/knime-ip/knip/blob/master/or

[2015-03-19 17:38] dietzc commented on #96
@gab1one we could make this optional, too.

[2015-03-19 17:54] gab1one commented on #96
Already on it.

[2015-03-19 18:28] hinerm commented on #96
:octopus:

[2015-03-19 18:29] gab1one commented on #96
@maierl This option does create farly large xml files, nearly 19k lines with your example (courtesy of the xml format)  but contains all meta data.

[2015-03-20 11:46] maierl commented on #96
Thanks to all of you for your quick help!

[2015-03-25 12:25] kmader opened #112 "Ellipse / PCA Shape Information from Segment Features"
Currently it is quite complicated to calculate orientation and the ellipsoid based model (https://rawgit.com/kmader/Quantitative-Big-Imaging-2015/master/Lectures/06-Slides.html#/36) for labels which is quite commonly used to characterize round or ellipsoid like shapes (a table-based approach is shown in part 1 in https://github.com/kmader/Quantitative-Big-Imaging-2015/blob/master/Exercises/06-Desc

[2015-03-25 13:01] dietzc commented on #112
@DanielSeebacher can you make sure that this is part of our new node?
@kmader see: https://github.com/imagej/imagej-ops/issues/67 https://github.com/imagej/imagej-ops/tree/outputop-service

[2015-03-25 14:17] kmader opened #113 "Convolution Kernel Creator should support more/custom 3D kernels"
The Convolution Kernel Creator should support more 3D (or N-D) kernels
- Laplacian
- Gradient
- Sobel
- Custom kernels specified inside node (this might be too complicated but converting a table to an image is ugly)

The 'Gaussian' supports multiple dimensions but currently produces 7 copies of the same image for the additional dimension

[2015-03-25 14:19] dietzc commented on #113
we should think about rewriting the kernel creator based on https://github.com/imagej/imagej-ops/pull/48.
The new convolver should base on https://github.com/imagej/imagej-ops/issues/70.

[2015-03-27 15:07] maierl commented on #84
an alternative could be an equivalent to "convert to RGB image" in ImageJ

[2015-03-29 21:18] kmader opened #114 "KNIP Java Snippet"
It would be brilliant, if you could write and compile ImageJ2 plugins / ops within KNIME using something like the Java Snippet in the standard tools. This would tremendously speed up development for new ImageJ plugins and make it much easier to include slightly more complicated logic as part of workflows.

[2015-03-30 03:33] dietzc commented on #114
@Squareys is working in exactly this. @Squareys can you comment on the status and plans?

[2015-03-30 09:03] Squareys commented on #114
Our current goal is the integration of Scijava Command (and derived) Java Code via a dedicated Node, of course with support for images. You will be able to choose between row-to-row and row-to-many rows execution, the latter (at least for current plans) will require special code (i.e. the use of a KNIMEDataTableService). The node dialog will automatically generate the UI for unresolved inputs and

[2015-04-07 09:13] maierl opened #115 "Image Property: Source"
The image normalizer does not set the Source property.
Do you happen to have a testing framework for that? IIRC there is another node that sets only the filename instead of the path.

[2015-04-30 08:05] #65 closed

[2015-04-30 08:06] dietzc opened #118 "Interactive Labeling Editor: Handling of oversegmentations"
see: https://tech.knime.org/forum/knime-image-processing/interactive-labeling-editor

[2015-05-07 08:29] dietzc opened #119 "Convolution Kernel Creator: Laplacian of Gaussian"
The created Kernel is not really a Laplacian of Gaussian. We should double-check.

[2015-05-07 13:45] dietzc commented on #119
fixed

[2015-05-07 13:45] #119 closed

[2015-05-19 12:16] maierl opened #125 "Splitter: Calibration lost"
The Splitter node sets the calibration to ones only.

[2015-05-20 08:23] maierl commented on #84
any progress on that?
a nice test case would be
https://powerfolder.dkfz.de/dl/fiTC2pFis3pr8oB1BqTjWGNh/12%23no%23bf.ome.tif

It contains 7 channels, each with a different color.

[2015-05-20 13:14] dietzc commented on #84
@gab1one we should discuss this feature next week! basically, the implemented algorithm might be similar to what is done in ImageJ1 Stack To RGB?

[2015-05-20 15:08] maierl commented on #92
@sommerc is there any progress on the writer already?

[2015-05-20 17:15] dietzc commented on #92
If the format is part of the latest BioFormats release, we should be able to open CellH5 files in KNIME.

[2015-05-21 11:57] maierl opened #126 "Img writer: More than 3 channels"
The new img writer states that it cannot write more than 3 channels, but our images often have 4, 5 or even more. Could you please extend it?

[2015-05-21 12:03] dietzc commented on #40
@DanielSeebacher  Some suggestions from users:

 [  ] Selected features should be minimizable. In the minimized view a short overview over the selected features might be given.
 [  ] Column Selection should be moved to own tab.
 [  ] Dimension Selection for each FeatureSet. Min/Max restricted to the dimensions which can be calculated.
 [  ] Select / Deselect all features in one FeatureSet.
 [  ]

[2015-05-21 12:21] dietzc opened #127 "New TableCellViewer: Rewrite"
Issue for the new gallery based implementation of the TableCellViewer. See https://github.com/knime-ip/knip/tree/TableCellViewerRework.

Open Points:
- [  ] Escape Key should close view and go back to table
- [  ] Faster preview (if possible) of images while hovering over keys
- [  ] Equivalent to row view should be available for column based view on the left
- [  ] Minimap of table (to see where

[2015-05-21 12:23] dietzc commented on #95
should be solved in https://github.com/knime-ip/knip/issues/127

[2015-05-21 12:23] #95 closed

[2015-05-21 12:24] dietzc commented on #90
should be solved with #127.

[2015-05-21 12:24] #90 closed

[2015-05-21 12:25] dietzc commented on #89
any news on that @gab1one?

[2015-05-21 12:25] dietzc commented on #62
any news on that @gab1one ?

[2015-05-21 12:26] dietzc commented on #74
will be solved with new table cell viewer #127.

[2015-05-21 12:26] #74 closed

[2015-05-21 12:26] dietzc commented on #51
will be fixed in #127 (or actually not really important anymore).

[2015-05-21 12:26] #51 closed

[2015-05-21 12:26] dietzc commented on #56
will be fixed in #127.

[2015-05-21 12:26] #56 closed

[2015-05-21 12:27] dietzc commented on #52
should be fixed in #127.

[2015-05-21 12:29] dietzc opened #128 "Interactive Labeling Editor: Allow click/rendering of bounding-boxes and outlines"
Users should be able to just render the outline/bounding-box to label their images.

[2015-05-21 12:40] gab1one commented on #89
Konnt ich nicht reproduzieren :/

On 21 May 2015 at 14:25, Christian Dietz <notifications@github.com> wrote:

[2015-05-21 14:19] gab1one commented on #126
The writer is already able to write arbitrary many channels, depending on the format of course. I adjusted the warning text message. see #129

[2015-05-21 14:40] maierl opened #130 "account for calibration in algorithms"
all algorithms, e.g. local thresholder should take the calibration of images into account.
currently, the local threshold on xyz would typically use a much too big z-range compared to xy.

[2015-05-21 20:32] maierl commented on #40
one more thing: it would be great if this new node used the cpu more efficiently than the old one. as yet, cpu usage on my 8-core is at only 3% with 10 lanes in parallel.

[2015-05-21 22:25] maierl commented on #115
The segment cropper seems to set the filename as the source, instead of the path.

[2015-05-22 07:01] dietzc opened #131 "Img Writer: Writing Tiffs is _very_ slow"
Writing a tiff with e.g. 1024,1024 and Z=51, Channel  = 3 in this dimension order is super slow. One reason might be, that it seems that nearly every pixel write action is logged somewhere. @gab1one please reproduce and double check!

[2015-05-22 14:13] maierl opened #132 "Interactive Labeling Editor: more bugs and improvement requests"
* [X] - the Interactive Labeling Editor shows the first image as normalized only when I change the normalization slider
* [x] column replace mode should replace the labeling, not the image
* [X] switching between images is _very_ slow for me. it takes around 8 seconds without any noticeable impact on cpu or hdd
* [x] the overall execution time could be quicker, but maybe there's a reason for that

[2015-05-22 14:15] maierl opened #133 "Labeling Arithmetic"
please improve the documentation of the Labeling Arithmetic node

[2015-05-22 14:15] gab1one commented on #131
Yes, the tiff writers (tiff and ome.tiff) are about 6.000% slower than eq. formats like ics. Even with small images.
One example:
- SCIFIO can write the same image (128,128, C=1  Z=1, T=50,   )  `137.165 ±  2.115` times a second as ICS file but only about `2.093 ±  0.063` a second as (ome.)tiff file.
take a look at the [benchmark results](https://gist.github.com/gab1one/d359578f0686aa609055)

I re

[2015-05-22 14:37] dietzc commented on #131
The slow down seems to be related To file size. Can you test with a 100mb image with z channrl time and different permutations?

[2015-05-22 15:10] sommerc commented on #92
@maierl I wrote a CellH5 writer! It's part of PR #1753

[2015-05-22 15:13] maierl commented on #92
https://github.com/openmicroscopy/bioformats/pull/1753
looking forward to that :)!

[2015-05-22 19:25] maierl commented on #132
Just got an exception when I tried to load a labeling that was previously annotated with the Interactive Labeling Editor. Moreover, the 'new labelings' list is empty until I add another new labeling. Then all the previously entered labelings appear, too.
Besides of that, the previously annotated labels don't seem to appear, or at least I didn't find any, yet.
[code]

[2015-05-22 19:29] maierl commented on #132
trying to execute:
[code]

[2015-05-22 19:55] maierl commented on #40
Not sure if you still accept bugs for the old node, but that one can only remove one overlapping segment label filter at a time. the config window has to be closed, reopened and only then another filter can be removed.

[2015-05-23 15:50] maierl commented on #132
Is there a reason why the labeling editor is a modal dialog?

Right now I try to improve the annotation at those positions where the prediction is wrong. Therefore I have another window open showing the predictions. Moving back and forth between the windows, I select the same slices in each window individually. Is there any better way to do that?

[2015-05-23 16:56] gab1one commented on #131
see  https://github.com/knime-ip/knip/commit/46b6799b83512270b9752ec555cef5cbdf95528b for the first big improvement. Writing the 160mb file sequentially now takes about 10 seconds instead of the 44 it took before

[2015-05-25 09:03] dietzc commented on #131
great work @gab1one. Reading & Writing Tiffs (and also other formats) is very often used by the users and therefore performance is crucial.

[2015-05-25 16:02] dietzc opened #134 "WaveletSpotDetectionNodeModel: Setting flow-variables for threshold-factors has no influence"
see title.

[2015-05-25 16:04] #126 closed

[2015-05-25 18:17] dietzc opened #135 "Image Reader: If "check for file formats" is disabled and different file-formats occur, fail gracefully"
see above.

[2015-05-25 19:44] dietzc commented on #113
Will also be interesting for the pixel-classification framework, I guess.

[2015-05-25 19:45] dietzc commented on #79
@gab1one do you think this is possible to add this option? the user has to take care that the chosen type is suitable for her image type, if she decides to select the type manually.

[2015-05-25 19:46] dietzc commented on #58
did we already fix this bug @Squareys?

[2015-05-25 21:25] Squareys commented on #58
@dietzc No, we didn't fix it yet.

[2015-05-29 08:57] DanielSeebacher commented on #40
@maierl The new node will fully support multithreading, but is currently still WIP. I'm trying to get it running as fast as possible. As for the bug report for the old node, I'm not sure if we will fix that or not, since the node will be replaced by the new feature node.

[2015-05-31 09:11] maierl opened #136 "Random NPE after Don't Save End"
Every now and then I get a NullPointerException at a Don't Save End node. It stays in yellow / configured mode then. Using a Table Cell Viewer on the data behind it does not help, but the unchanged data right in front of it seems to be accessible.

After re-execution of the Don't Save Start Node, the error was gone, but it occurred the third time now.

[code]

[2015-05-31 15:38] dietzc commented on #136
Latest nightly built?

[2015-06-01 05:06] maierl commented on #136
Tested on nightly 1.3.0.201504212308.

[2015-06-01 09:12] dietzc commented on #136
we fixed a similar bug in https://github.com/knime-ip/knip/commit/9bf991d127ecfc3b6f826c121e65d13e5f6abf12 19days ago. So this might be solving your problem. your nightly seems to be 6 weeks old.

[2015-06-01 09:12] #136 closed

[2015-06-08 09:48] kmader opened #138 "ImgWriter should report or error when invalid combinations are selected instead of saving bad files"
I have noticed a number of combinations in ImgWriter do not work yet not failures are reported, simply invalid files are produced.

From a student
I use the Image Writer node and would like to save PNG filed. I have created an appropriate file name and specified the location (my Images are standard 2D microscopy images, 16bit). For some reason all the saved PNG files give the error message “File d

[2015-06-08 09:50] kmader opened #139 "Saving/Autosaving workflows without data"
Particularly for image workflows it would be nice to have a mechanism for saving small changes without saving all of the data (otherwise when KNIME crashes everything is lost) currently with many of my workflows there are gigabytes of data loaded and each save operation is painful and slow. It would be nice if KNIME autosaved just the nodes and their settings.

Right now I have to export workflow

[2015-06-08 10:06] tibuch commented on #139
Hi @kmader

A save without data button would be nice. As a workaround you can use the Auto Save option under

 File -> Preferences -> KNIME -> KNIME GUI called "Auto Save open workflows" and "Save with data"

[2015-06-08 10:26] gab1one commented on #138
@kmader this is indeed troubling, could you please send me an example workflow that causes this behavior?

[2015-06-09 09:18] maierl commented on #139
I fully support your request. Yet another workaround that I am using quite often: you can copy & paste your whole workflow to a new one, with data getting discarded on the way.

[2015-06-10 15:07] DanielSeebacher opened #141 "Interactive Annotator"
If I'm adding a single segment (i.e. a rectangle on an image) I always get a second empty label with the class Unknown which I cant remove.

[2015-06-12 12:57] maierl commented on #127
the currently selected column (or cell) should be highlighted better than with the old viewer. especially tables containing mostly black pictures are problematic.

[2015-06-12 13:08] dietzc commented on #127
@AndreasBurger can you take care of this?

[2015-06-16 12:18] AndreasBurger commented on #127
I've modified the TableCellRenderer to highlight the currently selected cell (see attached image). Using this approach, however, enables this behaviour in all dialogs - which I think is actually nice.

@dietzc Any reservations?

![screenshot](https://cloud.githubusercontent.com/assets/5523902/8182718/6ced1d74-1432-11e5-995b-11c6f1256352.png)

[2015-06-17 09:34] maierl opened #142 "ImageJ1 Script Node Config does not open"
On the latest nightly, the ImageJ1 Script Node Config does not open at my machine. Anyone who has the same problem?

[2015-06-18 15:25] maierl opened #143 "Image Writer: avi / mov files"
When writing .avi or .mov files with the latest nightly, the videos have the expected length but only the first frame is displayed.

BTW: where can I find docs on the "Native QT" format? VLC says it cannot play the "twos" encoded video.

[2015-06-22 08:05] maierl opened #144 "Splitter: keep undefined cells"
Please keep undefined cells when splitting images. I have cases where the image could not be captured and would like to keep them as undefined, e.g. for the column to grid node to get an equal amount of images per case.

[2015-06-22 08:09] maierl opened #145 "Img Writer: write multiple columns of images"
The Image Writer should allow to write multiple columns of images, e.g. by appending or prefixing the column name to the file name given, maybe with a separator.

Maybe a bit technical, but I would prefer just to enter a Java Format string for the file name.

[2015-06-22 09:09] gab1one commented on #145
you can do this using a column iterator loop, take a look at this (example workflow)[https://github.com/gab1one/knip-examples/releases/download/multiple-columns/Multiple.column.img.writer.example.zip]

[2015-06-22 09:10] #145 closed

[2015-06-26 09:05] maierl opened #146 "Image Cropper: flow variable for "from - to""
For the image cropper there is no option to enter the from-to string (eg. X: 100-200) as a flow variable. Only the int array [100, 101, ..., 200] could be entered as individual flow variables =/

[2015-07-19 10:43] dietzc commented on #144
I don't exactly know what you mean by this? Are you suggesting that, if an image has for example only two channels instead of three, that we then add a missing cell to the end of the row, if there is another image with three dimensions?

[2015-07-19 10:46] dietzc commented on #141
we should add the option to remove all  class labels, but only if "add unique segment id" is activated in the other configuration tab. as this seems to be a bit unintuitive, we should move the "add unique segment id" configuration to the main panel.

[2015-07-19 10:49] dietzc commented on #139
isn't this what you guys are looking for?

[2015-07-19 10:53] dietzc commented on #130
another idea would be to upsample the image.

[2015-07-19 10:57] dietzc commented on #100
this should be done by BDV or SCIFIO themselves.

[2015-07-19 10:57] #100 closed

[2015-07-19 11:00] dietzc commented on #62
@gab1one any news? can this be closed?

[2015-07-19 11:00] dietzc commented on #58
was this fixed already?

[2015-07-19 11:00] dietzc commented on #50
in ops!

[2015-07-19 11:05] dietzc commented on #40
open points:
[ ] https://github.com/imagej/imagej-ops/issues/67. make sure all of these features are implemented and tested.
[ ] provide benchmarks (comparison against old node, analysis where performance is lost etc).

[2015-07-19 11:17] dietzc commented on #142
@maierl do you still experience the problem? I tried to reproduce it on windows with the latest nightly build and it seems to work just fine.

[2015-07-20 13:45] maierl commented on #144
When I have multiple rows containing either an image or ‘undefined’, then currently the undefined values are not ‘split’, but thrown out. I’d like them to be ‘split’ just the same way as all the other images.

Especially in combination with the column to matrix node, it is important that the total number of rows does not change.

Current solution: split, outer join, sort again, column to matrix th

[2015-07-20 13:48] maierl commented on #139
For autosaving yes, but not for saving manually.

My typical use-case does not need the data to be saved with the workflow. Rather, I’d like this as an opt-in.

When I accidently save without having the Don’t Save Start / End nodes already, KNIME is unresponsive for hours.

[2015-07-20 13:52] maierl commented on #130
Which would increase the memory usage around 5-fold, especially with confocal images.

If this request is asking for too much, maybe at least the Z-dimension should be treated differently from X/Y, e.g. with the local threshold environment being 3 planes in Z and 50 pixels in X/Y.

[2015-07-20 13:54] dietzc commented on #130
Virtual up-sampling won't increase the memory consumption at all. If you would save it it would precisely increase the memory consumption by the calibration of z.

However, if we implement algorithms with respect to calibration, we would treat the Z-Dimension relative to X,Y. I don't see another use-case... yet.

[2015-07-20 14:05] maierl commented on #142
Seems to work just fine again, thanks!

[2015-07-20 14:08] maierl commented on #130
Is KNIME already using virtual up-sampling? Sorry if I didn’t notice.

What if the Z calibration is not divisible by the X/Y calibration? Wouldn’t that introduce artifacts?

[2015-07-20 14:10] dietzc commented on #130
we don't. but we could (and should) :+1:

[2015-07-21 11:19] maierl commented on #130
Virtual up-sampling sounds like a pretty advanced feature to me. Wouldn’t allowing for different x/y/z ranges be much easier / quicker to implement?

[2015-07-21 14:40] maierl commented on #142
Just tested it on another machine, there the ImageJ1 Config still doesn’t open.

[2015-07-21 14:42] dietzc commented on #142
latest nightly build? freshly installed KNIME image processing?

[2015-07-21 15:03] maierl commented on #142
latest: sure.

freshly installed: just updated. Would it be enough to merely uninstall knip within knime and reinstall it?

[2015-07-23 11:19] DanielSeebacher commented on #134
I can't really reproduce the issue. The model is a little bit weird, if you want to change the third threshold factor for example, you have to change it by setting the fifth ((2 * i)- 1) flow variable. But apart from that it seems to work.

[2015-07-23 11:41] DanielSeebacher commented on #115
Fixed in ef4f457bf2b0717d8284befa48d2186b23c5ad00.

[2015-07-23 11:41] #115 closed

[2015-07-24 12:58] maierl commented on #142
a fresh install of whole knime did the job.

[2015-07-24 12:58] #142 closed

[2015-08-01 22:33] dietzc commented on #139
true. I hope compression and streaming will make this less annoying. However, this is a general KNIME feature request, therefore I suggest to ask here: https://tech.knime.org/forum.

[2015-08-01 22:33] #139 closed

[2015-08-01 22:34] dietzc commented on #134
can you improve the documentation, such that its more obvious (as stated in the mail of Marc).

[2015-08-04 07:00] DanielSeebacher commented on #35
Contour Tracing is already implemented in imagej-ops (see https://github.com/imagej/imagej-ops/blob/outputop-service/src/main/java/net/imagej/ops/geometric/polygon/DefaultMooreContoursOp.java) but the pull request (https://github.com/imagej/imagej-ops/pull/110) is still open.

[2015-08-04 07:09] dietzc commented on #35
yes. but we have to make an explicit PR for that as soon as https://github.com/imglib/imglib2-roi/pull/13 has been merged or an alternative for this exists.

[2015-08-05 16:16] gab1one opened #147 "Convolution Kernel Creator strangeness"
In the Trackmate Example workflow, the Convolution Kernel Creator fails when executed with the preset parameters with an WARN  Convolution Kernel Creator 0:32:25:9  failed to apply settings: java.lang.ArrayIndexOutOfBoundsException: 3

There seems to be a problem with the loading of the settings models

[2015-08-10 14:17] maierl opened #149 "NPE on groupBy"
In Knime 2.12 and stable KNIP, groupBy throws a NullPointerException in [this workflow](https://powerfolder.dkfz.de/dl/fiGbqfDjWbWKb8RsLWibRMvt/npe_on_groupBy.zip).

[code]

[2015-08-10 14:37] dietzc commented on #149
thx! fixed!

[2015-08-10 14:37] #149 closed

[2015-08-11 10:52] maierl opened #150 "Don't Save Start / End: NPE"
In Knime 2.12 and stable Knip, when I have data behind a Don't Save End node, the workflow cannot be saved.
[code]

[2015-08-11 11:19] dietzc commented on #150
KNIME 2.12 with KNIP nightly or stable? We have our own versioning within KNIP.

[2015-08-11 11:22] maierl commented on #150
stable (updated issue, too)

[2015-08-11 11:23] dietzc commented on #150
is fixed in nightly.

[2015-08-11 11:23] #150 closed

[2015-08-12 10:27] tibuch commented on #127
Up, down, left, right arrows should be linked to up, down, left, right arrows on keyboard.

[2015-08-12 10:28] dietzc commented on #127
Somehow this indicates that the hiliting mechansim of KNIME is enabled, which is not the case. Maybe we can use another mechansim/color to hilite the selected cell (red overlay or so?).

[2015-08-12 10:29] dietzc commented on #127
In general we should add more hot-keys. We could use the same hotkeys as the big-data-viewer does (if applicable).

[2015-08-12 10:38] DanielSeebacher commented on #127
- [ ] Tooltips. I know what the buttons are doing because I saw the presentation, but a new user might not understand them
- [ ] Normalize by default?

[2015-08-12 10:41] dietzc commented on #127
I'm also happy for design-suggestions. Somehow I still have the feeling that we waste a lot of space.

* [ ] Boxes on the right, so be auto-aligned to the top such that they are not jumping around
* [ ] Default sice of view should match with image

[2015-08-12 11:08] seebacherd opened #151 "Image Reader 'Column Selection'"
Every single of our image nodes has a column selection dialog where we can either choose between New Table, Append and Replace. But the Image Reader doesn't have that option. I don't know if I'm the only one needing that, but I would really appreciate if the Image Reader would also have that option, if an file name column is set. New Table works as it currently does, Replace would replace the file

[2015-08-12 13:42] dietzc commented on #151
makes sense. In the future we will have two `Image Reader` nodes to avoid any confusion with the optional inport (and also to be more KNIMEIsh).

[2015-08-12 15:43] maierl commented on #127
The hiliting vs selection could be confusing, but using a border in general seems fine to me. A colored overlay on a color image will cause problems.

[2015-08-13 15:38] dietzc commented on #127
* [ ] check for other integrations (BDV Beta, ClearVolume, ImageJ3D) if they still work in the new viewer. At the moment, some of them (ClearVolume) don't. make sure they work.

[2015-08-20 11:01] tibuch commented on #127
After opening the viewer Normalize is active but the Saturation slider is inactive.

[2015-08-25 18:55] dietzc commented on #127
* [ ] Unsupported cells should be either ignored or the user should have the possibility to skip the unsupported cells. at the moment, the user is stuck.

[2015-08-25 20:39] dietzc commented on #127
* [ ] Table Cell Viewer should still be available as a single node

[2015-08-26 07:21] dietzc opened #155 "TrackmateTracker: All columns seem to be used during tracking"
Even if columns are ignored in the column selection, they seem to be accessed by the TrackMate Tracker Node.

[2015-08-26 12:43] #155 closed

[2015-08-26 12:44] dietzc commented on #127
* [ ] Renderer Selection should be a drop-down box.
* [ ] Add renderer: Outline renderer (using ops, has to be delayed until functionality is available in Ops)
* [ ] BoundingBoxRenderer with names enabled should render names next to each other
* [ ] Double-check if bounding-boxes retrieved from renderer are correct (seems to be a bit buggy for cells which touch the border).

[2015-08-31 07:45] dietzc opened #157 "New Node(s): Split up Image Reader to two nodes"
One node should be configurable via dialog, the other one gets file paths as input table.

* [x] Testflows
* [x] Deprecation
* [x] Make them streamable

[2015-08-31 07:59] dietzc commented on #40
More suggestions:
* [ ] Allow output of average for haralick-features.
* [ ] Find nice solution for current `LabelingFilter` implementation (avoid usage of too many nodes!!!!!!!).
* [ ] Testflow

[2015-09-01 12:58] DanielSeebacher commented on #134
@dietzc  please check if the description is now detailed enough. can be closed afterwards.

[2015-09-01 19:53] DanielSeebacher commented on #134
@dietzc I haven't opened a pull request for this issue. I just pushed the changes to the rc_1.4.0 branch, see commit 872aa2841a74941cf5b02f8876af1e0e3c5c4552. In my opinion a pull request isn't necessary, since I've only updated the description. There are no functional changes in this commit.

[2015-09-02 07:47] dietzc commented on #134
oh wow this is complicated. but I think there is no way around it in the short run. thanks

[2015-09-02 07:47] #134 closed

[2015-09-02 08:30] maierl opened #160 "Image Writer: two-channel images"
When I try to write a two-channel PNG / JPEG image with the new image writer, I expected to get the same image written as displayed (red / green). Instead, only the first channel is written black/white.

The old image writer didn't produce any readable result.

[2015-09-03 16:11] seebacherd commented on #34
Can be closed, merged with #159 .

[2015-09-03 16:11] #34 closed

[2015-09-05 13:02] #157 closed

[2015-09-08 08:16] maierl opened #163 "Image Properties: NPE"
My minimal workflow at https://powerfolder.dkfz.de/dl/fi2mon3vAPgkBQ93tDroJvX7/bug.zip throws an NPE at the Image Properties Node and "Potential deadlock in SWT Display". Log file is included.

Tested on the stable and the latest nightly build.

[2015-09-08 12:13] maierl opened #164 "Image Reader (nightly): Settings"
An image reader node created with the stable KNIP that had the "OME-XML" option set does not have that option activated when imported in the nightly.

[2015-09-08 12:17] maierl opened #165 "Image writer: config"
In the latest nightly, the config pane of the image writer doesn't open.

[2015-09-08 12:34] maierl commented on #163
the NPE does not occur anymore when the origian images are read with the nightly, as opposed to the input table stored previously with the stable version.

[2015-09-08 13:34] maierl commented on #164
well, once again: fresh install of knime, knip nightly and all the necessary extensions solved the problem. anyway: i'd prefer that not to be necessary every few weeks.

[2015-09-08 13:46] maierl opened #166 "Image writer: filename should allow directories"
When the "create non-existing directories" options is checked, the filename should allow sub-directories.
Another great option would be absolute paths as input option.

[2015-09-08 14:12] gab1one commented on #166
@maierl regarding the absolute paths as input option, you can already change the output directory via flow variable. An other option is to set the output folder to your rootdirectory, and provide the paths via the name column.
The file name field already allows subdirectories if they exist, I will look into creating the folders from the file name as well.

[2015-09-08 14:27] maierl commented on #166
Thanks for looking into this!

Maybe I am too picky on that, but selecting the root directory is not OS independent. My own solution looks for the longest common path of the files, but that's a bit too complicated for a simple task.

[2015-09-08 15:41] gab1one commented on #166
That is true, your proposed functionality is a good addition to the node. It  will definitively featured in the next release of KNIP.

[2015-09-08 19:40] maierl commented on #165
I could fix that by a fresh installation of Knime, the necessary plugins, and Knip. I'd prefer it if that wasn't necessary every few weeks.

[2015-09-08 19:40] #165 closed

[2015-09-08 19:57] dietzc commented on #165
you are working on the nightly build. It might be the case that you still have to do it once in a while. Use stable instead. We try to release more often.

[2015-09-08 21:00] maierl commented on #160
tested with an artificial third channel (hoping rgb images would be fine), but still only first channel gets written.

[2015-09-08 21:02] maierl commented on #165
that's ok :)
well, I try to use stable as much as possible, and switch only when necessary.

anyway, I'm looking forward for the next release! :+1:

[2015-09-08 21:09] maierl commented on #163
just produced another unreadable image + npe on the nightly.
https://powerfolder.dkfz.de/dl/fiGHzZ4AnnebcfpkAjMVmaZd/img_broken_again.zip

[2015-09-08 21:53] maierl commented on #163
trying to have a closer look at row containing the broken image didn't show any content in the out port viewer, even with the image columns removed. the 'cache' node allowed to view the strings then.

when I call it with the images included, I get a stack trace at last

[code]

[2015-09-08 22:03] maierl commented on #163
the broken images seem to be hard to reproduce. merely re-executing the workflow from the last node that modified the images (Splitter) helped, this time.
Interestingly, the loop end node executed instantly this time as opposed to writing lots of image data last time. Back then, one of the input images was already broken prior to the loop end node.

[2015-09-09 08:02] #151 closed

[2015-09-09 08:03] #62 closed

[2015-09-09 08:49] maierl opened #167 "Max Filter slowness"
I am aware that KNIME is much more general than ImageJ, but the Max Filter there executes in < 1s for my images, whereas Knime takes ~10 minutes for a radius of 20 pixels. Typically I'd just use the IJ1 macro, but that [doesn't seem to be possible from the console](https://tech.knime.org/forum/knime-image-processing/problem-with-imagej-node-if-run-from-console).

Will that get better with the IJ O

[2015-09-09 11:10] Fritze opened #168 "Segment Features node - problem with label dependencies"
Hi,

I recently ran into a problem with the Segment features node. I merge two labelings with the Labelling Arithmetic node and try to get the Label Depencies with the Segment Features Node.
Even if there are overlapping segments, the Segment Features Node detects none of them.
If I try again with activated "Segments do not need to completely overlap" option, everything works fine and I get the ex

[2015-09-09 12:14] Fritze commented on #168
I saved my "fixed" workflow (after checking and unchecking of the overlap option as explained above).
Now I am trying to run this one in the console. Again, the node does not detect any labelling dependencies.
Any ideas how to fix this?

[2015-09-09 19:45] dietzc commented on #167
It will hopefully be faster.

[2015-09-09 19:46] dietzc commented on #168
we certainly have to fix this on our side. Thanks for reporting... I will have a look and make sure that this won't happen anymore with our next release.

[2015-09-10 14:21] gab1one commented on #138
I did not receive example images, could not reproduce this bug with other pictures.

[2015-09-10 14:21] #138 closed

[2015-09-10 14:37] #166 closed

[2015-09-10 15:01] gab1one commented on #135
@seebacherd Now it fails very gratefully, I think it should at least log an error instead of just an warning

[2015-09-10 15:29] gab1one commented on #79
This should be easy to do using [this](https://github.com/scifio/scifio/blob/master/src/main/java/io/scif/img/ImgOpener.java#L215) method.

The [ScifioImgSource](https://github.com/knime-ip/knip/blob/master/org.knime.knip.io/src/org/knime/knip/io/ScifioImgSource.java) looks like it  is in dire need of refactoring, though.

[2015-09-13 14:21] dietzc opened #174 "Make Image Generator Streamable"
see above

[2015-09-14 11:57] maierl opened #175 "GroupBy: merge images of any dimesion"
the merge images of groupBy is a very good idea, but it should allow an arbitrary dimensionality. Last time I checked, it assumed that the new dimension is always the third.

[2015-09-15 10:09] seebacherd commented on #164
Was already caused by 8336e670bee3417eceb6741fa0a095bab589ec45 in March. The old SettingsModel (a boolean model) was completely removed and replaced with different one, I don't really know how I could fix that. @dietzc any input?

[2015-09-15 10:30] gab1one commented on #164
I think we should undo that commit for the old image reader.
The new one readers will replace it and it is better to keep the old one stable.

[2015-09-15 12:13] dietzc commented on #164
makes sense. do it.

[2015-09-15 12:48] #135 closed

[2015-09-16 00:35] #174 closed

[2015-09-16 00:37] dietzc commented on #175
Hi @maierl can you elaborate a bit more about the use-case and the expected behaviour? it's actually not too trivial and obvious to me how to handle different sizes (in terms of empty value etc). Maybe this can be fixed using other nodes, rather than adding unclear functionality to the GroupBy?

[2015-09-16 00:37] dietzc commented on #168
@seebacherd can you take a look at this?

[2015-09-16 00:38] dietzc commented on #167
please make sure that max-filter of imagej-ops is used as soon as available.

[2015-09-16 00:38] dietzc commented on #164
fixed.

[2015-09-16 00:38] #164 closed

[2015-09-16 00:39] dietzc commented on #163
are you mixing versions of nightly/stable somehow? so saved workflow in (Nightly) and loaded with stable? This is a really interesting bug.

[2015-09-16 09:34] maierl commented on #163
the first example did mix the stable and nightly, whereas the second didn't. yet, the error happens only rarely, so it is hard to confirm.

[2015-09-16 09:46] maierl commented on #175
we always have 3d images.

last time, I combined various sets of them so they are all normalized by the same values within those sets, but independently between the sets. now I solved it with a GroupLoop, transpose and resetting  / restoring rowIds.

another use case is to combine time series, and sometimes also channels at the same time. for that, it needs quite a few nodes to set and combine the

[2015-09-16 14:35] dietzc commented on #175
ok, but why do they differ in dimensionality? usually in a batch environment, the image conditions don't change too much?

[2015-09-16 17:29] maierl commented on #175
Ok, let me be a bit more exact. The GroupBy currently assumes the new dimension is always the third.
That aside, the images to be merged do have the same number of dimensions, and typically the same size in each dimension.

The new dimension may differ in size, eg I have multiple sets of 10 or 11 positions (xyzc images) that should be joined.
If merging these new images again (now they differ in t

[2015-09-16 18:24] dietzc commented on #175
Ok the first part I understood and agree, the merge in the GroupBy should be more flexible.

However, why do you have different Z-Stack sizes (curiosity, we can make it happen in the merger (I think).

[2015-09-16 18:34] dietzc opened #180 "Consider renaming and consistent wording"
I got feedback from several power-users that they would prefer if we have a consistent naming of nodes / algorithms with the rest of the world (pfff ;-)).

Following suggestions:
* Labeling -> Segmentation
* BitMask -> RegionOfInterst
* Img -> Image (consistency issue)
* TableCellViewer -> Image Viewer (c'mon)

We have to think about it.

[2015-09-16 19:52] maierl commented on #175
The z-stacks would have the same number of slices, but I don't always pick the same number of example positions per subset. That would make e.g. 512x512x21x5 xyzc each, but a varying number of those per subset.

[2015-09-17 23:49] dietzc commented on #175
and why do you want to merge them?

[2015-09-17 23:50] dietzc commented on #146
@seebacherd can this be closed?

[2015-09-17 23:51] dietzc commented on #143
@gab1one whats the status on this? post-pone to 1.4.1?

[2015-09-17 23:51] dietzc commented on #133
@angrauma any news on this?

[2015-09-17 23:51] dietzc commented on #93
@seebacherd can this be closed?

[2015-09-17 23:51] dietzc commented on #94
@angrauma any news on this?

[2015-09-17 23:52] dietzc commented on #112
@seebacherd  any comments?

[2015-09-17 23:52] dietzc commented on #79
@gab1one @seebacherd any news on this?

[2015-09-17 23:53] dietzc commented on #70
@AndreasBurger any news on this?

[2015-09-17 23:53] dietzc commented on #38
@angrauma any news?

[2015-09-17 23:54] dietzc commented on #125
@angrauma any news?

[2015-09-18 05:19] maierl commented on #175
That would allow me to easily normalize the images with the same value per subset, so they stay comparable within those.

[2015-09-18 05:38] maierl commented on #167
is there no way this can make it to the 1.4.0? this feature is more urgent for me than almost all others scheduled for 1.4.0.

[2015-09-18 07:39] gab1one commented on #131
Further improvements depend on changes in SCIFIO, I will talk with Mark about that.

[2015-09-18 10:49] gab1one commented on #143
Yes, this seems to be related to the other writing bugs

[2015-09-18 11:40] maierl opened #181 "IJ1 node fails to execute in batch mode"
In batch mode, the IJ1 Node does not find any commands (tested Options, Watershed, and Maximum). The same node executes successfully within the GUI.

[code]

[2015-09-18 11:52] maierl commented on #167
#181 would be a good alternative for me, if that's easier.

[2015-09-21 06:52] dietzc commented on #167
you can use the maximum filter in Ops via the new scripting integration.

[2015-09-21 09:00] maierl commented on #167
glad to hear that :+1:

[2015-09-21 11:20] maierl opened #182 "Joiner: endless loop"
On the nightly, I get an error of the Joiner node rather often that states that memory is low and that this may cause an endless loop. Most often, it does loop endlessly then.

Interestingly, when I cancel the execution of the joiner and manually run the Garbage Collection, freeing memory is often possible. Last time, this left me with only 3gb of 50gb memory in use.

Nevertheless, even when the m

[2015-09-21 13:36] dietzc opened #183 "ImageReader2 Testflow: Failing due to changes in"
https://github.com/knime-ip/knip/commit/ec204a03d379db8937e65487e9c01805433c4fca

I think some (now deprecated nodes) have been created with node settings prior to this commit. please update workflow accordingly (e.g. re-execute or resave parts of it).

[2015-09-21 14:00] dietzc opened #184 "Introduce 2 Level Cache"
First level: n-% of memory fixed size (user parameter). If full: serialize objects and put into second level cache (based on weak-keys and weak-values).

[2015-09-21 14:20] dietzc opened #185 "Streaming Testflow fails"
@seebacherd can you check why the flow is failing? I suppose it has something to do with the `Image Reader (From Table)` as the image dimensions are fundamentally different in the two branches (one has a time dimension with `50`. The other doesn't!

[2015-09-23 09:33] Treiblesschorle opened #186 "ImageReader(Table) Can't read URL"
Reading images from the internet doesn't work anymore.
Example: http://tech.knime.org/files/knimeip/3dexample.ome.tiff

[2015-09-23 09:38] dietzc commented on #186
@seebacherd

[2015-09-23 10:32] Treiblesschorle opened #187 "Image Viewer: missing back button"
There is no back button in the view of cells which doesn't contain images.

[2015-09-24 10:05] Treiblesschorle opened #188 "Convex Hull: creates completely black images"
Worked fine in knip 1.2 with the same setup. If the fill hull option is checked it only outputs zero for the whole image. Also, if fill hull is not checked throws ArrayIndexOutOfBoundsException.

[2015-09-27 10:55] dietzc commented on #188
Can't confirm. Testflow runs smoothly. Can you provide a (minimal) example workflow which reproduces the problem? Optimally, you can use the Image Generator to generate test images.

[2015-09-27 14:48] dietzc commented on #35
done

[2015-09-27 14:48] #35 closed

[2015-09-27 14:49] dietzc commented on #41
@seebacherd can we close this issue?

[2015-09-27 14:50] dietzc commented on #168
@seebacherd @tibuch this should be resolved with the new `Feature Node`, right?

[2015-09-27 14:50] dietzc commented on #160
@gab1one any news on this?

[2015-09-27 16:08] gab1one commented on #160
I can confirm this bug, no idea what is causing it though yet.

[2015-09-28 10:07] #186 closed

[2015-09-28 11:37] seebacherd commented on #183
Yes, configuration problem of the deprecated node. Fixed that and uploaded the new test workflow.

[2015-09-28 11:37] #183 closed

[2015-09-28 11:39] seebacherd commented on #185
The already exectued branch of the test workflow had a bug (didn't read the time dimension). I fixed that by re-executing that branch. Now the non-streaming and the streaming branch both produce the same results.

[2015-09-28 11:39] #185 closed

[2015-09-28 11:49] seebacherd commented on #146
Yes if the pull request is merged.

[2015-09-28 11:55] #146 closed

[2015-09-28 12:11] seebacherd commented on #41
@maierl I've kinda added the functionality to the new image reader (you can select min and max index and it reads everything in between) but I need an image to verify if the functionality is working. Do you have an example image for me?

[2015-09-28 15:16] seebacherd commented on #125
fixed. added test to the existing splitmerge test workflow.

[2015-09-29 08:49] maierl commented on #41
@seebacherd there it is: https://powerfolder.dkfz.de/dl/fiJEgZVx2rLg85FP96JvJ66p/IP-Create_Image_Subset-01.czi

[2015-09-29 11:03] gab1one opened #190 "Image reader are in the wrong category"
They are in the Labeling category but should be in I/O
@seebacherd

[2015-09-30 12:00] Treiblesschorle commented on #188
https://depot.uni-konstanz.de/cgi-bin/exchange.pl?g=qxvw6m3xgv

[2015-10-01 09:36] dietzc commented on #188
fixed in https://github.com/knime-ip/knip/commit/6e7f094370699d676e0ec08430d9a99363bf235b

[2015-10-01 09:36] #188 closed

[2015-10-01 10:22] #190 closed

[2015-10-01 10:22] dietzc commented on #182
should be fixed in next release. thanks for reporting.

[2015-10-01 10:22] #182 closed

[2015-10-01 16:15] dietzc commented on #125
awesome thanks! You can close issue on your own btw ;-)

[2015-10-01 16:15] #125 closed

[2015-10-01 16:16] #93 closed

[2015-10-01 16:17] dietzc commented on #41
@seebacherd fixed?

[2015-10-05 13:26] dietzc commented on #94
`GaussNativeTypeNodeFactory`

[2015-10-05 13:26] #41 closed

[2015-10-05 13:27] dietzc opened #191 "Image Reader"
Set type of output image in `Image Reader`.

[2015-10-05 13:28] dietzc commented on #168
will be solved in new feature node!

[2015-10-05 13:28] #168 closed

[2015-10-05 14:34] seebacherd commented on #94
Check if you're happy with the changes, issue can be closed than. Test Workflow is KNIME_testing_GaussianConvolution2.

[2015-10-08 09:37] Fritze opened #194 "Cannot read labeling with Labeling Arithmetic node"
Hi,

I recently ran into a problem with the labeling arithmetic node. I want to merge two different labelings. However, sometimes I get a nullpointer execption saying that KNIME 'can not read labeling'. I include an example workflow together with the corresponding data. Checking/Unchecking the 'virtually extend' box gives me two different error messages. I think that the spheroid labeling data was

[2015-10-08 09:40] dietzc commented on #194
Hi @Fritze! Thanks for reporting the bug. Can you tell us your KNIP/KNIME version?

[2015-10-08 10:33] Fritze commented on #194
KNIME Analytics Platform	2.12.0.0048122
KNIME Image Processing	1.3.0.201508111623

[2015-10-08 12:02] dietzc opened #195 "Make all nodes Streamable"
* [x] Image Calcualtor
* [ ] Splitter
* [x] SetImageMetadata

[2015-10-08 12:08] dietzc commented on #195
and
* [ ] Image Calcualtor

[2015-10-08 13:54] Fritze opened #196 "Problem when joining labeling source with labeling on LINUX"
Hi again,

I have a problem joining a labeling with its respective labeling source. One of the two inputs contains three rows (see input1_joiner.png).

Using KNIME locally on my windows PC, everything works just fine and the joiner gives out a table containing three rows, as expected with the inner join (KNIME 2.12.0, KNIP 1.3.0.201508111623 ). Testing the same workflow on Linux ( KNIME 2.12.1, la

[2015-10-08 14:36] dietzc commented on #196
Hi Friedrich,

I have very, very, very strong doubts that the `Joiner` behaves different on Linux/Windows, as this node is tested by over 100k users world-wide. Rather something with the image source might have changed, as the image source corresponds to the file path of your image. Potentially, you try to join a labeling with another labeling (join works on sources), which have different file pat

[2015-10-08 21:02] dietzc commented on #196
Hi @Fritze,

as already mentoined, the `Joiner` should work as expected. Which output is expected? If it would be a joiner bug, the problem should be independend of images and reproducible with the `Data Generator`.

The other problem, where you saved images, which can't be read in anymore: Is this problem reproducible with your workflow? It's really hard to debug, as I don't know what's going on

[2015-10-08 21:04] dietzc commented on #194
Hi @Fritze,

As you already said, something seems to go wrong earlier, potentially during the serialization of the `Labeling` in another node. Is the problem reproducible on your machine and can you tell me how to reproduce it?  It would be easier for me to debug the problem if I know how to reproduce it.

Thanks!!

Christian

[2015-10-09 08:08] seebacherd commented on #195
Splitter would take too much time to be included in the 1.4.0 release. Changing the milestone to 1.4.1.

[2015-10-12 17:11] gab1one commented on #143
Could not reproduce this with the current nightly. The writer results look good now.

[2015-10-12 17:11] #143 closed

[2015-10-15 09:09] #191 closed

[2015-10-15 09:10] #94 closed

[2015-10-15 10:35] gab1one commented on #160
As this seems to be an upstream problem we need more time to fix it.

[2015-10-15 10:44] gab1one opened #201 "OME.tif writing and reading results in metadata loss and channel mixup"
There seem to be problems in SCIFIO with the ome.tif format, I reported the bug in may
https://github.com/scifio/scifio/issues/273 but so far no fix.

[2015-10-15 14:33] dietzc opened #202 "LabelingEditor: Add Testflow for Community Server"
@gab1one

[2015-10-15 14:34] dietzc opened #203 "FeatureNode: Add Testflow to community server"
@tibuch @gab1one

[2015-10-15 14:34] dietzc opened #204 "Interactive Labeling Annotator: Add testflow to community server"
-

[2015-10-15 14:39] gab1one commented on #202
done

[2015-10-15 14:39] #202 closed

[2015-10-15 14:40] gab1one commented on #203
Warte auf node die läuft @seebacherd @tibuch

[2015-10-15 14:42] gab1one commented on #79
closed by #193

[2015-10-15 14:42] #79 closed

[2015-10-15 15:08] gab1one commented on #204
done

[2015-10-15 15:08] #204 closed

[2015-10-19 07:34] dietzc commented on #40
TODOs:
* [ ] Append original input on selection (and also create correct spec) @tibuch
* [ ]  Append label information if desired @tibuch
* [ ] Filter labels if wanted, else ignore filtering

* [ ] Multi-threading over LabelRegions @dietzc
** Use futures to make sure that order stays the same!!

* [ ] Make Geometric3DFeature working again @seebacherd
* [ ] Local Binary Patterns Feature Set
* [ ] W

[2015-10-19 07:49] dietzc commented on #203
closed in favour of https://github.com/knime-ip/knip/issues/40

[2015-10-19 07:49] #203 closed

[2015-10-19 15:14] seebacherd commented on #40
all done. @dietzc Center of Gravity and Centroid still don't work. They would need an input during configure() which is null at that point.

[2015-10-19 15:15] dietzc commented on #40
Thanks! I will take care of that!!

[2015-10-19 16:19] dietzc commented on #40
one thing I forgot: we have to add the `FeatureSet` for image moments (hue, centralized, normalized etc).

[2015-10-19 19:59] seebacherd commented on #40
No we don't. This feature set was already added in db71138.

[2015-10-19 20:08] dietzc commented on #40
Pure awesomeness ;)

[2015-10-20 07:37] tibuch opened #205 "Disable Label Segment Settings Tab of Feature Extractor Node"
The Label Segment Settings Tab of the Feature Extractor Node should be disabled if only a img column is selected as input.

[2015-10-20 07:48] tibuch opened #206 "Unique Column Names"
Every node should generate unique column names. To ensure unique column names one can use some util-classes from KNIME.

Example Code:
Only one column:
[code]

More than one column:
[code]

[2015-10-20 08:09] tibuch commented on #206
Nodes with unique column name support:

* KNIME Image Processing
  * IO
    * Other
      * [ ] Convolution Kernel Creator
      * [ ] Image File Linker
      * [ ] Image Importer (deprecated)
      * [ ] Structuring Element Creator
    * [ ] Image Generator
    * [ ] Image Reader
    * [ ] Image Reader (Table)
    * [ ] Image Writer
  * Image
    * Binary
      * [ ] Binary Image Operations

[2015-10-20 11:37] gab1one commented on #40
there is still a nullpointer when trying to use the center of gravity feature
	``org.knime.knip.features.sets.CenterOfGravityFeatureSet.getFeatures(CenterOfGravityFeatureSet.java:78)``

[2015-10-20 11:38] dietzc commented on #40
we are not done with the refactoring,yet. I will let you know (tomorrow).

[2015-10-20 11:38] gab1one commented on #40
:+1:

[2015-10-20 12:30] hornm opened #207 "Colorspace Converter Node"
A new node that converts between different colorspaces, e.g. rgb, hsb and lab ...

[2015-10-21 07:43] tibuch opened #208 "Feature Node: Encountered duplicate row ID"
I get this error if I use the "Interactive Annotator" to create a segment.

Example Workflow:  https://depot.uni-konstanz.de/cgi-bin/exchange.pl?g=gdv7386lwe

[2015-10-21 14:45] dietzc opened #215 "Introduce KNIPLogService"
We may want to introduce a special `LogService`, the `KNIPLogService extends LogService` which also gets information about who is calling the `LogService`, e.g. a node and creates appropriate messages which are in-turn delegated to the `LogService` itself.

* [x] Create and define `KNIPLogService` interface
* [ ] Adapt all classes, i.e. get rid of `NodeLogger.` calls.

[2015-10-21 20:09] dietzc commented on #208
fixed.

[2015-10-21 20:09] #208 closed

[2015-10-21 20:09] dietzc commented on #132
@AndreasBurger can this issue be closed?

[2015-10-21 20:10] dietzc commented on #70
@AndreasBurger can this issue be closed?

[2015-10-21 20:13] dietzc commented on #40
@gab1one @Treiblesschorle I just merged the node. You can create a test-flow, example flow etc and test the node tomorrow. The testflow should comprise a test for each feature set, regression sets. and many misconfigurations should be checked (3D Geometric + 2D Dim Selection etc). Let me know if you find bugs or if some stuff is not intuitive etc.

@tibuch @seebacherd the xml description is very p

[2015-10-21 20:28] seebacherd commented on #40
@dietzc Nodefactory.xml or the description in the info dialog?

[2015-10-21 20:29] dietzc commented on #40
the NodeFactory.xml. I just pushed some more fixes. Node should be working now! Thanks!!

[2015-10-21 20:32] seebacherd commented on #40
I can try if I can fit that in my schedule, but I'm away till monday. I most likely have to delegate this responsibility to @tibuch.

[2015-10-21 20:32] dietzc commented on #40
all right. let's see who ever is first ;-)

[2015-10-21 20:44] AndreasBurger commented on #70
Since the execute-method was carried over from the previous iteration - not yet. However, due to some changes in the way the converter stores changes I'll have to look if it's still possible.

[2015-10-21 20:45] dietzc commented on #70
can't we simply check if a `Labeling` was modified and if not we just pass the source `DataCell`to the out table?

[2015-10-21 21:49] AndreasBurger commented on #70
Yes, however we'd need to check for each original label whether it was changed or not. So - one check, i.e. set comparison, per index.

Shouldn't be too hard, actually. I'll get right to it.

[2015-10-21 21:51] dietzc commented on #70
what about a general `dirty flag` which is true on the first change of the incoming `ImgLabeling`?

[2015-10-21 21:56] AndreasBurger commented on #70
Good point. Will do.

[2015-10-21 21:57] dietzc commented on #70
:+1:

[2015-10-21 22:07] AndreasBurger commented on #132
Off the top of my head, and since my markup-fu isn't very strong:

1. Should be handled by the new normalize settings.
2. Probably still the case. However, that sounds like some default-y problem, so hopefully easy to fix.
3. The old implementation had to convert the whole image on load. The new one should only have to do that when drawing. Subtle difference, but should halve loading times.
4. Exe

[2015-10-21 22:39] AndreasBurger commented on #70
The necessary methods are created, however there are some type issues: Output labeling is expected to be String, however input is not restricted.
I've included a hook in the execute method - I will get to it once I figure out the necessary type-wrangling code. Alternatively, might be an easy fix for you, @dietzc .

Removing the explicit output-type-restriction is another option, I guess.

[2015-10-22 08:12] dietzc commented on #132
@maierl we improved the `LabelingEditor` a lot for the next release. However, there still might be possible performance (runtime/memory) improvements or minor other issues with the next version. It would be great if you could file issues for anything you find. The new `LabelingEditor` will be part of the KNIP release for KNIME 3.0 next week.

Additionally, @AndreasBurger will file issues for any o

[2015-10-22 08:54] dietzc opened #217 "Image Viewer: Allow Hiliting"
The current `Image Viewer` should support hiliting. This includes:

* [ ] Context Menu of `Interactive Segmentation View` (hilite mode etc)
* [ ] There should be a panel on the right where the user can manipulate the label name (currently part of the dialog of the `Interactive Segmentation View`.

[2015-10-22 09:06] dietzc opened #218 "Image Viewer: Channel Configuration"
Add a panel (if dimension `Channel` is present) which allows you to

* [ ] Select an arbitrary Color for each channel (or even a color table?)
* [ ] Determine transparency of individual Channels
* [ ] Adds checkbox `split-channel` which puts each channel in an extra tab (see merged view). The splitting should be done virtually. However, each channel is then represented as an own image.

[2015-10-22 09:07] dietzc opened #219 "Image Viewer: Beautify Img/Labeling Selection Panel"
Currently, the panel at the top of an `Img` / `Labeling` is really not too beautiful. We can either get rid of it and write all necessary information into the image itself (see e.g. BDV integration) or we think about a more beautiful and also more informative way of displaying this information.

[2015-10-22 09:09] dietzc opened #220 "Image Viewer: Add Min/Max Selection Panel (see ImageJ)"
Allows to

* [ ] set minimum / maximum values for the image given a histogram and a transfer function.
* [ ] allows to automatically set minimum / maximum values (normalization of image).
* [ ] allows to select if one wants to modify the currently visible plane or the entire image (in the case of multi-dimensional images).

replaces current normalization/saturation panel.

[2015-10-22 09:14] dietzc opened #221 "Image Viewer: Help Button and Documentation"
We should clearly have a better documentation (potentially in the xml and in a help button), which explains all the available functionality.

[2015-10-22 09:15] dietzc opened #222 "Image Viewer: Outline Renderer"
Add a renderer which only renders the outline of each segment. This will potentially be very slow. Maybe this option will only be available for `Polygon`s, which we don't have yet as a cell type.

[2015-10-22 09:17] dietzc opened #223 "Image Viewer: Allow partial rendering of images"
At the moment always the complete image is rendered (even if only a part of it is visible). Especially, if one clicks on an image and something changes (e.g. hiliting or editing a label) the complete image is redrawn, such that the change is reflected in the image. However, this is not needed, as we could repaint redraw only subsets of the image.

Supporting use-case: Super large X,Y stitched imag

[2015-10-22 09:18] dietzc opened #224 "Image Viewer: Labeling + Image Overlay"
Should support setting transparency of displayed segments per overlayed `Labeling`.

[2015-10-22 09:19] dietzc opened #225 "Image Viewer: Allow Ctrl+Click selection of arbitrary images"
At the moment only connected intervals can be selected in the table of the `Image Viewer`. However, it would be great to select arbitrary combination using `Ctrl`+left-click.

[2015-10-22 09:20] dietzc opened #226 "Image Viewer: Allow to save settings of Image Viewer"
There we have to embed our Image Viewer in the new `Interactive View` of KNIME which allow to save settings for the individual nodes.

[2015-10-22 09:21] dietzc opened #227 "Image Viewer: Allow simple measurements"
Add simple measurement tools like size or length of a line etc.

[2015-10-22 11:46] tibuch commented on #40
I added an improved description.

[2015-10-24 21:04] gab1one opened #228 "Image reader: Read files from URL's like "knime://""
This functionality is already in the node, it just needs to be exposed in the UI  better.
This could e.g. be in the form of an editable location field ?

[2015-10-24 22:10] dietzc opened #229 "Ops Migration: Make Wählby CellClumpSplitter faster and use ops"
at the moment the WählByCellClump Splitter doesn't use Ops and isn't an op itself. Additionally, it uses the old `ExtendedPolygon`.

* [ ] Refactor node using ops (backwards compatibility)
* [ ] Faster implementation
* [ ] PR on ops.

[2015-10-24 22:11] dietzc commented on #207
can this issue be closed?

[2015-10-25 11:43] gab1one opened #230 "Image Feature Calulator Node: Make Failure more visible"
- [ ] Execution errors must 't turn the node Red, (fail execution)
- [ ] If featuresets are skipped the node must output a warning ``exec.setWarning("...")``

[2015-10-25 11:51] gab1one opened #231 "Image Feature Calulator Node: Nullpointer Exception when running on Image + Labeling"
The node fails in the nodes (39:48) and (38:48)   in the Testflow (``KNIME_testing_FeatureNodeFailure`` on the community Server) when calculating Features with Image and Labeling.

Stacktrace:
[code]

[2015-10-25 16:15] dietzc commented on #231
fixed. thanks for finding this. please finish the test-flow and rename it according to the node name. thank you!!

[2015-10-25 16:15] #231 closed

[2015-10-25 16:16] dietzc commented on #230
moved to 1.4.1.

[2015-10-25 17:06] gab1one opened #232 "Feature Node: Haralic 3D ASM throws error on 3D images"
[code]

[2015-10-26 13:12] hornm opened #233 "Combine image and labeling in Image Viewer: labeling background should be entirely transparent"
If an image and a labeling is combined in the Image Viewer (i.e. the labeling is overlaid over the image), the pixels with no labels shouldn't be rendered. However, currently those pixels are rendered white and overlaid with medium transparency.

[2015-10-27 08:49] dietzc commented on #232
fixed

[2015-10-27 08:49] #232 closed

[2015-10-27 08:49] #207 closed

[2015-10-27 08:50] dietzc commented on #114
closed. will be released independently from KNIP Core

[2015-10-27 08:50] #114 closed

[2015-10-27 08:50] dietzc commented on #70
@AndreasBurger did we fix this?

[2015-10-27 08:50] dietzc commented on #40
beta released

[2015-10-27 08:50] #40 closed

[2015-10-27 13:32] hornm opened #234 "Image Viewer: Helper bar in image viewer"
Some helping notes should appear in the status bar (that has to be added) of the Image Viewer (i.e. the former TableCellView). The notes should give the user a hint, how to use it (i.e. that he either has to click on an image or click and drag in order to select multiple images).

[2015-10-27 13:51] maierl commented on #115
The Splitter does not set the source, either.

[2015-10-27 13:55] dietzc opened #235 "Splitter Node: Splitter does not set the source"

[2015-10-27 14:12] dietzc commented on #195
* [ ] Feature Calculator

[2015-10-27 14:13] dietzc commented on #163
@maierl closing for now. let me know if this pops up in 1.4.0 again.

[2015-10-27 14:13] #163 closed

[2015-10-27 17:03] dietzc opened #236 "Trackmate Tracker: Use TrackMate 2.8"
http://forum.imagej.net/t/trackmate-v2-8-0-released/248

Maybe we can integrate some more functionality like the visualization of tracks and the new trackers.

[2015-10-27 19:12] dietzc opened #237 "FeatureCalculator: Set correct axis for BitMask"
at the moment, every BitMask created by the `FeatureCalculator` get the default dimension labels assigned and not the dimension labels of the input. For example if you have a X,Y,Time image the BitMask should also have X,Y,Time labels. In case the dimension selection iterated e.g. over X,Time, the resulting BitMask should then have X,Time labels.

[2015-10-28 08:15] maierl opened #238 "Feature Calculator (BETA): Problems with Filters"
one can only remove one overlapping segment label filter at a time. the config window has to be closed, reopened and only then another filter can be removed.

[2015-10-28 09:36] dietzc commented on #238
you mean the `Feature Calculator (BETA)`?

[2015-10-28 09:46] AndreasBurger opened #239 "Interactive Labeling Editor overview button not working"
When using the Interactive Labeling Editor node, the Table Overview is not accessible since the node defaults to the first row and the corresponding button is not working.

[2015-10-28 09:48] AndreasBurger commented on #234
Done.

[2015-10-28 09:48] #234 closed

[2015-10-28 10:53] maierl commented on #238
Yes.

[2015-10-28 12:47] Treiblesschorle opened #240 "FeatureCalculator (BETA): results differ from ImageSegmentFeatures Node"
When calculating the circularity of segments on the same input image the results from the FeatureCalculator(Beta) Node is different to the results of the old ImageSegmentFeatures Node.

Example workflow: http://1drv.ms/1RBb3bN

![features_circ](https://cloud.githubusercontent.com/assets/7195415/10788837/58c05396-7d7a-11e5-9586-6400f40fa660.PNG)

[2015-10-28 13:23] dietzc commented on #240
@seebacherd maybe you can ellaborate on the difference of the results? are the differences explainable? e.g in the third row there is a huge difference in circularity.

[2015-10-28 14:08] seebacherd commented on #240
@Treiblesschorle could you compare the results with ImageJ?

[2015-10-28 14:26] dietzc commented on #240
@seebacherd compared the results with ImageJ, but talked to me offline. It seems that ImageJ and we are creating different approximations of a `Polygon` on certain edge cases. We certainly have to investigate this problems further to come up either with a fix or an explanation of the different results.

[2015-10-29 10:21] Treiblesschorle opened #241 "Image Viewer: Exception when trying to view numeric column"
If you have a table containing both image and numeric columns an exception occurs when you click on a numeric column. E.g tabels containg images and features. After that the Image Viewer doesn't respond anymore.

![imageviewerexception](https://cloud.githubusercontent.com/assets/7195415/10815863/0632cb44-7e2f-11e5-86e9-49d1eef52c3d.PNG)

[2015-10-29 13:08] Treiblesschorle opened #242 "Image Calculator Configuration Window: dynamic positioning of control elements doesn't work correctly"
If you resize the Configuration Window of the Image Calculator the positioning of the control elements only works when you make the window bigger. When making it smaller the elements stay at their position and a scrollbar appears.

http://snag.gy/GnmNp.jpg

[2015-10-30 09:18] #241 closed

[2015-10-31 09:22] #70 closed

[2015-11-04 11:24] dietzc opened #244 "Feature Calculator: Introduce FeatureSet for Pixel-Based Geometry"
At the moment, we only support `Polygon` based geometry, which has some limitations:

* The size of the polygon doesn't correspond to the pixel count of the object for two reasons: (a) the polygon itself is basically approximated from the `LabelRegion` and (b) the contour itself is not clearly defined, i.e. usually two sides (mainly right and down pixels) are ignored (as we find a contour on the p

[2015-11-05 08:43] dietzc opened #245 "Interactive Labeling Annotator: Can't navigate through table"
In the `Interactive Annotator` the table navigation is not working.

[2015-11-05 09:54] AndreasBurger opened #246 "Interactive Labeling Editor multi-column handling"
Previously, the node-dialog allowed selection of two columns, one image and one labeling, for use in the interactive editor. These settings are currently missing and should be restored.

[2015-11-05 09:55] AndreasBurger commented on #245
I'll look into it.

Issues #239 and #246 are related.

[2015-11-05 10:20] dietzc opened #247 "Image Generator: Allow to set minimum maximum of dimensionality"
instead of a range as currently implemented.

[2015-11-11 11:07] dietzc opened #248 "Interactive Labeling Editor: Replace first and Replace second are interchanged"
see above. we have to take care about backwards compatibility.

[2015-11-11 11:25] dietzc opened #249 "Feature Calculator: Allow filtering dependent labels"
as currently possible in the `Segment Feature` and `Image Segment Feature` nodes.

[2015-11-11 15:31] dietzc opened #250 "Trackmate Tracker: Keep cell in TrackedNode instead of extracted BitMask"
For super-large tracking problems, we should rely on the KNIME capabilities of serializing and de-serializing the data which is hidden inside cells. There a `TrackedNode` should keep a reference on the `ImgPlusCell` containing the bitmask, instead of extracting the information from this cell.

[2015-11-14 21:32] dietzc opened #252 "Image Reader: Image type selection invalid"
Since 1.4.0 we can select the type of the output image. However, the current implementation is not working correctly: If the input is e.g. `UnsignedShortType` and I force the output to be `FloatType`, the content of the image is not the same!

[2015-11-17 15:14] maierl opened #253 "Urgent: Table Writer: EOFException"
When I store my image + segmentation results with a TableWriter and read them with a Table Reader, everything seems to be fine. But when I want to look at the results with the Interactive Segmentation View, I get an EOFException.

[code]

I stored a simplified workflow with data at https://powerfolder.dkfz.de/dl/fi5AvMjwyeZPD9FjBqsDQhyF/savingFail.tgz

Would you *please* fix that bug for me?

[2015-11-17 17:59] dietzc commented on #253
1k/h ;-) I will have a look at latest tomorrow.

[2015-11-17 18:03] dietzc commented on #253
Which KNIME? Which KNIP? I can't reproduce the problem locally!

[2015-11-17 18:18] gab1one commented on #253
I just tried to reproduce the bug, I manually selected the storage location for the ``.table`` files and it worked without a flaw. Maybe the storage location is faulty?

[2015-11-19 14:43] dietzc opened #254 "Interactive Annotator: Not top-aligned"
see above.

[2015-11-19 14:43] dietzc opened #255 "Interactive Annotator: Normalization not applied when image opened"
but checkbox is selected

[2015-11-19 14:44] dietzc opened #256 "Image Viewer: Show current column/row name"
see above

[2015-11-19 14:45] dietzc opened #257 "GraphCut Node: Toggling between labeling/-no labeling fails"
if we change the input table

[2015-11-23 15:27] #245 closed

[2015-11-23 15:27] #239 closed

[2015-11-26 10:12] AndreasBurger commented on #256
Implemented, see #259

[2015-11-26 10:13] #256 closed

[2015-12-01 13:00] AndreasBurger opened #260 "Image Viewer - Table Overview vanishes"
When using the Image Viewer Node, the overview disappears when the **Back to Table** button is clicked while the Table View is expanded.

[2015-12-02 12:03] Treiblesschorle opened #261 "Image Viewer: view doesn't adapt to change of ordering of columns"
If you view a table containing several columns of images and change the column ordering by dragging the columns the view keeps the original ordering.

http://snag.gy/w6Gc8.jpg

[2015-12-04 15:00] maierl commented on #246
Maybe it should also allow the side-by-side view, if that's not too confusing.

[2015-12-04 15:01] maierl opened #262 "Interactive Annotator: scrolling"
if I scroll down on an image, it zooms out.
if I scroll up on an image, it zooms out.
somehow that doesn't seem right ;)

[2015-12-04 15:03] maierl opened #263 "Interactive Annotator: Renderer List"
If I select a different renderer and click on the table on the bottom, the renderer is kept, but the renderer selection list is reset to the first entry. that's especially annoying if you want to switch back to the first entry: the list thinks the first is already active and doesn't update the view.

[2015-12-04 20:11] gab1one opened #264 "Image Resizer: Takes a long time to cancel"
After canceling a running __Image Resizer__ Node it can take a long time until the node actually stops.
Maybe we can add more calls to ``exec.checkCanceled()``??

[2015-12-07 21:42] gab1one opened #265 "Merger Node Improvements"
The merger node could use a few improvements:

- [ ] Use the new ColumnSelectionView
- [ ] Add the "New Table" / "Append" Selector
- [ ] Create an easier ui UI for the dimension selection.

[2015-12-07 22:29] gab1one opened #266 "Splitter Node Improvements"
There are a few usability issues with the Splitter node:
- [x] Column selection talks about "image to use" instead of the accurate "column to use"
- [x] Add "Replace" / "Append" / "New Table" Selector

[2015-12-09 13:01] maierl commented on #253
@dietzc Thanks for helping to reproduce!

[2015-12-10 09:33] AndreasBurger opened #267 "Display Options for the Combined Image View"
When displaying multiple images using the combined image view, additional options would be nice:

- Configure display orientation (Horizontal/Vertical/Grid) with corresponding options (Row-/Colsize)
- Allow spacing between images

[2015-12-10 09:36] AndreasBurger opened #268 "Image Viewer: Exception When Merging Images With Varying Dimensionality"
When using the combined image viewer to merge images with different dimensionality, synchronizing them causes NullPointerExceptions to be thrown as soon as the Plane Selection changes.

[2015-12-10 09:40] AndreasBurger opened #269 "Image Viewer: Viewer Information Panel Improvements"
When using the combined image viewer, the info panel is currently disabled. It should, however, be enabled and able to display image information accurately both for the sequential (i.e. row-of-images) and the stacked view.

[2015-12-10 09:41] AndreasBurger opened #270 "Synchronize Normalization"
Prodive an option to synchronize normalization settings in the combined image viewer.

[2015-12-10 09:43] AndreasBurger opened #271 "Image Viewer: Plane Selection Panel Layout errors"
When browsing through tables in the image viewer, the plane selection panel may sometimes erroneously collapse.

[2015-12-10 12:29] maierl commented on #253
The missing ingredient was to set the maximum (image) file size to a value other than zero.

[2015-12-11 09:50] maierl commented on #160
any update?

[2015-12-11 21:50] dietzc opened #272 "Image Viewer: Allow to hide right tool bar"
see above.

[2015-12-15 11:10] #271 closed

[2015-12-15 12:20] maierl opened #274 "Interactive Annotator: show non-image columns in table view"
it would help to see non-image columns in the table view of the interactive annotator, like which well he image comes from

[2015-12-17 08:46] maierl commented on #253
Any progress already on that bug?

[2015-12-17 10:54] dietzc commented on #253
I will work on it today. Does the workaround I showed you still do the job?

[2015-12-17 13:23] maierl commented on #253
Locally yes, didn't test it on the cluster though as it has no SSDs. Thanks for your help!

[2015-12-19 15:48] dietzc commented on #253
I tracked down the problem and it seems to be something in the KNIME Analytics Platform core. Storing multiple images into a single file is not yet fully supported by the KNIME Analytics Platform core. So I don't see this "bug" being fixed soon.

Therefore let's talk about workarounds: Do you have to store the bitmasks / labeling in this table, too? Why do you store the table to disc anyway? Can't

[2015-12-20 12:40] maierl commented on #253
That's not exactly what I hoped for. I want to use the cluster for preparing the input data (segmentation + features) for training a classifier.

[2015-12-20 12:42] dietzc commented on #253
do you need the bitmask / labeling in the written table?

[2015-12-20 14:42] maierl commented on #253
Yes, for selecting the classification of the segments within the images.

[2015-12-20 15:02] dietzc commented on #253
for selecting training data you mean? Isn't the Labeling enough for this task (`LabelingEditor`)?

[2015-12-20 16:02] maierl commented on #253
I assumed the labeling had the same bug as the Bitmasks. Those could anyway be derived from the labeling again if necessary, right?

[2015-12-20 16:04] dietzc commented on #253
This is not really a bug. Writing several cells into a single file is just not the intended behaviour (, yet). If you only write the labeling, you can set the filesize = 0 and then there will be no bug at all. and yes, you can derive the segments again ;-)

[2015-12-20 18:39] maierl commented on #253
The file size also affects the temp folder and run time. Could I set that option dynamically just before writing the table?

If I only write a single labeling per file, that would not depend on the max file size setting and could be a workaround, right?

If it crashes without telling me why, that is a big in my eyes.

[2015-12-21 10:55] dietzc commented on #253
if you only store the `Labeling` and actually never produce the bitmask in during feature extraction, you should be fine with filesize = 0.

[2015-12-21 12:34] maierl opened #275 "Parallel reading of images: metadata"
When reading images in parallel (parallel chunk loop), the metadata occasionally is wrong / missing.

[2015-12-21 14:04] maierl commented on #253
Any image will be problematic when saved with file size > 0 mb, right?

Why do I need both file size = 0 and no Bitmasks? I didn't spot the option to avoid generating Bitmasks, but excluding them before saving the table should do the trick?

[2015-12-21 14:09] dietzc commented on #253
because the problems has nothing to do with the bitmask directly. it stems from the fact, that with filesize > 0 you are writing more than one image or labeling per file.

excluding them before saving should do the trick, yes.

[2015-12-21 15:27] maierl opened #276 "Feature Nodes: Sum of Squares"
The result of Sum of Squares is equal to the Sum.

[2015-12-21 15:41] dietzc commented on #276
Thanks @maierl!

[2016-01-07 08:13] dietzc opened #277 "Rotate2D: Strange(?) behaviour"
see https://tech.knime.org/forum/knime-image-processing/rotation-2d

[2016-01-07 08:14] dietzc opened #278 "ColumnFilter: Allow to filter columns by ImgPlus/Labeling type"
see https://tech.knime.org/forum/knime-users/feature-request-filter-by-type-image

[2016-01-14 12:56] maierl opened #279 "Image Calculator: Execution canceled"
After cancelling the execution of the image cropper and changing it to only one column, it prints a warning on every row ("Interrupted node"), but executes fine.
The Image Calculator, however, aborts right away with "Execution canceled". Resetting it does not help, either.

[2016-01-18 15:52] maierl opened #282 "Image Property: Calibration, part 2"
The  merger doesn't set the image calibrations (see #125).

[2016-02-01 10:08] hornm commented on #89
Problem still exists according to this forum post: https://tech.knime.org/forum/knime-image-processing/images-loaded-with-image-reader-table-node-are-not-closed

[2016-02-01 10:19] hornm commented on #89
fixed with bec9819fd465aaa32dd430c7e6376af6ca8bca19

[2016-02-01 10:19] #89 closed

[2016-02-04 22:15] gab1one opened #284 "Image reader does not support drag and drop from the KNIME Explorer"
Steps to reproduce:
1. Add a image file to a folder in the KNIME explorer.
2. Drag and drop that file into an open KNIME workflow
3. The execution of the created Image Reader node will fail, as it tries to read from the a path relative to the workspace, as if it was an absolute path.

[2016-02-04 22:17] gab1one opened #285 "Image reader drag and drop can not handle paths containing spaces on OSX"
On Mac OSX these are replaced with an `%20` when passed to an application.

[2016-02-05 11:48] imagejan commented on #285
Oh, I didn't even know that drag-n-drop was possible at all.

I already noticed that the File input fields of the *File Upload* (when used as an input form in a wrapped metanode) and *List files* nodes do nor accept drag and drop. (This feature would really be nice to have!)

Now I tried to just drag an image onto the workspace (on Windows), but the created *Image Reader* node throws an exception

[2016-02-05 16:03] gab1one commented on #285
Looks like we have to reconfigure the node after it got created by drag and drop.

[2016-02-05 19:23] gab1one opened #286 "Maximum Finder node is created without any dimensions selected"
Most KNIP nodes with Dimension selection widget, will be created with the dimensions X,Y selected.
Not the the `Maximum Finder` node, making it fail if executed without configuration.

[2016-02-09 18:49] gab1one opened #287 "Add <Auto> Option to the Image Factory selection in the ImageReader"
Should default to ArrayImage and work like the Pixel Type selection.

[2016-02-09 19:27] gab1one commented on #287
This code provides a heuristic to detect the correct factory:
https://github.com/scifio/scifio/blob/2a4984d9aa1aac4c0731567dba12b6581d080c6d/src/main/java/io/scif/img/DefaultImgFactoryHeuristic.java

[2016-02-09 19:56] gab1one commented on #287
Wait for the ops rework in this branch:
https://github.com/imagej/imagej-ops/tree/create-generics
It will add an op that provides this functionality.

[2016-02-10 19:58] ctrueden commented on #287
@LeonYang5114 pointed out that there is _also_ an ImgLib2 core utility method with yet another version of this sort of heuristic: [`Util.getArrayOrCellImgFactory`](https://github.com/imglib/imglib2/blob/imglib2-2.6.0/src/main/java/net/imglib2/util/Util.java#L783-L828).

[2016-02-11 10:35] dietzc opened #288 "Interactive Annotator: Can't switch between columns"
see above

[2016-02-11 10:36] dietzc opened #289 "Image Viewer: Respect min/max of incoming image"
Images can have different minimum / maximum, i.e. offsets in the global image space. However, this isn't supported by the Image Viewer, yet.

[2016-02-11 19:54] gab1one commented on #288
Probably related, one can not switch between rows using the buttons:
<img width="326" alt="screen shot 2016-02-11 at 1 52 12 pm" src="https://cloud.githubusercontent.com/assets/1938154/12988532/cfb47ab4-d0c6-11e5-9f29-93cc30487387.png">
The number changes but the row does not.

[2016-02-15 19:23] hornm opened #290 "Global Thresholder: allow a min- and a max-value as manual threshold values"
... or even more fancy: allow one to specify multiple intervals

[2016-02-16 13:29] dietzc opened #291 "Image Viewer: Add Stream Viewer or improve existing viewer to support streams"
If nodes a streamed, one may want to see the current output image of a node. However, this doesn't really fit with the current concept, that a user selects several cells in a table and table which are then displayed. If we can somehow integrate the concept of streaming in our existing viewer this would be perfect, if not, we need a new, dedicated node which allows a (multi-?) column selection, whi

[2016-02-16 14:37] imagejan commented on #290
It would also be great to allow a manual threshold selection using a *column* input instead of a simple value. That would allow to use variable thresholds per row without the need of setting up a chunk loop and populating a variable in every cycle.

[2016-02-16 14:43] dietzc commented on #290
you can already do that using flow-variables.

[2016-02-16 15:23] hornm commented on #290
With just one node?

[2016-02-16 15:24] dietzc commented on #290
I was refering to @imagejan.

[2016-02-17 15:35] gab1one opened #292 "New Pixeltype feature in Imagereader causes errors on workflow node"
Opening a workflow that contains an older version of the imagereader node will result in an error shown to the users: ``Loading model settings failed: String for key "m_pixeltype" not found.`` This is annoying and confusing for users.

[2016-02-17 17:10] #292 closed

[2016-02-23 09:48] hornm opened #294 "Crashing nodes when img minimum is set: Dimension Extender and Image Cropper"
If the Dimension Extender is used on a list of 2D-bitmasks (e.g. the ones produced by the HCS-Example-Workflow) an AIOOBE is thrown.

TODO: provide test case!

[2016-02-23 10:00] dietzc commented on #294
maybe related to `min` and `max` settings of the `BitMask`.

[2016-02-25 08:09] hornm commented on #294
Fixed.

Testflow updated: knime://COMMUNITY/Testflows/trunk/ImageProcessing/knip/KNIME_testing_ExtendDimension

[2016-02-25 08:21] hornm opened #296 "Image Generator: Include image minimum in generation"
The image generator should also provide the possibility to set the image minimum (either manually set or randomly generated). Currently it's just left to 0.

[2016-02-25 08:23] hornm opened #297 "Proper handling of image minima"
This is a collection of issues that need to be solved in order to support the proper handling of image minima. Some nodes simply crash when a minima is set, others give wrong results.
Additionally, nodes are currently not properly tested respecting img minima.

Sub issues:
- [x] #294
- [ ] #296
- [x] #311
- [x] #289

[2016-02-26 18:44] gab1one commented on #201
@dietzc It does not look like this will get fixed soon, should we (temporarily) remove ome.tif from the image writer node to prevent users from writing broken data?

[2016-02-29 14:05] #290 closed

[2016-03-02 16:08] Squareys commented on #58
See #299. :)

[2016-03-02 16:08] #58 closed

[2016-03-02 17:17] JohM3i opened #300 "KNIP Nodes: Add Stain Separation Node"
There should be a node, which does Stain Separation on Images.

There exists a ImageJ plugin which does Stain Separation on RGB Images with Color Deconvolution. The plugin can't be executed with the imageJ macro. In the Plugin, there are several predefinied Stain vectors to do Stain

 like H&E, H DAB, H&E DAB, etc.

You can download the java files and class files here:
 [http://www.mecourse.com/la

[2016-03-03 10:13] imagejan commented on #300
Note that these predefined vectors are meant as examples only, and there should be a method for users to provide their own vectors.

See Gabriel Landini's comments in a [discussion about the Colour Deconvolution plugin](https://github.com/fiji/Colour_Deconvolution/pull/1):

[2016-03-03 16:37] gab1one opened #301 "Improve Labeling to RGB Image Node usability"
The Labeling to RGB Image node needs some love, resulting in the following UI improvements.

- [x] Node complains (red signal light) if no Labelings are available in the input table.
- [ ] ~~Column suffix model should only be active when append is selected.~~

[2016-03-03 18:30] gab1one opened #302 "Can't read ICS images ifthe "append ome metadata" option is selected!"
When trying to read images in the ``.ics`` format a ``ArrayIndexOutOfBoundsException`` is thrown if either **append ome metadata** or **metadata only** is selected.

[2016-03-03 18:46] gab1one opened #303 "Color information lost when writing certain file formats"
Writing multi-chanel images `.jpg` and `.png` files with the image writer node results in those images being single channel instead of multi channel (gray scale).
### Steps to reproduce:
- get the Image reader example workflow from the example server:
  `tutoknime://EXAMPLES/099_Community/02_ImageProcessing/Tutorials/Node%20Tutorials/01_ImageReader/01_1_ImageReader`
- Write the read images (3 chan

[2016-03-04 09:46] dietzc opened #304 "Segment Cropper: Allow virtually expansion of labeling"
If the incoming labeling is only 2D and the image is 3D then the labeling should be optionally expanded to the size of the 3D image.

[2016-03-04 10:53] imagejan commented on #304
I agree this would be a _very_ useful addition. As well for the Feature Calculator, e.g. if you want to measure a given part of a tissue slice acquired as z-stack.

[2016-03-04 11:06] hornm opened #305 "Image to Labeling-node: 'Labels from ...'-option has no effect"
Labels are not transferred from a specified labeling. This functionally has been removed for a reason but we should add it again. A good basis is e.g. https://github.com/knime-ip/knip/blob/caaca829e9a3b86c5ada41ee2f1298ac521378b6/org.knime.knip.base/src/org/knime/knip/base/nodes/seg/ImgToLabelingNodeFactory.java

[2016-03-04 11:07] hornm opened #306 "Labeling Resizer node"
... analogue to the 'Image Resizer'-node

[2016-03-04 11:21] dietzc opened #307 "Interactive Annotator: Expand Selection into a certain dimension"
E.g. we have a color image, we want to expand the selected labeling of one plane in the other channels. Global setting.

[2016-03-04 12:30] imagejan commented on #306
:+1: :smile:

[2016-03-04 15:56] dietzc opened #308 "Min/Max Handling"
Many of our nodes (including IJMacro, Splitter, Merger, ...) don't handle the newly introduced min/max properly.

[2016-03-05 12:38] dietzc commented on #308
first move into right direction: https://github.com/knime-ip/knip/commit/94debf78d47b0f159ea971f355adbd8d4c17906f.

Open question: how should the output look like. which leads to: how to handle min/max in general?

[2016-03-05 12:51] dietzc commented on #306
see: https://github.com/knime-ip/knip/tree/labeling-resizer.

Testflow missing.

[2016-03-05 13:41] hornm commented on #308
My preference: ignoring the minimum during the processing (i.e. translating it to the origin), but 're-translating' the result, if possible

[2016-03-05 13:44] dietzc commented on #308
yep. I totally agree. However, do we want to implement this strategy in each and every `Op` or `Node` or do we want to have a more general mechanism for that? And: Do we want to take care about this in KNIP1 or will we leave it as (potentially lost minimum) and come up with a better and consistent strategy in KNIP2?

[2016-03-05 13:46] hornm commented on #308
I'd be ok with the ad hoc-solution for KNIP1 (as long as we fix it for every affected node). And, yes, I agree, we'll need a better strategy for KNIP2.

[2016-03-05 13:48] dietzc commented on #308
basically all nodes are affected ;-)

[2016-03-05 13:49] hornm commented on #308
Ok, then maybe the other way around: what was the advantage of introducing the virtual translation to the minimum on the getImgPlus()-call?

[2016-03-05 13:59] dietzc commented on #308
because we are consistent with the definitions of `Interval`s in `ImgLib2` (e.g. if we crop segments). Before that we were working with `offset` and the `Interval`s started always origin zero. However, everywhere else in `ImgLib2`, `ImageJ-Ops` etc. we use `Interval` `min` and `max`.

So here is what I suggest: As we didn't care before in `KNIP1` and we started caring now, we can simply offer both

[2016-03-05 19:17] imagejan commented on #308
@dietzc @hornm Just a short question, because I'm currently using offsets in metadata and GroupBy to create montages of many images in a few high-content screening workflows: will the current method with offsets continue to work? Or should I adapt my workflows to be more future-proof?

[2016-03-06 10:26] dietzc commented on #308
@imagejan everything will work as before, if it doesn't we didn't do a good job and have to fix it. We have ~700 testflows running each and every night that things stay the same with KNIP 1.x.x.

Things are different with KNIP2 (which we hope to release in the 4th quarter 2016). This will be an entirely new concept (entirely based on ImageJ-Ops, SciJava, etc). However, we will keep KNIP1 such that

[2016-03-06 11:40] dietzc commented on #308
I will commit a fix to the min/max problem tonight, following what @hornm and me discussed above.

[2016-03-06 17:25] dietzc commented on #308
see: https://github.com/knime-ip/knip/commit/880f27d2da054bd335c406130f19e27c3215b2e7

for KNIP2 we also have to discuss (in ops) how to handle `Binary`, `Tenary` etc ops if the incoming intervals have different `min`. Example: the `Image Calculator` should then operate on global coordinates, rather than moving everything to `zeroMin` etc.

[2016-03-06 17:25] #308 closed

[2016-03-08 09:17] imagejan opened #310 "Compose Image Aggregation: handle missing values"
It would be great if the GroupBy node, when aggregating images (or labelings) using the Compose Image (or Compose Labeling) aggregation method, would just ignore missing values instead of failing the whole node.

[2016-03-08 09:25] imagejan opened #311 "Mismatch between offsets and image dimensions"
When trying to montage a bunch of images (e.g. 640x540) into a big image using the GroupBy node with Compose Image aggregation, I noticed that I have to set the offsets to _half_ the tile dimensions (e.g. 320 and 270 in this example) to get the desired result. Did I misunderstand how offsets work, or is this a bug?

_Note_: I used a black image with the total dimensions (`tilesX * width`, `tilesY*

[2016-03-08 12:46] #294 closed

[2016-03-08 12:51] hornm commented on #311
Thanks for reporting, Jan! It's indeed indeed a bug.

I fixed the problem with commit cfb245f7e216e8493a9d76e89f2b7fb56d9ae563
For documentation: testflow provided - knime://knime.mountpoint/Testflows/trunk/ImageProcessing/knip/KNIME_testing_GroupBy

[2016-03-08 12:51] #311 closed

[2016-03-08 13:05] imagejan commented on #311
@hornm Great, thanks a lot! :+1:

Will these changes be deployed with a 1.4.x release on the Stable/Trusted update sites, or only with the 1.5.0 release? Just curious to know when I'll have to update my workflows to get rid of the workaround I'm currently using ;-)

[2016-03-08 13:12] hornm commented on #311
Bug fixes will be released with minor releases (i.e. 1.4.x), hopefully soon.

[2016-03-08 13:18] hornm commented on #310
Fixed with e1b4df7bf5582c55b2084de1eaa40f7dfddaa0be.

[2016-03-08 13:18] #310 closed

[2016-03-08 16:58] gab1one opened #312 "Interactive Annotator UI going blank when clicking on Image Info"
### Steps to reproduce:

- Open Interactive Annotator Dialog
- Click on __Image Info__
- View UI going blank
- Closing the Image Info will restore the UI

### Screenshots
<img width="284" alt="before" src="https://cloud.githubusercontent.com/assets/1938154/13608974/a0250fba-e51c-11e5-9249-61faa27ecdf8.png">
<img width="297" alt="after" src="https://cloud.githubusercontent.com/assets/1938154/136089

[2016-03-08 20:43] dietzc opened #313 "UtilityFactory of ImgPlusValue / LabelingValue should be ExtendedUtilityFactory"
https://tech.knime.org/forum/knime-general/feature-request-filter-by-type-image#comment-42185

then this works.

[2016-03-09 08:16] dietzc commented on #313
fixed with https://github.com/knime-ip/knip/commit/2b276038ab0333d95b5926b4fe0efeb2bae55d31

[2016-03-09 08:16] #313 closed

[2016-03-09 08:17] Luuklag opened #314 "Interactive Thresholder [new feature]"
Wouldn't it be nice to be able to threshold just like ImageJ does, with sliders over the values of the channels, instantly showing a preview of your segmentation. Currently when I want to do a segmentation I first go to ImageJ to find the appropriate values, and then enter them into KNIME. I think it would be possible to also implement this in KNIME, more or less similiar to the Interactive Annota

[2016-03-09 08:20] dietzc commented on #314
Hi @Luuklag,

This is certainly something want to have in KNIP2. With KNIP2 and the imagej-ops integration you will be able to preview your settings in most of the nodes. Stay tuned!

Christian

[2016-03-09 08:20] #314 closed

[2016-03-09 08:25] hornm commented on #314
You could also use the 'hacky' node "Image Parameter Adjuster".
The usage: execute the node and open the "Interactive Adjustment View". In that view you can, for instance, then interactively set a threshold. To finish you selection click on "Set parameters and continue execution ..." at the bottom. The set parameters are propagated as flow-variables.

[2016-03-09 13:06] imagejan opened #315 "Compose Labeling throws RuntimeException"
When using the GroupBy node with Compose Labeling (using the nightly builds), I get the following exception:

[code]

These are my settings:

![composelabeling](https://cloud.githubusercontent.com/assets/2033938/13636071/03c67d7c-e600-11e5-953f-f1c4a01b9712.png)

[2016-03-09 13:28] hornm commented on #315
Unfortunately I can't reproduce the problem, Jan. Could you send me the full stack trace, or even better a minimal workflow?

[2016-03-09 14:00] imagejan commented on #315
I'm unable to reproduce this with a smaller data set and a minimal workflow yet.

It happened when I wanted to group a relatively large table, and the exception was thrown at about 30% progress on the GroupBy node. I'm now trying to loop over the single groups to find out if there is one specific that causes this problem.

[2016-03-09 14:29] imagejan commented on #315
I managed to find an image that causes the error.

Here's a workflow to reproduce:
[GroupBy_Labeling_Bug.zip](https://github.com/knime-ip/knip/files/165344/GroupBy_Labeling_Bug.zip)

Get the tif example image from [here](http://wwwapp.fmi.ch/fileexchange/GetFile.aspx?ID=32ff8e6c428643a0bece741f3b66bc27&Cfg=&file=1&method=standard).

[2016-03-09 16:19] hornm commented on #315
Thanks, Jan! I fixed the problem with 472c8fc2a3e9c6dd4f7723c76df544ad7b9e1490. It is actually the "Feature Calculator (Beta)" that causes the problem.

[2016-03-09 16:20] #315 closed

[2016-03-09 19:05] imagejan opened #316 "Interactive Segmentation View: changing bounding box color displays box names"
When using the **Bounding Box Renderer** and changing the color of the boxes (_Set BoundingBox Color_, btw: a space should be inserted to be consistent within the UI), the names of all bounding boxes will be shown. To remove the names, you have to enable and then disable the checkbox _Show Bounding Box Names_.

[2016-03-10 10:10] imagejan opened #317 "Image Reader (Table): more options for subset selection"
It would be useful in some cases to be able to specify a subset also in X and Y dimensions (i.e. to read a cropped image). As far as I can see, this functionality only exists for the Z, Time and Channel dimensions in the Subset Selection tab.

[2016-03-10 11:03] hornm commented on #317
I am not sure if that really is necessary. Because the Image Reader would have to read the whole image plane anyway in order to crop it. Hence, there would be no benefit over the following solution:
Just put the Image Reader and Image Cropper into a Wrapped Metanode and set the "Simple Streaming" Job Manager on it. Images will be read and cropped without further overhead.
Does that makes sense? If

[2016-03-10 11:58] imagejan commented on #317
I considered the option of using **Image Reader** and **Image Cropper** with streaming, but bio-formats/scifio explicitly allows to read cropped regions from datasets, thereby offering better performance on datasets containing huge planes. Hence my suggestion.

[2016-03-10 12:14] hornm commented on #317
Ok, got it.

[2016-03-10 16:08] gab1one opened #318 "Freeform Percentile selection in the feature calculator node"
This is possible in the image calculator node so it is a must have. Thank you Jan for discovering it:
https://tech.knime.org/forum/knime-image-processing/percentile-in-feature-calculator

[2016-03-10 16:21] imagejan commented on #318
Thanks :+1:

[2016-03-11 12:48] seebacherd opened #319 "Feature Calculator (BETA): No compatible service: org.knime.knip.features.FeatureService"
Hello together,

I'm trying to get KNIP running on Windows 10. I imported the projects knip, knip-sdk-setup and knip-scijava (master branch on everything). I'm using the knip-sdk-nightly-dev.target where I selected everything from https://community.knime.org/download/knip-externals-trunk, and the things I needed from https://update.knime.org/analytics-platform/3.1/ and http://update.knime.org/serv

[2016-03-14 14:42] gab1one commented on #319
Hi @seebacherd can you try to update the knip-sdk-setup project and try the ``knip-sdk-nightly-full.target``?

[2016-03-14 15:38] seebacherd commented on #319
Unfortunately, that didn't solve the problem. Still the same error.

[2016-03-15 19:29] gab1one opened #320 "Return missing value instead of NaN in the Feature Calculator Node?"
Suggestion by a user:
https://tech.knime.org/forum/knime-image-processing/feature-calculator-geometric-features-2d-size#comment-42321

Discuss: Should we implement that change? As the node is still in beta we can still change the behavior without the need for a new version of the node.

[2016-03-16 09:09] imagejan commented on #320
I support this suggestion. Missing values make post-processing within KNIME easier.

In addition, it would be helpful if e.g. "Size" could be calculated in any case, since it can be determined for objects as small as 1 pixel.

[2016-03-17 11:50] dietzc commented on #244
see: https://tech.knime.org/forum/knime-image-processing/feature-calculator-geometric-features-2d-size

[2016-03-17 15:37] imagejan opened #321 "Feature Nodes: throws NullPointerException for non-overlapping segments"
The Feature Calculator (in the current nightly build, 1.4.2.201603140602) throws `NullPointerException` for segments without any overlap when the _Append labels of overlapping segments_ option is checked. The non-overlapping segments consequently are missing from the results table.

Here's an example workflow:
[FeatureCalculator_tests.zip](https://github.com/knime-ip/knip/files/178163/FeatureCalcu

[2016-03-17 16:02] dietzc opened #322 "Feature Calculator (BETA): Make Streamable"
Make Feature Calculator (BETA) streamable.

[2016-03-30 14:28] imagejan opened #325 "Multilevel Thresholding ignores dimension selection"
The *Multilevel Thresholding* node seems to ignore the dimension selection. I get the same results regardless whether I'm choosing {X,Y} or {X,Y,Z} as dimensions. The result looks a bit strange, it seems as if only one dimension at a time is considered?!

Here's an example workflow:
[Multilevel_Thresholder_Integer.zip](https://github.com/knime-ip/knip/files/195711/Multilevel_Thresholder_Integer.zi

[2016-03-30 15:02] dietzc opened #326 "Image Viewer: Rearranging columns doesn't work"
See: https://tech.knime.org/forum/knime-image-processing/image-viewer-dragging-columns

[2016-03-30 15:11] dietzc commented on #319
fixed.

[2016-03-30 15:11] #319 closed

[2016-04-01 11:43] AndreasBurger commented on #326
Fixed on knime-ip/knime-tablecellviewer@c5ec55f4b824c6fbcc07f8fbb755d6ae045a6f21

[2016-04-01 11:43] #326 closed

[2016-04-01 11:54] AndreasBurger commented on #261
Fixed (See #326)

[2016-04-01 11:54] #261 closed

[2016-04-04 14:31] AndreasBurger opened #327 "Grid view for combined image view"
The combined view of the image viewer should be able to display the rendered images in the same layout as they are shown in the table overview.

[2016-04-05 12:07] AndreasBurger commented on #316
Done.

Fixed.

I also tweaked the layout a bit to increase the space allotted to the labels in front of the buttons.
All these changes are contained in commit 25a1a55bc3df5fc1692b24f1c330e7559d48dda1

[2016-04-05 12:07] #316 closed

[2016-04-05 13:34] AndreasBurger commented on #260
Fixed in the new viewer-framework.

[2016-04-05 13:34] #260 closed

[2016-04-05 13:43] AndreasBurger commented on #187
Handled using an MissingValueViewer

[2016-04-05 13:43] #187 closed

[2016-04-07 18:06] dietzc opened #329 "Feature Nodes: Possible faulty calculation of ferets diameter"
see: https://tech.knime.org/forum/knime-image-processing/feature-calculator-ferrets-diameter-vs-major-axis#comment-42737

[2016-04-11 08:54] Luuklag commented on #329
I think the differences are because of different methods of calculation. I looked somewhat deeper into it, trying to understand this. The Major and Minor axis are the axis of a fitted ellipsoid to the ROI. Whilst the Ferets Diameter is calculated by stepwise determining the length of two points along the border.

[2016-04-11 09:25] Luuklag commented on #329
I only couldn't find the exact code where these things calculated in Github.

[2016-04-11 09:27] dietzc commented on #329
https://github.com/imagej/imagej-ops/blob/master/src/main/java/net/imagej/ops/geom/geom2d/DefaultFeret.java
https://github.com/imagej/imagej-ops/blob/master/src/main/java/net/imagej/ops/geom/geom2d/DefaultMajorAxis.java
https://github.com/imagej/imagej-ops/blob/master/src/main/java/net/imagej/ops/geom/geom2d/DefaultMinorAxis.java
https://github.com/imagej/imagej-ops/blob/master/src/main/java/net/i

[2016-04-11 09:36] Luuklag commented on #329
It is as I thought. MinorMajorAxis fits an ellipsoid, and determines the major and minor axis of that. Whilst Feret calculates the length between two points on the border for points using a certain stepsize to go over the border. And if correct the line should always fross the centre of mass of the ROI. So here the differences originate. So it's probably not a bug but just two ways of calculating

[2016-04-16 15:02] gab1one opened #330 "Image reader fails when spaces are in the path"
There seems to be an issue if the path to a file read with the reader contains spaces. Might be related to #285

[2016-04-17 19:22] gab1one commented on #330
- Can't reproduce bug on linux with the either the dialog or the table reader.

[2016-04-18 05:16] Marckobudo commented on #330
I had the issue on a Mac and the path was insanely long: /Users/bickle/Desktop/Cellectricon/ImageRegistration/Alignment Test Data/160401_NewDataSet/GU_102_2_2x/GU 102_2 2x 1500 ms__2016-03-31T14_22_26-Measurement1/Images.

Here is the folder with just two images, maybe you can reproduce the folder name and see whether it works.
Thanks,
Marc
[Images.zip](https://github.com/knime-ip/knip/files/22310

[2016-04-19 04:50] Marckobudo commented on #330
I have reproduced the error on a PC too.

[2016-04-22 09:36] gab1one commented on #330
@Marckobudo I could not reproduce the error on Windows 10, but I fixed  a similar bug which might be related. The fix is available in the next nightly build, could you please test it?
Instructions on how to install it are available here https://tech.knime.org/wiki/knime-image-processing-nightly-build

[2016-04-22 10:22] Marckobudo commented on #330
Hi Gabriel,

As I mentioned on github, I was able to reproduce the problem on a Windows machine (don’t know the version though). Did you try to reproduce the exact path? I believe it has also to do with the length.
I’ll check your fix and let you know.

Bye,
Marc

Marc Bickle, PhD
Head HT-Technology Development Studio
Max Planck Institute of Molecular Cell Biology and Genetics
Pfotenhauerstr. 108

[2016-04-22 12:41] tibuch commented on #238
This pr https://github.com/knime-ip/knip/pull/280 should have fixed that.

Sorry, I didn't checked for issues back then.

[2016-04-22 12:42] #238 closed

[2016-04-25 11:32] gab1one opened #332 "Create KNIP-Legacy project for deprecated nodes"
Some of our deprecated nodes depend on old versions of libraries (e.g. ImageJ-ops).

- To reduce the maintenance burden for these we could move these into a KNIP-Legacy project which allows us to depend on these old library versions.

## Benefits
- Users don't need to install this project if they don't plan on using those legacy nodes.
- We don't need to update legacy code to new library versions

[2016-05-03 08:48] imagejan opened #333 "Image Reader flips y axis when reading .ids files"
When opening a (32-bit float) `.ids` files (output of Huygens Pro deconvolution) with _Image Reader_ (or _Image Reager (Table)_), the resulting image is flipped on the y axis.

I noticed this when comparing to the same file opened in Fiji via Bio-Formats, and when comparing to `.stk` files (of which the `.ids` file was derived) that open correctly with Image Reader, so the issue seems to be specif

[2016-05-03 09:44] dietzc commented on #333
Hi @imagejan,

thanks for reporting! Can you check if ImageJ in modern mode (using SCIFIO) produces the same erroneous results?

Thanks!!

Christian

[2016-05-03 11:05] imagejan commented on #333
You're right, @dietzc, this seems to be a SCIFIO bug. I get different result in Fiji with SCIFIO activated and deactivated.

So this issue should be moved to SCIFIO then: https://github.com/scifio/scifio/issues/301

[2016-05-03 14:39] dietzc opened #334 "Image Reader: Drag & Drop of unknown formats"
If I drag&drop a strange/unknown format file, e.g. sas7bdat, then the image reader is created on the workbench. this shouldn't happen!

[2016-05-04 09:46] gab1one commented on #334
Currently the image reader is registered on all the extensions mentioned on the bioformats page:
https://www.openmicroscopy.org/site/support/bio-formats5.1/supported-formats.html

I will remove ones that are ambiguous like : ``.dat``

[2016-05-04 09:48] dietzc commented on #334
Thanks!

[2016-05-04 15:34] #334 closed

[2016-05-04 15:35] dietzc commented on #333
thanks @imagejan

[2016-05-04 15:35] #333 closed

[2016-05-04 21:28] imagejan commented on #333
Is the plan to ship KNIP 1.5 with a new version of SCIFIO? In any case, I'd love to be notified when this issue is actually fixed, because I had to add a workaround flip to a workflow that would now break things after fixing...

[2016-05-05 09:59] dietzc commented on #333
1.5 will ship new SCIFIO as well as our nightly build as soon as SCIFIO fixed it.

[2016-05-12 08:46] dietzc opened #336 "Image Writer: Slow when network drive is mapped in system (windows)"
please reproduce and check what's going on.

[2016-05-12 08:50] dietzc opened #337 "Image Viewer:"
Add orthogonal views. can be done with new BDV integration, too.

[2016-05-12 08:52] dietzc opened #338 "ClearVolume: Better Rendering of Labelings"
should be moved to ClearVolume repo. This is just to document the issue on our side. Labelings are looking very white when rendered ;-)

[2016-05-12 08:53] dietzc opened #339 "LabelingEditor: Add Merge button"
In many situations, users want to merge oversegmented objects. However, currently this is very annoying and comprises a lot of clicks and search through the label list. We need a concept that a user can easily merge two objects.

[2016-05-13 15:15] imagejan commented on #336
On a related note: I'm working in an environment (domain integration, Windows 7) where a dozen of network drives is auto-mounted upon login, so I wasn't able to compare speeds with and without network drives mapped.
But I noticed that writing in `ics/ids` format is _much, much_ faster compared to all other formats available in the _Image Writer_ node.

[2016-05-13 15:39] imagejan commented on #336
And another one:
None of the writer nodes can write on mapped network drives, they all complain about missing writing permissions (although the logged-in user _does have_ permission to write). I tried with _Image Writer_, _CSV Writer_ and _XLS Writer_, so it's a general problem with KNIME. I'll also report it on the forum then.

[2016-05-15 14:18] dietzc commented on #336
But I noticed that writing in ics/ids format is much, much faster compared to all other formats available in the Image Writer node.

thanks for letting us know. I think @hinerm already knows that?!

[2016-05-24 06:49] Treiblesschorle opened #340 "Image Resizer: Allow to set one dimension and scale the others automatically"
Add an option to specify only one dimension and let the others be scaled automatically keeping the original aspect ratio.

[2016-06-03 07:14] imagejan opened #343 "Interactive Annotator: side panel too large with active Info view"
When using the _Interactive Annotator_ node and opening the _Info_ section in the sidebar, the Minimap and the Labels and Toolbox buttons disappear behind the right border of the window frame (see attached screenshots). To fix this, either wrap lines in the _Info_ tab, or autoresize the sidebar whenever one of the sections/tabs is opened/closed.

Initial view:
![annotator_initial](https://cloud.gi

[2016-06-03 07:32] imagejan opened #344 "Feature request: Crop scaled segments from original size images"
When working with large images (>10000 pixels in both width and height), it would be great to be able to choose regions of interest (annotations) on a downsampled version of the original image (for performance reasons, e.g. when using the Interactive Annotator or some automated segmentation) and subsequently extract the segments from the original in their original size/resolution.

Of course you c

[2016-06-03 07:41] imagejan opened #345 "Image Reader: avoid locking files after encountering errors"
When encountering errors using Image Reader (e.g. exceptions thrown by SCIFIO, see for example https://github.com/scifio/scifio/issues/303), it can happen that the image file remains locked and cannot be renamed or deleted (on Windows 7), due to some pointer still using the file.

To unlock the file, KNIME needs to be closed completely, closing all open workflows.

[2016-06-03 08:05] dietzc commented on #344
Hi Jan,

I understand the problem, but this would rather be a workaround for a more fundamental performance problem in the Interactive Annotator. We should rather investigate how to improve performance there from my point of view. What do you think?

Best,

Christian

[2016-06-03 08:18] imagejan commented on #344
Hi Christian,

sure, if the performance can be improved, that's the best way to go. But it's not limited to the Interactive Annotator, also the Image Viewer in general takes a few seconds to display/update the image when switching images or changing channels the first time.

My intention was to do a coarse segmentation (of regions to be analyzed) on a low resolution where this is absolutely suffic

[2016-06-03 08:20] dietzc commented on #344
This will should be better with the next (or next next) release. We are currently switching to the big data viewer. If we still experience performance issues then which can't easily solve, then we should add down/upsampling strategies. I agree!

[2016-06-03 08:44] imagejan commented on #343
Sorry, I just noticed that this is a duplicate of https://github.com/knime-ip/knip/issues/312. Please feel free to close either of the two issues :smile:

[2016-06-03 08:59] dietzc commented on #304
@tibuch high prio. reuse option from `Image Calculator`

[2016-06-03 11:43] imagejan opened #346 "ArrayIndexOutOfBoundsException after Segment Cropper"
The Segment Cropper seems to mix up the image offsets. When cropping a segment from a large image, subsequent nodes (e.g. DoG Spot Detection) can throw an `ArrayIndexOutOfBoundsException`.

Have a look at the following workflow illustrating the issue:
[Segment_Cropper_Offset_Bug.zip](https://github.com/knime-ip/knip/files/297478/Segment_Cropper_Offset_Bug.zip)

I also noticed that the value displa

[2016-06-03 14:09] tibuch commented on #346
fixed with ecc324c4281833ca71704ebea20f166572421e0a

[2016-06-03 14:09] #346 closed

[2016-06-05 11:54] maierl opened #347 "Interactive Annotator: ArrayIndexOutOfBoundsException"
When executing the Interactive Annotator, I get an exception:
[code]

[2016-06-05 12:00] dietzc commented on #347
it would help tremendously if you could provide us the following information:

Which version of KNIME / KNIP?
How to reproduce the error?

[2016-06-05 12:18] maierl commented on #347
Knime: 3.1.2, Knip: 1.4.1.201604050950.
The last time I used this workflow was on an earlier version of Knime, 3.1.1 or 3.1.0. Back then it was running fine. [Example workflow](https://powerfolder.dkfz.de/dl/fiJ5jsrdqM1j4ZF9UXQihvFu/annotator_out_of_bounds.zip)

[2016-06-05 12:19] dietzc commented on #347
thanks. I will have a look asap.

[2016-06-05 13:42] maierl opened #348 "Data Row to Image lets later nodes fail"
Images generated with the Data Row to Image node seem to behave strangely: Auto Crop doesn't crop (did I configure it correctly?), Segment Cropper crops but shows Image only in preview and Image Calculator fails with "Incompatible IterationOrders" error.

Knime: 3.1.2, KNIP: 1.4.1.201604050950

[data_row_to_image.zip](https://github.com/knime-ip/knip/files/299350/data_row_to_image.zip)

[2016-06-05 18:43] dietzc commented on #348
thanks for reporting. should bot work with tomorrows nightly build.

[2016-06-05 18:43] #348 closed

[2016-06-06 18:15] dietzc opened #349 "Add Median Projection Method"
Projector Node should be able to handle Median projection.

[2016-06-07 10:32] imagejan commented on #346
Thanks for fixing the AIOOException!

The above issue remains however: both cropped image segments and cropped labelings have mouse-over values of 0, although there is clearly some signal/label at the cursor position.

Is this a known problem, or should we file another issue for this?

[2016-06-07 10:53] dietzc commented on #346
Known problem. I just got an example workflow from @tibuch! I will take a look tonight! :+1:

[2016-06-07 10:57] imagejan commented on #346
Thanks, @dietzc! Actually, I just noticed with the current nightly build that also other nodes seem to have issues after Segment Cropper: the Gaussian Convolution created an all-black image, for example.

[2016-06-07 11:01] dietzc commented on #346
Thanks for noticing - I will run a full node test with shifted intervals and fix all upcoming errors!

[2016-06-07 18:38] dietzc commented on #346
Hi @imagejan. I fixed the problem with the `zero` values in the `ViewInfo`. However, I couldn't reproduce the problem you mentoined with gauss. Could you provide a very small example workflow? Then I can fix it tomorrow. Thanks!

[2016-06-08 08:44] imagejan commented on #346
Hm, I'm actually not sure if the nightly build I installed/updated yesterday includes @tibuch's original fix. I now noticed that I still see errors with the Spot Detection after the Segment Cropper:

[code]

Here's an updated version of the workflow I tested:
[Segment_Cropper_Offset_Bug.zip](https://github.com/knime-ip/knip/files/304338/Segment_Cropper_Offset_Bug.zip)

When creating a freehand ann

[2016-06-08 08:59] dietzc commented on #346
thanks @imagejan. I was able to reproduce and fix one problem (empty image after gauss). I'm now manually building the nightly-built - it should be ready in about 45min. Can you test again and see if there is any problem open? Thanks for your efforts!

[2016-06-08 11:31] maierl commented on #348
works for me, thanks for your quick help!

[2016-06-09 07:04] imagejan commented on #346
@dietzc thanks a lot!
Works as expected now with `KNIME Image Processing	1.4.2.201606090603`. :+1:

[2016-06-09 07:06] dietzc commented on #346
perfect. thanks for the feedback. there were some glitches, but I hope it's fine now. I will cut a release with the next KNIME release.

[2016-06-10 08:56] #289 closed

[2016-06-10 09:00] dietzc commented on #278
needs to be double-checked with KNIME 3.2.0 nightly and our current nightly if it works now.

[2016-06-10 09:01] dietzc opened #350 "Update Example Workflows"
We want to be consistent with the new layout of KNIME example workflows.

[2016-06-10 09:20] dietzc commented on #235
validate and fix please

[2016-06-10 09:20] dietzc commented on #206
while going through all nodes, please make sure that the "appendix" label is set correctly and dimensions are also selected as default.

[2016-06-10 09:21] #195 closed

[2016-06-10 09:22] dietzc commented on #236
use 3.x?

[2016-06-10 10:58] dietzc commented on #304
fixed with https://github.com/knime-ip/knip/commit/8bc4c355ad5fb43526af4a8135f3bbbfb764b451

[2016-06-10 10:58] #304 closed

[2016-06-10 12:02] dietzc commented on #347
did you first read 3D images and then you splitted them?

[2016-06-10 12:11] dietzc commented on #297
only issue left is another issue. so this can be closed

[2016-06-10 12:11] #297 closed

[2016-06-10 12:13] dietzc commented on #330
@gab1one any news on that?

[2016-06-10 12:16] dietzc commented on #253
Solved with a workaround!

[2016-06-10 12:16] #253 closed

[2016-06-10 12:17] dietzc commented on #227
we are moving to the BDV.

[2016-06-10 12:17] #227 closed

[2016-06-10 12:18] dietzc commented on #223
we are moving to the BDV.

[2016-06-10 12:18] #223 closed

[2016-06-10 12:19] dietzc commented on #218
we are no longer maintaining our `Image Viewer`. Everything will be (re-)implemented based on the big data viewer.

[2016-06-10 12:19] #218 closed

[2016-06-10 12:19] dietzc commented on #217
we are no longer maintaining our `Image Viewer`. Everything will be (re-)implemented based on the big data viewer.

[2016-06-10 12:19] dietzc commented on #220
we are no longer maintaining our `Image Viewer`. Everything will be (re-)implemented based on the big data viewer.

[2016-06-10 12:19] #220 closed

[2016-06-10 12:19] dietzc commented on #219
we are no longer maintaining our `Image Viewer`. Everything will be (re-)implemented based on the big data viewer.

[2016-06-10 12:19] #219 closed

[2016-06-10 12:19] #184 closed

[2016-06-10 12:20] dietzc commented on #196
seems to be obsolete

[2016-06-10 12:20] #196 closed

[2016-06-10 12:20] dietzc commented on #181
IJ1 Macros can't run in batch mode. However, the new scripting allows you to run IJ1 in batch-mode.

[2016-06-10 12:20] #181 closed

[2016-06-10 15:28] hornm commented on #85
Hm, can't reproduce. Maybe somebody fixed it already?

[2016-06-13 14:34] dietzc commented on #307
@stelfrich and @imagejan voted +1 here. So we try to make this happen for 1.4.2. As a workaround for now: You can use `Labeling Cropper` + `SegmentCropper` which will automatically expand the labeling for cropping.

[2016-06-15 13:31] beschu commented on #349
median intensity is already implemented!

[2016-06-15 13:31] #349 closed

[2016-06-17 13:17] AndreasBurger commented on #343
This bug should be fixed in the next release - the info panel is back at the top of the image.

[2016-06-17 13:17] #343 closed

[2016-06-17 13:40] AndreasBurger commented on #312
Fixed, See #343.

[2016-06-17 13:40] #312 closed

[2016-06-17 15:33] AndreasBurger commented on #288
@gab1one That is intended, as the dialog does not fire a valueChanged event when switching between columns within a row. Therefore I assumed changing columns is not intended.
Considering @dietzc's message I'll look a bit closer.

[2016-06-18 16:51] maierl commented on #347
The images were only 2D in the first place.

[2016-06-20 15:43] maierl commented on #85
Apparently, someone did. Thanks for that.

[2016-06-20 15:43] #85 closed

[2016-06-20 17:29] maierl opened #351 "Image preview with RGB renderer"
Last time I checked, my previews were generated by the RGB renderer. Is it possible to re-enable that feature with the current (trunk?) of KNIP?

[2016-06-21 13:16] dietzc opened #352 "KNIP Image Reader (Dialog/Table): Make sure knime:// urls are supported"
see title

[2016-06-23 09:22] imagejan opened #353 "Image Reader fails with large image planes"
When trying to read images with more than ~20000x20000 pixels (czi files > 4GB), Image Reader fails with:
[code]

Switching to *Cell Image Factory* in the advanced options leads to:
[code]

As a workaround, it would already help to have a crop option, see #344.

[2016-06-23 11:33] dietzc commented on #353
Thanks Jan! I will take a look.

[2016-06-24 14:41] imagejan opened #355 "Fix Image Viewer display of large planes when combining"
When using the Image Viewer to view two large planes (e.g. an RGB image and a labeling), the display gets messed up in the bottom part of the image. See this screenshot:

![imageviewer_largeplane](https://cloud.githubusercontent.com/assets/2033938/16340608/670fda18-3a29-11e6-8187-93fdd856772c.png)

[2016-06-24 14:46] imagejan opened #356 "Image Viewer: Label Options partially hidden when in multiple view"
When opening multiple images in combined view, the Label Options (particularly the transparency setting) are partially hidden and inaccessible.
See screenshot:
![label_options_hidden](https://cloud.githubusercontent.com/assets/2033938/16340998/3c9f4df2-3a2b-11e6-914f-1d8fffc6882b.png)

[2016-06-24 16:19] tibuch commented on #235
Fixed.

[2016-06-24 16:19] #235 closed

[2016-06-28 11:57] #257 closed

[2016-06-28 11:57] #206 closed

[2016-06-28 12:01] tibuch commented on #264
@gab1one I don't think that we can improve much here. Take a look at the calls: https://github.com/knime-ip/knip/blob/master/org.knime.knip.base/src/org/knime/knip/base/nodes/proc/resizer/ResizerNodeFactory.java#L272-321

[2016-06-28 12:19] maierl opened #359 "Image previews: central slice instead of first"
It would be great to have the image previews of the central Z slice instead of the first one. If the Z-stacks are good, they all start completely black for me.

[2016-06-28 12:19] maierl commented on #351
any idea when this will be possible again?

[2016-06-28 12:21] maierl commented on #127
i'd prefer to open the full image only after double-clicks, so i could select images without opening them right away.

[2016-06-28 12:55] imagejan commented on #359
Adding to this, it would also be great if the thumbnail would show a *normalized* version of the image, taking into account the actual min and max of the full stack. This would increase the usability when working with 16-bit images that were acquired with 12-bit cameras (i.e. range 0-4095 within an UnsignedShortType).

[2016-06-28 15:14] tibuch commented on #359
@imagejan this kind of normalizing could take a long time, because the min and max have to be found first (in large images this could take a while).

As far as I know @oole has tried some stuff in this direction?

[2016-06-28 15:50] dietzc commented on #359
For thumbnails we could only calculate the min/max for the given thumbnail? However, this might be misleading?!

[2016-06-29 07:37] imagejan commented on #359
This would be at least more useful than displaying an entirely black thumbnail (which is the case in most of our use cases, in fact). Alternatively, make it an option in the preferences, or allow choosing a different LUT for thumbnails, or allow setting a high gamma value for display?? Just some ideas...

[2016-06-29 08:41] dietzc commented on #359
I agree. We will take care about it!

[2016-06-29 10:04] beschu commented on #340
Does now work as needed, but one option isn't initially disabled when configure is opened the first time.

See branch: ResizerAllScale

[2016-06-29 11:25] beschu commented on #301
Column suffix model should only be disabled for the Replace Column Creation Mode.

[2016-06-29 11:37] tibuch commented on #301
Right now a suffix can be added in every Column Creation Mode and I would not change that for now.

The problem with this enhancement is, that we have to check all KNIP nodes again because not every node is based on the same classes. If we want to change this behaviour we should change it in KNIP 2.0.

[2016-06-29 12:00] gab1one commented on #302
This is caused by a bug in SCIFIO: https://github.com/scifio/scifio-ome-xml/issues/26
I added better explanation of the error to the node as a first step.

[2016-06-29 12:52] tibuch opened #360 "Column Suffix behaviour"
We have three different column creation modes (new table, append, replace).

The following suffix behaviour should be implement:

- new table: suffix can be changed, defaultSuffix = "";
- append: suffix can be changed, defaultSuffix = "_some_default_suffix";
- replace: no suffix is appended, disable option

[2016-06-29 12:53] tibuch commented on #301
The suffix behaviour will be fixed with KNIP 2.0. See https://github.com/knime-ip/knip/issues/360.

[2016-06-29 13:35] gab1one commented on #330
I did not get an news from @Marckobudo and the bug never manifested in my tests.
I did clean up the path checking code.

[2016-06-29 13:43] gab1one opened #361 "Morphological Image Operations does not work with simple streaming"
Wrapping the __Morphological Image Operations__ node into a wrapped metanode
and setting the job manager to _Simple Streaming_ results in an
ArrayIndexOutOfBoundsException.

[Reported by Reddy in the forum]
(https://tech.knime.org/forum/knime-image-processing/streaming-problem-with-global-thresholder).

[2016-06-29 14:13] gab1one commented on #252
Added a warning to the node description about the possible issues when using this setting.

[2016-06-29 14:13] dietzc commented on #252
what else could we do? Can we somehow fix that (manual conversion if invalid?!)

[2016-06-29 15:28] dietzc commented on #352
@hornm could you test it a bit?

[2016-06-29 16:11] #361 closed

[2016-06-30 09:44] dietzc commented on #252
@hornm can you have a look, too?

[2016-06-30 11:27] hornm commented on #278
Works well with nightly build (3.2.0). Very simple testflow (knime://knime.mountpoint/Testflows/trunk/ImageProcessing/knip/KNIME_testing_ColumnFilterByType) uploaded, just in case.

[2016-06-30 11:27] #278 closed

[2016-06-30 13:04] beschu commented on #301
Added the functionality that now the nodes that use ValueToCellNodeModel will complain if no columns of correct type are available.

[2016-06-30 13:20] hornm commented on #242
Fixed with 1dab8c9092df381c6b64133b500ba2286e179c8e by just setting a static preferred size. Maybe not the perfect solution but does the job.

[2016-06-30 13:20] #242 closed

[2016-06-30 13:42] hornm commented on #352
Seems to work well. Couldn't find any problems.

[2016-06-30 13:42] #352 closed

[2016-07-01 11:02] hornm commented on #305
Fixed with c92a721084d3aa9922bbc8e82a4cc7422b104c20

Additionally factory-option removed (didn't do anything).

Testflow updated:
knime://knime.mountpoint/Testflows/trunk/ImageProcessing/knip/KNIME_testing_ImgToLab

[2016-07-01 11:02] #305 closed

[2016-07-01 11:59] AndreasBurger commented on #356
I've fixed the Layout bug, but there is currently no transparency option in the combined view due to the way the renderer handles transparency. I'll talk to @dietzc about enabling it for labelings/images.

[2016-07-01 13:24] maierl commented on #347
any update on this?

[2016-07-01 13:26] dietzc commented on #347
I have no idea since now. I worked on it a bit, but I was not really able to reproduce. I will give it another try before the release!

[2016-07-01 13:29] maierl commented on #347
Hmm, strange. I'll check it on a different system then, maybe that helps... Thanks for trying though!

[2016-07-01 13:42] maierl commented on #347
Ok, seems partly my fault: deleted all the old labels, now it works fine. Where are those labels saved by the way?

[2016-07-02 10:37] dietzc commented on #347
in the SettingsModel?! Hm so the bug is rather, that the labels are still present if the image changes?

[2016-07-04 09:09] #263 closed

[2016-07-04 09:50] AndreasBurger commented on #356
I've added the transparency slider to the section of the Viewer concerned with all displayed images since the slider affects all rendered images at the same time.

Currently, the RenderUnit draws the first active image as solid image and blends all further images into this "background" using the selected transparency. For a future relase it'd be nice if the transparency setting works per image ins

[2016-07-04 09:50] #356 closed

[2016-07-04 09:53] AndreasBurger opened #365 "Improve Transparency Selection"
Currently, adjusting the transparency in the CombinedImgViewer affects all rendered images. It'd be more intuitive if each image had a transparency slider affecting only its transparency.

[2016-07-04 16:43] dietzc opened #368 "Image Viewer: Allow to disable histogram calculation in b&c panel"
sometimes one doesn't want to recalculate the b&c histogram all the time. maybe we should allow to disable the histogram display.

[2016-07-04 16:45] dietzc opened #369 "Cell Viewer: Buggy behaviour"
Expanding Table, Going Back, Clicking on Active image, Clicking on Table and on image again etc doesn't work.

Reproduce: Just take a single image generated by the image viewer and play with the controls.

[2016-07-04 16:46] dietzc opened #370 "Add Priorities to CellViewerFactories"
We want to be able to control the order of the tabs added to the `CellViewer` by adding priorities to the extension point. For example the Image Viewer of KNIP should always be the first viewer displayed.

[2016-07-05 09:57] AndreasBurger commented on #369
Fixed

[2016-07-05 09:57] #369 closed

[2016-07-05 10:26] AndreasBurger commented on #370
Implemented.

[2016-07-05 10:26] #370 closed

[2016-07-05 11:58] maierl commented on #347
Sometimes it can be useful to keep the annotation for another image with the same Row Id, but that’s probably not intended behavior.

Btw: there’s no way to programmatically generate labels at given x/y positions, right?

[2016-07-05 17:38] dietzc opened #371 "Image Viewer: Speed-Up Brightness & Contrast Panel"
* [ ] Asynchronous update of histogram (when plane selection was updated)
* [ ] Caching of histogram calculations
* [ ] Caching of min/max calculations
* [ ] Faster calculation of histogram (parallelize)

[2016-07-05 18:21] dietzc commented on #371
* [  ] Allow to disable histogram updates

[2016-07-05 18:27] #306 closed

[2016-07-05 18:27] dietzc commented on #264
this is more a future ops issue

[2016-07-05 18:27] #264 closed

[2016-07-05 18:29] dietzc commented on #368
duplicate of https://github.com/knime-ip/knip/issues/371

[2016-07-05 18:29] #368 closed

[2016-07-06 08:10] #301 closed

[2016-07-06 09:18] AndreasBurger commented on #288
Fixed.

[2016-07-06 09:18] #288 closed

[2016-07-06 09:24] AndreasBurger commented on #262
I cannot reproduce this on Windows or Linux. Can you try it again to see if it still occurs on your side?

[2016-07-06 09:52] AndreasBurger commented on #255
Fixed.

[2016-07-06 09:52] #255 closed

[2016-07-06 10:43] maierl commented on #262
Works for me now. Thanks.

[2016-07-06 10:43] #262 closed

[2016-07-06 10:46] maierl commented on #351
How is the preview renderer chosen currently? I did see colored previews again, but I don't know why they were gone in the first place.

[2016-07-06 11:18] avallepa commented on #320
Hello, when the Feature Calculator (Beta) encounters an image with no measurable features it skip it in the result table.

is is possible to configure the node as suggested by gab1one??

" Where features cannot be calculated, e.g. "LabelRegion was too small to calculate geometric features.", we get  'missing' values instead?

Was there a resolution to the issue reported:  https://github.com/knime-

[2016-07-06 11:45] tibuch commented on #320
There is no resolution to this issue until now. But I am currently reimplementing the Feature Calculator and will take care of this issue in the new version.

[2016-07-06 13:16] avallepa commented on #320
If the above issue is not resolved, is there a workaround?

I need to have a table listing the missing measurements... :)

any suggestions? I could join a table built from the original JPG list with the measurement table but HOW can I join them so that the row corresponding to a JPG with no measurement is correctly matched?

thanks!

[2016-07-06 14:00] tibuch commented on #320
Here is a workaround-workflow which replaces all NaN with Missing Values.
[workaround.zip](https://github.com/knime-ip/knip/files/349935/workaround.zip)

[2016-07-06 15:42] avallepa commented on #320
thanks for the workaround!   however I do not get NaN lines, the Feature Calculator just skip the lines were no areas are found....why?

[2016-07-06 15:46] tibuch commented on #320
I can't reproduce this error or maybe my configuration is different. Could you send me a small example workflow?

[2016-07-06 15:56] avallepa commented on #320
these are the nodes I use: I need to create a single excel file where the path to the raw images in each line is matched with the measurements -> but the output table is shorter 4 lines are skipped.
[workflow example.pdf](https://github.com/knime-ip/knip/files/350320/workflow.example.pdf)

[2016-07-06 15:58] tibuch commented on #320
What are the settings of the "Label Segment Settings"-Tab in the Feature Calculator node?

[2016-07-06 16:03] avallepa commented on #320
settings are all checked.
*v *append labels of overlapping segments
*v* Overlapping segments do NOT need to completely overlap
*v* append segment info

Segment label Filter
Rule 1:*  0*  [OR]

thanks!!!

On Wed, Jul 6, 2016 at 5:58 PM, tibuch <notifications@github.com> wrote:

[2016-07-06 16:07] tibuch commented on #320
Could it be that the Segment label Filter Rule 1: is filtering the 4 labels?

[2016-07-06 16:21] avallepa commented on #320
do not think so, I spent most of the day trying all the options, as well as
all the options related to joining or filtering and then joining tables by
rows and columns.  seems like I really need a 'missing' values row.. any
suggestion would be most welcome! :D

On Wed, Jul 6, 2016 at 6:07 PM, tibuch <notifications@github.com> wrote:

[2016-07-06 16:32] tibuch commented on #320
Oh! I probably misunderstood you all the time!
Do you need a left (=top) outer join? The top table is the table with all rows and the bottom table has the missing rows. Left outer join will join the bottom table to the top table and if a join-id is missing a missing-row will be inserted.
![leftouterjoin](https://cloud.githubusercontent.com/assets/5450869/16626141/eb9a76da-43a7-11e6-81d9-f4b8d3926e

[2016-07-07 08:24] AndreasBurger commented on #268
Should be fixed and (hopefully) bug-free as of fc481bfa35ef8312fa4734e87cbd8731d4e49051

[2016-07-07 08:24] #268 closed

[2016-07-07 11:56] avallepa commented on #320
thanks, the end result should be the table as you showed it.
But the first Column (or set of columns) comes from 1 table the second
column (or set of columns) comes from the Feature Calculator.
The sequence of the rows matters: I cannot add all the missing columns at
the end because I must merge two tables with multiple columns.

The tables have initially the same row-sequence, but the feature cal

[2016-07-07 15:51] imagejan opened #372 "Structuring Element Node: third dimension should default to "Z""
Currently, when changing the number of dimensions in Sphere or Box configuration to 3, the newly added dimension is "Unknown". In most use cases, "Z" should be a sensible default.

[2016-07-08 07:23] #350 closed

[2016-07-10 17:15] maierl commented on #330
Just ran into the same problem on Ubuntu 14.04, first on Knime 3.1.2 and then also after updating to Knime 3.2 and latest KNIP trunk:
[code]

[2016-07-10 17:19] maierl commented on #330
trying to read the same file with List Files > Image Reader (table) using its path produces
[code]

[2016-07-11 08:03] AlexanderFillbrunn opened #373 "Image Resizer dialog does not show absolute dimensions on Mac OS"
In the dialog it is not possible to enter absolute values for the dimensions, as only the scaling factor input is shown, no matter what is selected from the dropdowns.

<img width="450" alt="bildschirmfoto 2016-07-11 um 10 03 13" src="https://cloud.githubusercontent.com/assets/3974661/16723680/bb0f1688-474e-11e6-8b3b-57b749fbda2e.png">

[2016-07-11 08:42] imagejan opened #374 "Image Reader (Table): Image Viewer not used"
With KNIP 1.5.0, the _Image Reader (Table)_ node only shows the table view but not the image viewer when clicking on _View: Image Viewer_ or running via _Execute and Open Views_.
(Tested on Windows 7)

[2016-07-11 08:56] #374 closed

[2016-07-11 08:58] AndreasBurger commented on #374
Thanks for the heads-up, i've added the view to the node.

[2016-07-11 17:25] AndreasBurger opened #375 "Add "Help"-Dialog to the cell viewer frame."
The cell viewer frame would benefit from its hotkeys being shown a bit more prominently. In order to achieve that, a standard help-dialog should be implemented in order to provide guidance for the user.

For the future, the content of the dialog could possibly depend on the view currently displayed.

[2016-07-12 10:15] imagejan opened #376 "Compose Image should keep dimension labels"
When using _GroupBy_ with the _Compose Image_ aggregation method and no preallocated interval, the dimension labels get lost (i.e. set to Unknown). I noticed this when creating a montage of several XYC tiles.

(Tested with `KNIME Image Processing	1.5.1.201607120642` from the Nightly update site ;)

[2016-07-12 12:18] hornm commented on #376
Well, they actually don't get lost because it's not well defined what labels to take. From the first image of the list? But that one, e.g. can have less dimensions than the result image.
Any suggestions?

[2016-07-12 12:47] imagejan commented on #376
Hm, you compose the image with known dimensions of each source image and additionally some new dimensions that might be introduced by the offsets. The dimensions of the source images don't get altered, do they?
In my understanding, the way the result image is created is deterministic, so the result dimensions should be as well, no? Maybe I misunderstood the complexity of different use cases.

[2016-07-12 14:13] imagejan opened #377 "Image Writer confuses dimensions when writing tif stack"
When saving an XYZ stack with _Image Writer_ in tiff format, the resulting file is being read back as XYTime stack. Not sure if this is a KNIP issue or a SCIFIO one. See the attached workflow:

[SCIFIO Writer bug.zip](https://github.com/knime-ip/knip/files/359527/SCIFIO.Writer.bug.zip)
(Why the hell did KNIME switch to exporting .knwf instead of .zip??? Well, renaming to zip allowed me to upload t

[2016-07-12 15:00] imagejan commented on #377
Alright, this seems to be a SCIFIO issue, see https://github.com/scifio/scifio/issues/316

[2016-07-12 15:00] #377 closed

[2016-07-12 15:05] hornm commented on #376
Yes, you're right but the labels could potentially vary, what is rare though. I fixed it and if now different labels occur at the same dimension index, they are joined together by ','. Not super helpful, but in this case the user at least gets an idea what's going on.
But in short for you ;) - should work with the next bugfix release ...
(pull request https://github.com/knime-ip/knip/pull/378)

[2016-07-14 11:18] dietzc commented on #351
it depends on your last dimension. is it working now as expected?

[2016-07-14 11:19] dietzc commented on #347
oh you can do that using loops and the groupby! but this is a different topic, right? can you open a topic in the forum for that or an issue if it is a bug?

[2016-07-14 11:19] #347 closed

[2016-07-14 11:20] dietzc commented on #355
@AndreasBurger any comments?

[2016-07-14 11:22] dietzc commented on #330
I think the problem is the `#` in your foldername, not the spaces.

[2016-07-14 11:54] maierl commented on #330
probably you are right, then that's a closely related bug.
it's not a strong reason, but I keep prefixing folders with # if I want them sorted on top.

[2016-07-14 11:57] maierl commented on #351
ok, thanks. if I run into the problem again, I'll check that first.

[2016-07-14 13:03] dietzc commented on #351
thanks!

[2016-07-14 13:59] dietzc commented on #330
OK. I found a workaround, it was not too easy. Nightly build should ship the fix tomorrow https://github.com/knime-ip/knip/commit/97f0084d2c3c1dfd45e6116428e9bed8ef591a8a

[2016-07-14 13:59] #330 closed

[2016-07-14 14:44] AndreasBurger commented on #372
Fixed this bug. I've fixed the order of the axis-labels to X, Y, Z, T, C, Unknown, Unknown, ...

[2016-07-14 15:16] AndreasBurger commented on #355
I cannot reproduce this bug locally. Is there any chance you could provide an example workflow @imagejan ?

[2016-07-14 15:56] maierl commented on #330
Thanks!

[2016-07-14 16:20] #375 closed

[2016-07-14 16:46] maierl commented on #282
any update on that?

[2016-07-14 17:25] maierl opened #380 "Source is lost when merging images"
The _Merger_ doesn't keep the Image source (or the calibration #282).
Merging images with _GroupBy_ keeps the calibration, but not the source.

[2016-07-14 17:31] maierl opened #381 "Transfer Image Metadata: differing dimensions break metadata"
when the metadata of an XYZC image is replaced with a XYZ image by the Transfer Image Metadata node, reading the resulting metadata with an Image Properties node fails with `java.lang.IllegalArgumentException: number of provided axes != number of dimensions`

[2016-07-14 18:09] maierl opened #382 "Set Image Metadata does not set source"
tested in KNIP 1.5.0.201607071447

[2016-07-14 18:17] maierl commented on #382
extending an XYZ image to XYZC and using the Transfer Image Metadata doesn't set the Source, either.

[2016-07-14 20:37] maierl commented on #160
anything new here?

[2016-07-15 07:16] dietzc commented on #382
sorry, I don't get it. So there are two bugs? Is it important to extend the image before for the second one?

[2016-07-15 07:25] dietzc commented on #382
https://github.com/knime-ip/knip/commit/50de6c7b52e898c6e313acc61078e377afa6987c fixed

[2016-07-15 07:25] #382 closed

[2016-07-15 07:26] dietzc commented on #381
which is correct. because you can't transfer the metadata from an XYZC image to an XYZ image. Use the `Dimension Extender`  before.

[2016-07-15 07:26] #381 closed

[2016-07-15 07:27] dietzc commented on #376
fixed

[2016-07-15 07:27] #376 closed

[2016-07-15 08:04] maierl commented on #381
Did that then, but it should not just produce broken data, but show an error.

[2016-07-15 08:06] maierl commented on #382
thanks! that fixes both problems I assume?

[2016-07-15 08:50] hornm commented on #380
Fixed with https://github.com/knime-ip/knip/commit/9b01f81012666b292e23b56bd5efe5289b2613d4

[2016-07-15 08:50] #380 closed

[2016-07-15 09:00] dietzc commented on #382
yes

[2016-07-15 09:06] maierl commented on #380
thanks for your quick fix!
that doesn't fix the lost source in the GroupBy node, does it?

[2016-07-15 09:07] hornm opened #383 "Not all pixel types are available in the 'Compose Image'-aggregation method of the GroupBy-node"

[2016-07-15 09:08] #383 closed

[2016-07-15 09:10] #286 closed

[2016-07-15 09:11] #284 closed

[2016-07-15 09:12] dietzc commented on #279
Is this bug still there? can you post an example workflow?

[2016-07-15 09:13] dietzc commented on #275
Do you have an example workflow for that?

[2016-07-15 09:13] #246 closed

[2016-07-15 09:13] #194 closed

[2016-07-15 09:14] #147 closed

[2016-07-15 09:14] #83 closed

[2016-07-15 09:16] dietzc commented on #338
will happen with the ThreeDViewer by @kephale

[2016-07-15 09:16] #338 closed

[2016-07-15 09:17] #233 closed

[2016-07-15 09:18] #228 closed

[2016-07-15 09:18] #224 closed

[2016-07-15 09:18] #221 closed

[2016-07-15 09:18] #225 closed

[2016-07-15 09:45] AndreasBurger commented on #365
As this requires changes to the basic render units, the current viewer won't be changed to accommodate this behaviour. Instead, I will look to implement it into the BDV integration.

[2016-07-15 09:45] #365 closed

[2016-07-15 09:52] AndreasBurger commented on #327
Will be included in the BDV integration

[2016-07-15 09:52] #327 closed

[2016-07-15 10:29] AndreasBurger commented on #274
I've removed the filtering of the input table from the view and moved it to the display. Now, the whole table will be shown in the quick view and overview, but only selections of annotatable cells are displayed.

[2016-07-15 10:52] #274 closed

[2016-07-15 10:53] AndreasBurger commented on #269
As the information-display has to be redone with the bdv-integration, this should also be included then.

[2016-07-15 10:53] #269 closed

[2016-07-15 11:19] AndreasBurger commented on #248
Order, as given by TwoValuesToCellNodeModel.COL_CREATION_MODES, is "New Table, Append, Replace first, Replace second".
According to the files history, this hasn't been changed.

[2016-07-15 12:36] #248 closed

[2016-07-15 12:57] hornm commented on #144
Maybe the "Splitter (uncropped)" followed by the "Split Collection Column" is what you're looking for?
If not, please feel free to reopen this issue again.

[2016-07-15 12:57] #144 closed

[2016-07-15 13:25] maierl commented on #144
thanks, i'll try that

[2016-07-15 13:25] imagejan opened #385 "Exceptions when reading large image files"
I don't manage to read large image files with the Image Reader. I have a 29GB .ics/.ids stack (written using SCIFIO in Fiji, it also opens fine in Fiji). (I'm using ics/ids because that's the only one that doesn't take hours to export with SCIFIO.)

If the Image Reader is configured to `Array_Image_Factory`, the exception is:
[code]

If `Cell Image Factory` is used, I get:

[code]

[2016-07-15 14:18] imagejan commented on #355
@AndreasBurger sure, here you are:

[ImageViewerLargePlanes.zip](https://github.com/knime-ip/knip/files/366142/ImageViewerLargePlanes.zip)

This is how it looks on my screen:

![imageviewerlargeplanes](https://cloud.githubusercontent.com/assets/2033938/16877261/97119704-4aa7-11e6-8666-22a2f8847821.png)

[2016-07-15 15:36] AndreasBurger commented on #355
Okay, with this workflow I can reproduce the bug. I'll look into it.

[2016-07-19 12:24] beschu commented on #373
Which version of Mac OS are you using? I just tested the Image Resizer on a MacBook Air with OS X El Capitan 10.11.6 and it worked as it should work.

Which version are you working on? Did you do anything special that might give a hint how the bug might be reproduced?

[2016-07-19 12:57] AlexanderFillbrunn commented on #373
I am on OS X El Capitan 10.11.5. I just found out that this only occurs only when I have multiple images in one row. I read 4 images from disk and then use a "Transpose" node. Before the transpose, absolute values can be set, after it not.

[2016-07-19 16:50] beschu commented on #373
Okay thanks! I'll try to figure something out.

[2016-07-20 09:43] maierl opened #386 "Merging images with GroupBy discards the Source."
after merging (mean or merge) images with GroupBy, the source property is lost.

[2016-07-20 10:25] dietzc commented on #386
one question will be. what will the source of several images be?

[2016-07-20 11:11] maierl commented on #386
at least if they are all the same I'd like to get that source again

[2016-07-20 12:46] maierl commented on #386
a unique list (if multiple) with "[a, b, c]" or just the last one with a warning would be ok, too.
especially if the source starts with "[", it is obvious that care is needed when trying to rely on that programmatically.

[2016-07-21 07:35] imagejan commented on #372
Still doesn't work in `KNIME Image Processing	1.5.2.201607190650`: the resulting 3D Sphere element has the dimensions `X,Y,Unknown`

[2016-07-21 08:35] imagejan commented on #131
Any news on this? I'm still suffering severe performance issues with the Image Writer.

Here's an example benchmark workflow:
[Image Writer Performance.zip](https://github.com/knime-ip/knip/files/375462/Image.Writer.Performance.zip)

I get the following writing times for the different file formats:
[code]

[2016-07-21 08:37] dietzc commented on #131
I think this is still a SCIFIO Problem. At the moment I can only recommend to use `ics` in favour of tiff. @ctrueden what do you think?

[2016-07-21 11:30] tibuch opened #387 "Quantil Filter for more than 2 dims"
Quantil Filter only works on 2D input. At least it is not allowed to select more than 2 dimensions in the dim-selection.

[2016-07-21 12:18] dietzc commented on #387
Try `Median` filter, which should work in 3D, just slower. Quantile filter is just an optimized median filter version for 2d.

[2016-07-21 12:21] imagejan commented on #387
What if you want to use a quantile other than 50% for filtering your 3D data? The `Median` filter doesn't support that, does it?

[2016-07-21 12:23] tibuch commented on #387
Median is only for 50%.

[2016-07-21 12:23] dietzc commented on #387
true

[2016-07-21 21:05] beschu commented on #277
I added the possibility to choose between radian and degree as recommended.

However as for now, I couldn't reproduce the strange behaviour where the image turned yellow as described in the forum.
I tried it on Windows 10 with a .jpg. If I rotate an image with the Image Viewer of Windows 10 the image doesn't show as a rotated image in Knime (as described by the guys in the forum). But if I then ro

[2016-07-22 11:51] hornm commented on #386
Fixed with 95e0a5813c26bca3f01f2ee4796feedb7d58d564.
Image names and sources are now concatenated with "," if they are not the same over all images.

[2016-07-22 11:51] #386 closed

[2016-07-22 12:52] maierl commented on #386
Thanks!

[2016-07-22 15:00] AndreasBurger commented on #372
As of 2ca9880bc4e927d57e348058f26e053ddb698448 the meta-information is passed along and the axes should be labeled as mentioned before.

[2016-07-22 15:00] #372 closed

[2016-07-22 19:21] ctrueden commented on #131
I am aware of a SCIFIO issue for improving the performance of TIFF _reading_: scifio/scifio#7.

But is there an issue for improving the behavior of TIFF _writing_? I couldn't find it.

Has anyone profiled why TIFF writing is slow? I can't imagine it would be that hard to fix. #famouslastwords

[2016-07-24 16:39] dietzc commented on #131
@gab1one can you reproduce the problem and open an issue in scifio?

[2016-07-27 15:23] maierl opened #388 "Image resizer: forgets Source"
see title ;)

[2016-07-29 14:10] maierl opened #390 "Python Script Node fails for large images"
With a 512x512x299x8 xyzc image in this [example workflow](https://github.com/knime-ip/knip/files/390666/python.img.dim.fail.knwf.txt), the Python Script (1:1) node fails with

[code]

[2016-07-29 14:14] dietzc commented on #390
true. only works for images < Integer.MAX pixels.

[2016-08-10 07:22] Treiblesschorle commented on #340
I see that it can be interpreted that way but I meant something different. My use case is that I have a set of images with different sizes and I want them to have the same size in one dimension and the other dimensions get scaled automatically. E.g. set x = 100pixel and the y dimension gets scaled automatically.

[2016-08-15 06:14] dietzc opened #391 "Interactive Labeling Editor: Allow synchronization of dimensionalities"
The incoming `RAI<LabelingType<?>` should be synced with the dimensions of the incoming `ImgPlus`.

[2016-08-15 07:20] dietzc commented on #391
should only happen during annotation. I think here: `LabelingEditorView`

[2016-08-19 13:09] imagejan opened #392 "MaxHomogeneityOp improvements"
I noticed that the `MaxHomogeneityOp` takes *very* long to process. Some comments in the source code made me wonder if this could be improved. Also, handling 3D images would be a plus.

Also, *Max Homogeneity* node doesn't mention any reference to the algorithm used. Is it published anywhere?

[2016-09-07 10:34] imagejan opened #393 "Feature Calculator throws exception"
When using _Feature Calculator (BETA)_ with any of the Statistic Features (e.g. in the _06_Feature_Calculation_ example workflow), I get the following exception (tested with KNIP `1.5.2.201609050651`):

[code]

[2016-09-07 10:51] dietzc commented on #393
thanks for reporting @imagejan, must be some change in `Ops` causing this problem. I will take a look asap.

[2016-09-08 08:54] dietzc opened #394 "Image Reader: Make Sure DICOM Headers are read"
see: https://tech.knime.org/forum/knime-image-processing/dicom#comment-45345

[2016-09-12 12:05] manugunkel opened #395 "Segment Cropper synchronized after reset"
After a reset or a new loop iteration, all Segment Cropper nodes in a workflow generate identical output although they are configured to work on different segmentations. Changing the configuration once, closing the configuration and then set it back produces the right output but is unfavorable within a loop.
KNIME Analytics Platform	3.2.1.v201608190927
KNIME Image Processing	1.5.1.201608031220
Win

[2016-09-13 09:46] gab1one opened #396 "Normalize images for Thumbnails?"
The fact that our thumbnails are not normalized confuses users [for example here](https://tech.knime.org/forum/knime-image-processing/problem-with-image-writer-node), because the result of node operations seems to be a black image. We could  normalize the thumbnails, to prevent this.

[2016-09-13 09:49] imagejan commented on #396
See also https://github.com/knime-ip/knip/issues/359

[2016-09-13 15:22] dietzc commented on #396
black or grey image @gab1one. We actually can easily enable normalization for all thumbnails. @hornm what do you think? Anyway, duplicate of #359.

[2016-09-13 15:22] #396 closed

[2016-09-13 16:04] maierl commented on #351
there it is: [png preview.zip](https://github.com/knime-ip/knip/files/470250/png.preview.zip)
tested with 3.2 stable.

[2016-09-13 16:13] dietzc commented on #395
Hi @manugunkel,

thanks for reporting this problem. Can you provide an example workflow and detailed steps how we cna reproduce the problem? This would help a lot!!

Thanks,

Christian

[2016-09-14 08:14] manugunkel commented on #395
Hi Christian,

the problem dissapeared. I thought it was persistent and had tested it several times, that's why I reported here. I changed the workflow to circumvent the problem. After changing back the Segment Cropper nodes show the intended and right behaviour so I'm not able to reproduce.

Sorry to bug you!!

[2016-09-14 08:20] maierl opened #397 "Img Writer: ICS metadata errors"
The ICS metadata has various errors. I am aware that it is currently not possible to write more than one channel (https://github.com/scifio/scifio/issues/326), but there are a few more things to be corrected.

- the third dimension is Z for my images, but stored as "u"
- the scaling unit of the third dimension is um, but stored as "null"
- the scaling values are wrong. imagej expects a height / wi

[2016-09-14 09:10] manugunkel commented on #395
Hi Christian,

ich glaug ich hab das Problem eingegrenzt, es tritt in diesem Workflow
ständig auf bei allen möglichen Knoten und liegt daran, dass ich die
Bilder und Label variablenbasiert umbenenne. Dann hat natürlich der
entsprechende IP-Knoten nicht von vornherein den Bildnamen für die
Auswahl und führt ein auto-configure image column aus - obwohl die Namen
jedes mal gleich sind. Bei dieser Aut

[2016-09-14 09:20] gab1one commented on #395
Hi @manugunkel,
You can control the column selection using flow variables, so it should possible to always select the same column even with changing table specs. E.g using a string input node where you enter the column name.

[2016-09-14 09:35] maierl commented on #397
beyond that, the .ics writer apparently writes only the first 3 dimensions of an image, ignoring the rest.

[2016-09-14 09:37] manugunkel commented on #395
Thanks Gabriel, I'll give it a shot!

Am 14.09.2016 um 11:20 schrieb Gabriel Einsdorf:

[2016-09-14 09:39] manugunkel commented on #395
Perfect, solves the problem since I have the variables containing the
respective names either way :)

Am 14.09.2016 um 11:20 schrieb Gabriel Einsdorf:

[2016-09-14 09:52] gab1one commented on #395
I am glad I could help :smiley_cat:.

[2016-09-14 09:52] #395 closed

[2016-09-14 13:11] dietzc commented on #397
I'm sure this is a problem in `SCIFIO` or `BioFormats`, right? Can you open the issue there please? Maybe there already exists another issue related to this problem. Can you reproduce the problem in ImageJ?

[2016-09-14 13:51] maierl commented on #397
When I write a .ics from ImageJ, the header states the seemingly right dimensionality and scaling, but the dimensions get mixed up when opening the file. That’s why I only referenced the according issue of SCIFIO.

[2016-09-14 21:10] dietzc commented on #397
Which KNIME version are you using? Actually, we have no specific `ICS` code on KNIME side and fully rely on `SCIFIO`. Therefore, the behaviour should exactly be the same if the versions of the libraries are the same. did you use modern mode to test SCIFIO?

[2016-09-14 21:55] maierl commented on #397
It is 3.2 stable. I didn't find any option to write .ics directly in ImageJ, so I used the bioformats exporter. I assume that does not use SCIFIO even when modern mode is activated (or --ij2 on the windows command line in my case).
@imagejan you reported the problem with SCIFIO, so maybe you could tell us how to save the image with SCIFIO instead of bioformats?
Anyway, the errors of saving with th

[2016-09-14 22:02] dietzc commented on #397
@maierl we fixed several minor problems in our nightly build (as it used a new SCIFIO / bioformats). Can you check if some of the problems are gone? Sorry for the trouble!

[2016-09-15 20:15] maierl commented on #397
with the latest nightly, the image errors look just as imagejan described. additionally, all calibrations except for Y are correctly saved. Y is reset to 1.

[2016-09-15 21:23] dietzc commented on #397
@maierl can you post a very, very small workflow to reproduce the problem (i.e. Image Generator -> Set Image Metadata -> Img Writer or so?). This would be super helpful!

[2016-09-16 08:25] maierl commented on #397
There you go:
[ics test.knwf.txt](https://github.com/knime-ip/knip/files/476395/ics.test.knwf.txt)

[2016-09-16 08:30] maierl commented on #397
oh and one more thing: I didn't set offsets on the image as I didn't expect them to be an intended property of regular images. is that right?

[2016-09-19 12:42] hornm opened #398 "Image Compose Operator (GroupBy): allow one to specify the background value"
The Image Compose Operator of the GroupBy-node should have an options that allows one to specify the background value. This value will then be ignored (i.e. not written to the result image). This helps one to deal with 'overlapping-effects' when image patches are composed.

[2016-09-20 09:25] dietzc commented on #397
I think http://forum.imagej.net/t/release-of-bio-formats-5-2-2/2760/2 is related, correct? See post of oburri.

[2016-09-20 12:02] maierl commented on #397
do you happen to know if the SCIFIO .ics writer still uses bioformats code?
The effects of the bioformats bug look different.

[2016-09-20 12:17] maierl commented on #397
the updated bioformats plugin works fine. yet that doensn't immediately help reading / writing files in knime I assume?

[2016-09-20 12:31] dietzc commented on #397
I don't understand what you mean.

https://github.com/scifio/scifio/blob/master/src/main/java/io/scif/formats/ICSFormat.java

We use the SCIFIO format.

[2016-09-20 12:32] dietzc commented on #393
fixed with next nightly build.

[2016-09-20 12:32] #393 closed

[2016-09-20 12:43] maierl commented on #397
bitmasks typically have offsets. when I would save them as image files and load them again, would the offset be restored? I didn't expect that and thus I didn't test the offests for .ics files.

[2016-09-20 12:54] dietzc commented on #397
any kind of interval can have an offset (=minimum of interval).

[2016-09-21 08:54] imagejan commented on #397
@maierl I agree, the offsets that you set within KNIME will not be part of the metadata in the .ics file being written. Or is this information part of `net.imagej.axis.Axes`, @dietzc ?

[2016-09-21 09:08] dietzc commented on #397
Sorry, I misunderstood the problem. Yes, minimum is _not_ written!

[2016-09-22 14:36] imagejan commented on #393
@dietzc is there a new nightly build available? I still see `1.5.2.201609160651` as most recent version.

[2016-09-22 14:38] dietzc commented on #393
not yet. our server is still down as we move it to another one. I hope that there will be a new nightly build tomorrow evening.

[2016-09-22 14:53] imagejan opened #399 "Image Reader Dialog: hidden elements require manual resizing"
On Windows 7, when double-clicking on the *Image Reader* node, the dialog opens with half of the UI hidden behind the frame borders:

![imagereader](https://cloud.githubusercontent.com/assets/2033938/18753109/ad7d39b2-80e4-11e6-81f1-d2212815ee9b.png)

This can be confusing for new users, as they don't discover the hidden functionality until they manually resize the window.

[2016-09-22 15:20] dietzc commented on #399
thanks a lot @imagejan. We will take care asap!

[2016-09-22 15:35] #277 closed

[2016-09-22 15:37] #167 closed

[2016-09-22 15:37] #133 closed

[2016-09-22 15:38] #215 closed

[2016-09-22 15:38] dietzc commented on #50
ops.

[2016-09-22 15:38] #50 closed

[2016-09-22 15:39] dietzc commented on #127
needs cleanup.

[2016-09-22 15:40] dietzc commented on #112
@tibuch make sure these features are part of any issue in the ops project.

[2016-09-22 15:40] #112 closed

[2016-09-22 15:42] #236 closed

[2016-09-23 12:22] tibuch commented on #321
Currently the provided workflow runs.

[2016-09-23 12:22] #321 closed

[2016-09-23 13:01] tibuch commented on #205
We will have 3 different nodes and a labeling is never optional.

See project description of "New set of "Feature Nodes"" (https://github.com/knime-ip/knip/projects).

[2016-09-23 13:01] #205 closed

[2016-09-23 13:16] tibuch commented on #276
All FeatureSets will be tested again. I opened an issue on imagej-ops side: https://github.com/imagej/imagej-ops/issues/449

[2016-09-23 13:16] #276 closed

[2016-09-23 13:45] tibuch opened #400 "Image Measurements Node"
Input: Image

Description: Measurements on image e.g. mean of image, texture etc.

[2016-09-23 13:46] tibuch opened #401 "Feature Nodes: ROI Measurements Node"
Input: Labeling + Image (Optional)

Description:
- Measurements on image per ROI, e.g. mean of ROI, texture of ROI etc.
- Measurements of ROI shape

[2016-09-23 13:48] tibuch opened #402 "Feature Nodes: Segmentation Measurements Node"
Input: Labeling

Description:
- Measurements on Labeling, e.g. number of labels, distribution etc.

[2016-09-26 12:54] maierl commented on #160
more generally, any PNG file is only written black-and-white, probably its red channel. Tested this time with Labelling to RGB Img as input.

[2016-09-26 13:02] imagejan commented on #160
For the time being, you can work around it by using the _Labeling to PNG Images_ node and the _Image Column Writer_, no?
But I agree it would be nice to have possibilities to configure how multi-channel images are written (as RGB, multi-page, with LUTs etc.)

[2016-09-26 13:07] maierl commented on #160
thanks @imagejan, you're right about the workaround.

[2016-09-26 13:24] maierl commented on #160
well, with that workaround, the offsets of the labelings seem wrong. but I'm not going into this now.

[2016-09-26 13:58] dietzc commented on #160
how can they be wrong?

[2016-09-26 14:09] maierl commented on #160
never mind, that was a wrong assumption that I had.

[2016-09-27 15:32] maierl opened #403 "AssertionError on Max Z Projection"
After both Knip 3.2 stable and the nightly somehow again came up with the error that images are not shown / updated after a few clicks (I set the Image Annotor config, closed it, reloaded and no images were shown anymore), now I resorted to the 3.2 stable SDK.

That one gives me an assertion error on the Projector node.
[assertion_error.knwf.txt](https://github.com/knime-ip/knip/files/495955/asser

[2016-09-27 16:03] dietzc commented on #403
thanks for reporting! fixed in https://github.com/knime-ip/knip/commit/47be4328b6a0e369fcd49ccd50081cf5732631f2.

About the first error: If you can reproduce this behaviour, please open a dedicated issue. I'm happy to help then!

[2016-09-27 16:03] #403 closed

[2016-09-27 16:06] maierl commented on #403
that was super fast, thanks @dietzc !

[2016-09-27 17:12] maierl opened #404 "Nightly: fails to read CZI metadata"
The latest nightly fails to read the metadata of my .czi images. They open fine in the latest Fiji, though. Here's an [example image](https://github.com/knime-ip/knip/files/496216/d2_6_W001_P001_T001.zip.txt).

[2016-09-28 07:54] maierl opened #405 "Interactive Annotator: blocking after removed polygon"
When I enter a polygon shape in the Interactive Annotator and remove it, I cannot enter a polygon shape again for 5-10 seconds. there is no apparent CPU load during that time, though.

[2016-09-28 08:50] maierl opened #406 "Interactive Annotator: permanent defunct on malpositioned rectangle"
When I use the interactive annotator to create a new rectangle annotation that accidentally crosses the top edge of the image, it stops to react on any click until I reload the whole workflow.

Even changing the Z-position of the image does not work anymore then.

[Example workflow](https://github.com/knime-ip/knip/files/497510/annotator_fail.zip)

[2016-09-28 09:15] maierl commented on #406
another version of this bug:
- create a polygon annotation
- use the selection tool to move its topmost point beyond the top edge of the image

-> never finishes executing anymore

[2016-09-28 10:33] maierl opened #407 "Interactive Annotator: feature request: draw ellipse"
see title :)

[2016-09-28 12:11] maierl commented on #406
another, but non-critical bug when clicking outside of the image:
- start polygon
- click outside the image
- polygon remains as single line and polygon creation is stopped

[2016-09-28 17:57] dietzc commented on #406
I think I fixed all three bugs by ignoring _all_ clicks outside the image. can you test the next nightly and tell me if you are satisfied with the behavior?

Thanks again for reporting. This is super helpful!

[2016-09-28 17:58] dietzc commented on #405
puh, I can't reproduce this one. can you try again with the latest nightly and let me know if the error is still present?

[2016-09-28 18:04] maierl commented on #406
sure, I'll have a look. the fix sounds good.
The second bug doesn't need a click outside the image, however: you can just move the shape outside at the top when you hold its bottom.

[2016-09-28 18:06] dietzc commented on #406
Ok, I'm ignoring _any_ action outside the image ;-)

[2016-10-02 13:53] maierl commented on #406
On 1.5.2.201610010712, trying to create a rectangle that crosses the image boundaries still blocks the whole node.

[2016-10-03 14:01] dietzc commented on #406
oversight from my side. should be fixed with next nightly in ~2h.

[2016-10-04 08:50] maierl commented on #406
bugs 1 + 2 are fixed 👍 , just the non-critical bug 3 remains.

[2016-10-04 08:53] maierl opened #408 "Interactive Annotator: default view shows images only if in column 1"
if the image to be annotated is not in column 1, you first have to select the image column (that is selected for annotation in another tab) from the table before it is shown.

[2016-10-04 08:59] dietzc commented on #408
What do you mean by `before it is shown`?

[2016-10-04 09:10] maierl commented on #408
The image area (where I would annotate the image) is black before I select the image from the table.

[2016-10-04 09:13] maierl opened #409 "Interactive Labeling Editor: should remember label edits"
After re-loading the same image and segmentation, the Interactive Labeling Editor does not remember the edits I made last time. It would be very helpful if it did, just as the Interactive Annotator does.

[2016-10-04 13:09] maierl commented on #406
btw @dietzc: do you get notified when I edit a comment?

[2016-10-04 13:12] dietzc commented on #406
unfortunately not. Can you quickly outline what is bug1, bug2, bug3? I'm a bit lost :-) thanks!

[2016-10-04 17:06] maierl commented on #406
bug 1: first one mentioned on this thread, fixed.
bug 2:

- create a polygon annotation
- use the selection tool to move its topmost point beyond the top edge of the image (tested with 2 points outside of image)
- execute
-> never finishes executing

bug 3:

- start polygon
- click outside the image
- polygon remains as single line and polygon creation is stopped

[2016-10-04 20:17] dietzc commented on #406
great! I worked a bit on it. https://github.com/knime-ip/knip/commit/57c4f1f25bcb9b5788e58cd101c50316b45e4b70

Can you test the annotator? I changed quite a lot ... should make drawing easier in general!

[2016-10-05 07:29] maierl commented on #406
Looks good to me 👍 . I also like how you handle the polygon clicks outside the image.

One last thing though: the annotations I created with earlier versions are not restored. Unfortunately, I put quite a lot of effort into those lately. Could you maybe make them importable to the updated annotator?

[2016-10-05 09:14] maierl opened #410 "Interactive Annotator: feature request: show colors"
It would be great if the RGB renderer could be used with the Interactive Annotator, too.

[2016-10-05 09:42] maierl opened #411 "Interactive Annotator: feature request: label color information"
There should be a better connection between the labels and the colored segment overlays.
My first idea was a mouseOver info, but maybe it would better to set a background color on the labels in the "Labels" list? (That one should be sorted or sortable btw)

An example: if label "A" is shown as red overlays, then the background of entry "A" in the Labels list on the right should be red as well.

[2016-10-05 12:05] maierl opened #412 "Projector: Feature Request: Project Labelings"
see title

[2016-10-05 18:47] maierl commented on #406
newest commit fixed that, thanks!

[2016-10-05 18:47] #406 closed