[2016-10-06 07:20] maierl commented on #405
that bug is dodgy... happened in 100% for my old dataset, but cannot reproduce on a smaller one so far.
I suspect it is related to the number of polygon annotations that already exist for that dataset, maybe even if the current image has an entry in the annotator already.
Closing until I find the core of that bug.

[2016-10-06 07:20] #405 closed

[2016-10-06 10:07] maierl commented on #408
Maybe it helps to put it differently: the annotator always shows the first column in the annotation area by default. If that column is a string, the annotation area is black. If there is an image in col 1 (possibly not from the selected column), that image is shown.
In contrast, I would expect the annotator to show the image from the selected column.

[2016-10-06 13:16] maierl opened #413 "Interactive Annotator: ask to save on close"
Pressing the "X" button to close the Annotator should ask if changes shall be saved instead of discarding them instantly.

[2016-10-06 13:32] dietzc commented on #413
this is a general concept in KNIME, which we can't solve on our side. please reach out to the KNIME core team directly in the KNIME forum.

[2016-10-06 13:32] #413 closed

[2016-10-06 13:34] maierl commented on #413
Well, ok then.

[2016-10-07 08:02] maierl commented on #413
There you go: https://tech.knime.org/forum/knime-users/ask-to-save-node-settings-on-close

[2016-10-07 09:16] maierl commented on #397
the new release is way better for .ics than before 👍

image dimensions stay the same now, unless they are 1 and thrown out (a pity for dimension X. probably due to https://github.com/scifio/scifio/issues/290 ?)
a few more bugs are shown by the workflow I posted here.

in my eyes the biggest problem of the new stable release is that the image metadata fails for .ics as it does for .czi files ( #404

[2016-10-11 13:27] tibuch commented on #329
This PR https://github.com/imagej/imagej-ops/pull/454 should solve the issue.

[2016-10-12 09:16] gab1one opened #414 "Add ConnectionInformationPort to ImageReader (Table)"
Often images are not available on the machine the workflow is running at. The Image Reader already supports reading file from remote locations if there is no authentication required. By adding an optional ConnectionInformationPort (from org.knime.base.filehandling.remote) we can expand this support to remote locations that require authentication.

[2016-10-12 10:25] gab1one opened #415 "Add ConnectionInformationPort to ImageWriter"
Often images are not available on the machine the workflow is running at. The
Image Writer already supports saving files to remote locations if there is no
authentication required. By adding an optional ConnectionInformationPort (from
org.knime.base.filehandling.remote) we can expand this support to remote
locations that require authentication.

[2016-10-12 15:40] maierl opened #416 "Image Writer: do not check "selected directory" if "absolute filenames" is set"
If the "selected directory" does not exist anymore, the image reader fails even when "absolute paths" is selected.

[2016-10-13 09:03] maierl commented on #416
hmm, I think the node might have failed for another reason. it does check the directory, but the failure could also have been for a changed image column name. At least Knime thinks so.

Anyhow: When I open the config of the previously configured node and just press ok again, it runs fine.

[2016-10-13 13:46] maierl opened #417 "Image Writer: flush + close .ics files"
For a rather long time, the .ids data file of an ics/ids image has zero size.
Moreover, they are locked (cannot be deleted) until Knime is closed.

Tested with latest nightly on Win 10.

[2016-10-21 09:35] maierl commented on #404
any improvement in sight already? I assume this has bug is now on stable.

[2016-10-21 11:57] gab1one commented on #416
If the target directory does not exist, you have to select the **Create non-existing directories** option in the node settings.

[2016-10-21 13:18] maierl commented on #416
That’s not what I meant. I’m only referring to the single directory configured by “Selected Directory”. When “absolute paths” is selected, that directory should neither be created nor checked for existence.

[2016-10-25 18:42] maierl commented on #416
That’s not what I meant. I’m only referring to the single directory configured by “Selected Directory”. When “absolute paths” is selected, that directory should neither be created nor checked for existence.

[2016-10-26 13:11] imagejan commented on #317
See [this discussion on the ImageJ forum](http://forum.imagej.net/t/open-part-of-tif-stack/3166?u=imagejan) about use cases for this option.

[2016-10-28 14:24] imagejan opened #418 "Morphological operations are extremely slow"
The **Morphological Image Operations** and **Morphological Labeling Operations** nodes take ridiculously long to process 3D images (e.g. 134x128x214 pixels with a spherical structuring element with radius of 15 pixels), in the range of hours per image.

Is there a possibility to use a faster algorithm (such as [`fastErode`](https://github.com/fiji/Gray_Morphology/blob/master/src/main/java/mmorpho/

[2016-10-30 08:43] dietzc commented on #418
Hi @imagejan,

did you try the imagej-ops version for 3D morph? see: https://github.com/imagej/imagej-ops/blob/master/src/main/java/net/imagej/ops/morphology/MorphologyNamespace.java.

We will use this implementation in the future!

[2016-10-31 11:41] imagejan commented on #418
Thanks, @dietzc, I'll try that!

[2016-11-09 14:40] imagejan opened #419 "Aggregation method Merge only supports 2D to 3D, not 3D to 4D"
When using the _GroupBy_ node with aggregation method "Merge Image", I can choose the name of the newly created dimension, but if my input has e.g. X,Y,Z, only the first Z plane will be considered for the merge operation. I tried with different combinations (input X,Y,Z, new Channel; input X,Y,Channel, new Z; etc.)

The issue is presumably in [`ImgMergeOperator.java`](https://github.com/knime-ip/k

[2016-11-11 12:41] maierl commented on #419
Thanks for confirming that problem. It is the same as #175, isn't it?

[2016-11-11 14:33] maierl commented on #410
just ran into that issue again ;)

[2016-11-11 20:42] maierl opened #420 "Image Viewer / Annotator: more key bindings"
It would be great to have more key bindings, e.g. show next row.
When the table is shown at the bottom, it can be done with the Arrow-Down-Key, but as soon as anything else is clicked, it doesn't work anymore.

[2016-11-11 20:43] maierl opened #421 "Image Viewer: synchronize arrow-down button with table"
When I go down five rows with the arrow-down button, the table at the bottom should select the same image.

[2016-11-15 14:29] maierl commented on #217
just came across that issue again 👍

[2016-11-16 09:27] imagejan opened #422 "ImageWrite throws ArrayIndexOutOfBoundsException on composed images"
When composing an image using the _GroupBy_ node, without using a predefined interval, and then trying to write the resulting image with the image writer, the following exception gets thrown:

[code]

Here is an example workflow:
[Image Writer Bugs.zip](https://github.com/knime-ip/knip/files/594160/Image.Writer.Bugs.zip)

[2016-11-17 08:20] dietzc commented on #412
Can you be more specific about what you expect from a projection? Merge? XOR? AND? OR?

[2016-11-17 08:48] maierl commented on #412
What I needed was an OR or Merge projection (across Z levels in that case)

[2016-11-17 10:39] maierl opened #423 "Image Reader: Some .tif images do not have Source set"
Could not test with the very latest KNIP yet, but this should be easy to verify. Left the signal empty intentionally. The example.zip contains such a tiff file.
[example.zip](https://github.com/knime-ip/knip/files/597081/example.zip)

[2016-11-17 12:24] dietzc commented on #423
the error is in the `ImageReader` you say?

[2016-11-17 12:58] maierl commented on #423
Yes.

[2016-11-17 12:59] dietzc commented on #423
Did you add the particular tiff files to the workflow?

[2016-11-17 13:03] maierl commented on #423
The .zip contains only the tiff file.

- Lorenz [mobile]

Am 17.11.2016 um 13:59 schrieb Christian Dietz <notifications@github.com<mailto:notifications@github.com>>:

Did you add the particular tiff files to the workflow?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/knime-ip/knip/issues/423#issuecomment-261240552>, or

[2016-11-18 11:02] maierl commented on #388
this can get problematic when joining later on, as in #423

[2016-11-18 13:25] imagejan commented on #412
I agree.

A merge projection would be helpful e.g. when you use the *Interactive Annotator* on multi-channel images and want to use the resulting labeling on all channels (irrespective of which channel was used in the annotator to draw the label).

[2016-11-19 19:33] maierl opened #424 "Image Calculator: binary data on console in batch mode"
My workflow runs fine in the GUI, but in batch mode the Image Calculator fails. I'll try to extract an example workflow if necessary. Has anyone already seen that behavior?
[code]

[2016-11-20 00:01] maierl commented on #424
Now I have a shorter workflow now that 100% reproduces that bug. At does behave quite strange, though. If I delete the nodes _after_ the Image Calculator, the error is gone. Therefore, it is not really what I'd call minimal. Are you still interested?

[2016-11-20 09:43] maierl commented on #424
Here's a workflow with a already broken table.
https://powerfolder.dkfz.de/dl/fiXKUhttBDXNJPfeYxeGBv7r/img_calc_fail_test.tar.gz

I'm also preparing a workflow that reproduces the process of breaking itself.

[2016-11-20 10:04] maierl commented on #424
There it is. Both workflows just need to be executed to fail.
You just need to adjust the image paths for the "splitter test fail" workflow, which fails only in batch mode.

I called it splitter fail because when the batch mode saves the results after execution and I load that, it fails to continue in the GUI. But when I've reset the Splitter, it executed successfully.

https://powerfolder.dkfz.de

[2016-11-20 17:42] dietzc commented on #424
Puh, this seems to be a tricky one -  I'll take a look as soon as possible. Thanks for reporting

[2016-11-21 11:08] tibuch commented on #329
PR merged.

[2016-11-21 11:08] #329 closed

[2016-11-21 14:47] hornm commented on #398
- fixed - background value to ignore can now be specified
- ImageComposeOperator-constructors are made private
- testflow knime://knime.mountpoint/Testflows/trunk/ImageProcessing/knip/KNIME_testing_GroupBy updated

[2016-11-21 14:47] #398 closed

[2016-11-21 15:14] hornm commented on #419
Another workaround could probably be using a combination of _Dimension Extener_, _Java Snippet_ and _Set Image Metadata_ nodes in order to the the individual image offsets that can be used to finally compose them to a new image via the _Image Compose_ aggregation method (GroupBy).

That doesn't mean we shouldn't support nD in the merge operator ;)

[2016-11-22 08:35] hornm commented on #419
Merge Image aggregation operator now supports nD images (however, it's most efficient in the 2D case).

Testflow updated:
knime://knime.mountpoint/Testflows/trunk/ImageProcessing/knip/KNIME_testing_GroupBy

[2016-11-22 12:29] #175 closed

[2016-11-24 09:29] imagejan opened #425 "Seeded watershed label exceeds input mask when using threshold"
When using the *Seeded Watershed* node with the *Use Threshold* option, the resulting labeling exceeds the volume defined by the threshold value by one pixel in all dimensions. See screenshots and attached workflow.

![seededwatershed1](https://cloud.githubusercontent.com/assets/2033938/20592918/557ec4e2-b230-11e6-8068-c9a608d3a489.png)

![seededwatershed2](https://cloud.githubusercontent.com/asse

[2016-11-30 15:23] gab1one commented on #423
I could not reproduce this bug, on linux with the latest knip-nightly the example image has the source property set:
![imagereadersourcebug](https://cloud.githubusercontent.com/assets/1938154/20758039/d5f518d2-b718-11e6-8868-e692bf7b37fa.png)

If the error still occurs please send me a workflow with the runtime data (uncheck the "Exclude data from export" option), maybe that gives us insight into

[2016-11-30 16:06] gab1one commented on #422
Hi @imagejan,
thank you for reporting this bug,  I could reproduce it and am working on a fix. Until that is released you can use the **Set Image Metadata** node to work around this issue, see the attached example workflow on how to do it. It will set the labels of the axes to "X" and "Y".

[Image Writer Bug Workaround.zip](https://github.com/knime-ip/knip/files/622285/Image.Writer.Bug.Workaround.

[2016-11-30 20:16] #422 closed

[2016-12-07 09:24] imagejan commented on #266
Having the table creation mode selector (Replace/Append/New Table) available throughout the KNIP nodes would be a helpful improvement indeed.

[2016-12-08 21:09] gudlap commented on #419
Sorry for (re)-opening a closed ticket. But looks like the above fix (#419) broke the ability to merge 2D images in a column 2D-t image.  At least that my naive thinking without actually looking into the code.

Using the "Merge" operation in GroupBy Node from latest nightly builds (for KNIME 3.2.1) results in Merged image with axes XYT but T index is always 1. I get the same results also for KNIME

[2016-12-12 14:23] beschu commented on #353
A sample .czi file of this size would be very useful, as it is hard to get access to such images.

[2016-12-12 16:03] beschu commented on #275
I could sadly not reproduce this error. An example workflow where this error occurs would be really helpful.

[2016-12-12 16:03] #275 closed

[2016-12-13 10:55] gab1one commented on #423
Could not reproduce the issue, closing this for now.

[2016-12-13 10:55] #423 closed

[2016-12-13 11:43] gab1one opened #428 "Image Reader (Table) does not set the rowid to image name"
The **Image Reader** node sets the rowID of each read image to the name of the image from it's meta-data.

This is not the behaviour of the **Image Reader (Table)** it creates generic row Ids (Row0, Row1, ...).
 This is inconsistent and should be fixed.

The option to set the full path of the image as the rowID is missing as well.

[2016-12-13 17:06] maierl commented on #275
Sorry, these days I have to concentrate on writing. I'll come back to the issues as soon as I have the time.

Lorenz Maier
intelligent imaging at eilslabs
PhD student

German Cancer Research Center (DKFZ)
BioQuant Center (BQ 20, Room 302)
Im Neuenheimer Feld 267
D-69120 Heidelberg
Germany
phone: +49 6221 54-51296<tel:+49%206221%2054-51296>

l.maier@dkfz.de<mailto:l.maier@dkfz.de>
www.dkfz.de<http:

[2016-12-14 07:59] imagejan commented on #428
For the _Image Reader (Table)_ you might want to conserve the RowIDs of the input table. In case one file contains several series (images), it might be a good idea to (optionally) generate row IDs like: `inputRow#seriesName`.

[2016-12-15 13:01] imagejan opened #430 "Segment Cropper in Don't Save loop cannot get saved"
When using the _Segment Cropper_ node inside a _Don't Save Start/End_ loop, the workflow cannot be saved in an executed state. When you try to save the executed workflow, the following exceptions get thrown:

[code]
and
[code]

When trying to re-open the workflow, it is broken, i.e. the Segment Cropper is missing and the subsequent nodes are orphaned and therefore don't contain any data.

Here is

[2016-12-18 17:14] #266 closed

[2017-01-03 21:53] gab1one opened #432 "Interactive Segmentation View looses color information"
The Interactive Segementation View node throws away color information of labelings when displaying them, always using randomly generated ones. The Image Viewer node does not have this bug so this looks like a configuration issue of the viewer component.

Attached is an example workflow that shows this behaviour:
[labeling_color_bug.zip](https://github.com/knime-ip/knip/files/683321/labeling_color_

[2017-01-04 13:55] gab1one opened #434 "Rethink forwarding of SciJava logs"
Currently we forward all logs from Scijava and co to the KNIME log via the ``KNIPLogService.
Because Scijava logs all plugin discoveries as `debug` we end up poluting the KNIME log with messages that are highly irrelevant in most circumstances.

Solution options:
1.  Add settings option to modify the severity of events logged by the KNIPLogService, reduce default to `warning` and above.
2. Always

[2017-01-08 15:33] gab1one opened #436 "Bilateral Filter is very slow"
Reported [on the forum:](https://tech.knime.org/forum/knime-image-processing/bilateral-filter)

I could reproduce this issue and was able to confirm that the Bilateral Filter in ImageJ is much faster with the same parameters. A first investigation with visualvm indicates that the problem is in [our implementation](https://github.com/knime-ip/knip/blob/master/org.knime.knip.core/src/org/knime/knip/

[2017-01-09 13:43] imagejan commented on #430
Is there anything more I should try to get at the cause of this issue? It is blocking one of our groups here at FMI who want to read and annotate large datasets (a few GB each single volume image) and keep only the processed regions, so we're using the _Don't Save_ nodes to avoid saving the original image data with every saved version of the workflow. Unfortunately, this is incompatible with the u

[2017-01-09 14:01] gab1one commented on #430
Hi @imagejan,

I am looking at this bug today and hope I can fix it quickly.

[2017-01-09 18:02] #430 closed

[2017-01-10 12:49] gab1one opened #439 "Image Reader Drag and Drop issues"
The image reader has issues remembering file locations correctly through workflow close -> reopen cycles, if it has been created via drag and drop.

[2017-01-11 13:49] tibuch commented on #353
@imagejan can you send us a .czi file for testing?

[2017-01-11 16:50] #388 closed

[2017-01-12 08:23] imagejan commented on #353
@tibuch @beschu I can't share the file publicly, but I can upload it somewhere for you to access. Do you have a KNIME ftp server for these cases? The file is about 4.5 GB.

[2017-01-12 12:21] imagejan commented on #353
I uploaded an example file (`1-2-Scene-2-ScanRegion1.czi`) to the ftp server as communicated by @gab1one. Thanks for looking into this.

[2017-01-13 16:06] tibuch opened #442 "Enlarge Segments"
Enlarge Segments takes every segment of a Labeling and enlarges it by a given number of pixels.

This is different from labeling resizing. If we enlarge a segment, the distance from the new segment border to the old segment border is always the given number of pixels.

![image](https://cloud.githubusercontent.com/assets/5450869/21936608/18971328-d9b2-11e6-808e-4b8be12a73ac.png)

I have created a W

[2017-01-14 00:15] dietzc commented on #442
Oh, wow. Great job building this workflow. However, the top-part seems to be a bit messy? Can't you put the entire top-part of the workflow (dimension extraction etc) inside the java-snippet?

[2017-01-16 09:31] imagejan commented on #442
Thanks for the illustrative Java Snippet example!

I know the issue is about creating a new node, but I have some questions/comments anyways regarding the example Metanode:

* The _Variable To Table Row_ node is redundant, because the workflow already contains that variable at that stage.
* Why don't you use a sequence of _Labeling Filter_ and _Morphological Labeling Operations_ with a 2D disk-sha

[2017-01-16 11:59] tibuch commented on #442
@imagejan _Morphological Labeling Operations_ works like a charm with a disk-shaped structuring element. I just forgot the option which allows a custom structuring element. Thanks for pointing it out!

Here is the new version: [growing_labels.zip](https://github.com/knime-ip/knip/files/708250/growing_labels.zip)

Is there a simpler way to create a disk of a certain size? Only way I know is _Java S

[2017-01-16 11:59] #442 closed

[2017-01-16 14:14] imagejan commented on #442
There is the _Structuring Element Creator_ that lets you create spheres and boxes of arbitrary size, in any number of dimensions :-)

----

Fun fact (or bug report?): when opening you workflow, executing the Interactive Segmentation View, then looking at the Outport of the Image Generator -> it contains a white circle, whereas it should be all black! (tested on Windows)
Can you reproduce? Is this

[2017-01-16 14:19] tibuch commented on #442
Oh right! :blush: Thanks again @imagejan
----
I can reproduce this. I guess it is due to the fact that I write directly to the input image in my java-snippet. Which is not best practice.

[2017-01-18 10:34] beschu commented on #160
I created a workflow (named: multi-channel-images-issue160) and placed it on merkur. It checks for this bug and some other stuff i encountered:

- Sometimes it appears that a source does not get set.
- Sometimes  axis 2 is named "Time" instead of "Channel" after a Write and then a Re-Read.

- If there is a transparent part in a png, a Write-and-Re-Read will cause the colors to be messed up.

- If

[2017-01-18 10:39] beschu commented on #303
I created a workflow that checks for this bug and placed it on mekur. It is named: color-info-lost-3channelRGB-jpg-issue303

I took the above mentioned image series and tested it:
Writing as  a jpg is lossy, hence we need measurement to see if images are the same regardless of lossy writing.

My idea was:
- Subtract the original and written image, apply convolution and then a global thresholder wi

[2017-01-18 11:57] tibuch commented on #394
Same problem as here: https://github.com/knime-ip/knip/issues/302

@beschu will provide an example workflow on how to read dicom-headers via R-Snippet.

[2017-01-18 12:11] tibuch commented on #303
Thanks!

[2017-01-18 12:13] tibuch commented on #160
@beschu could you create individual issues and link them?

[2017-01-18 13:10] beschu commented on #423
Maybe related to some error I encounter in a Workflow i created for another issue:

See issue: #160

"I created a workflow (named: multi-channel-images-issue160) and placed it on merkur. It checks for this bug and some other stuff i encountered:

- Sometimes it appears that a source does not get set."

[2017-01-18 13:16] beschu opened #443 "Image Writer: Channel Axis Name Changes"
For the issue #160 I created a test workflow that enountered this problem:

If a .png is written with the image writer, and the written image is then read with Knime the previously "Channel" named axis is then called "Time" which isn't a desired behaviour.

[2017-01-18 13:23] beschu opened #444 "Image Writer: Transparent PNG Problem"
For the issue #160 I created a test workflow that enountered and this problem:

If I write a .png with the "Image Writer" and then read the written .png with Knime one of the two following cases occurs:

- If there is a transparent part in a png, a "write-and-re-read" will cause the colors to be messed up.

- However if there is no transparent part in the png, everything seems to be fine here (usi

[2017-01-18 13:25] beschu commented on #160
@tibuch  I created the issues and linked them here. I also linked from those issues to this issue as reference.

[2017-01-18 13:26] gab1one commented on #160
👍

[2017-01-18 13:26] #160 closed

[2017-01-18 16:55] dietzc commented on #303
I don't understand. The problem seems to be that a dimension is either lost or added, not about lossy content at all. Can you confirm that the dimensionality of the written image and of the image read back to KNIME are the same?

[2017-01-25 12:34] tibuch commented on #303
@dietzc @beschu and I looked at the workflow of @beschu. The written jpg files get read again and there are no issues with the dimensions. Looks like this bug got fixed somehow or @gab1one meant something different?

[2017-01-25 15:19] tibuch commented on #303
@beschu and I just encountered the following problems:

- read png (X, Y, Channel) -> write png (X, Y, Time) (Issue #160)
- read png (X, Y, Channel) -> write jpg (X, Y) (maybe this issue?)

[2017-01-25 22:27] dietzc commented on #303
What we read shouldn't be an issue at all, as we transform the image (at the moment) anyway to our internal data-format. The dimensionality of the image after having it read it is way more important. Can you therefore please reproduce the problem with the `Image Generator` (which creates exactly the same type of images you would get when reading in the `png`) and create two reproducing workflows +

[2017-01-25 22:44] tibuch commented on #303
I agree that not reading the images is the problem. As far as I can tell it is a writer problem. We only use the readers to see the result of the writer.

[2017-01-31 16:56] stelfrich opened #445 "Image Reader: adding files to drag and dropped reader"
When creating an Image Reader node by drag and dropping a file onto KNIME, everything works fine. However, adding an additional file via the configuration dialog yields the following error:

[code]

KNIME 3.3.1
KNIP 1.5.3.201612060455
Mac OS X 10.10.5

[2017-02-01 12:39] beschu opened #446 "Write UnsignedByteType as jpg"
After writing an image of UnsignedByteType (png will be read as such) as jpg and rereading the written image the "Channel" axis is will be missing.

[2017-02-01 12:42] beschu opened #447 "Write UnsignedByteType as png"
After writing an image of UnsignedByteType (png will be read as such) as png and rereading the written image the "Channel" axis is will now be named "Time".

Example Workflow here:

[2017-02-01 12:45] beschu commented on #303
I created the two reproducing workflows and opened the issues here:
#446 Write UnsignedByteType as jpg
#447 Write UnsignedByteType as png

[2017-02-01 12:56] beschu commented on #394
I created the workflow that @tibuch mentioned and also posted the workaround in the forum.

Workflow:
[dicomHeaderRSnippetIssue394.zip](https://github.com/knime-ip/knip/files/744818/dicomHeaderRSnippetIssue394.zip)

[2017-02-01 17:43] dietzc commented on #303
can we close this issue then?

[2017-02-01 17:44] tibuch commented on #394
@beschu can you put the workflow on our example-server/TODO?

[2017-02-02 12:05] imagejan commented on #412
Yet another use case: when having a labeling of a time series with identified objects, you might want to look at a projection over time to visualize the locations that have been occupied by each object over the whole time period (with the possibility of having overlapping labels, even if the objects are exclusive at any single time point).

In this case, a _Merge_ projection (over Time, or over Z)

[2017-02-06 16:27] imagejan opened #449 "Feature Calculator: add documentation in config dialog"
It can be difficult to find how certain features are calculated if you're not familiar with the source code and the project organisation (knip, imagej-ops, etc.).

It would be great to have some documentation for the feature sets immediately available in the configuration dialog of the *Feature Calculator* node, similar to the way it is done for the aggregation methods in the *GroupBy* node, e.g.

[2017-02-07 09:17] tibuch commented on #449
@imagejan I agree. I will redesign the UI of the Feature Calculator and make sure that such a description is available. Thank you for pointing it out :)

[2017-02-07 09:48] hornm opened #450 "Thumbnails of 3D images with channels are not rendered in colored in table view"

[2017-02-07 10:02] imagejan commented on #450
See also #359 😄

[2017-02-07 16:03] #450 closed

[2017-02-07 16:05] dietzc commented on #351
@hornm did your fix in #450 solve this problem, too?

[2017-02-08 12:54] gab1one commented on #351
I just tested it with the example workflow from @maierl and it works:
![example](https://cloud.githubusercontent.com/assets/1938154/22738062/1ae82fd2-ee06-11e6-9deb-e084e2af5a9f.png)

[2017-02-08 12:54] #351 closed

[2017-02-10 10:10] imagejan commented on #417
Just hit this issue again in one of my workflows. Improving the situation for ics files (i.e. correcting the dimension bugs in scifio (https://github.com/scifio/scifio/issues/326), as well as this here issue) would really help, as writing ics is currently the _only_ option with an acceptable writing speed.

[2017-02-14 09:30] maierl opened #452 "Image Reader: No compatible service for >4GB TIFF"
When I try to read a >4 GB TIFF with the latest KNIP stable with Cell Img Factory, I get
[code]
with the Array / Planar Img Factory, it fails as expected:
[code]

[2017-02-14 11:01] imagejan commented on #452
See also https://github.com/knime-ip/knip/issues/353

[2017-02-14 11:39] #452 closed

[2017-02-14 11:40] maierl commented on #353
ah, sorry for the duplicate :)
just as a wrap-up: this bug also affects TIFF files read by the latest stable version of KNIP shipped with KNIME 3.3.1.

[2017-02-21 12:18] imagejan opened #454 "Image Writer loses data when writing ICS format"
When writing an image (X,Y,Z,Time,Channel) in ics format, the resulting file has much less planes than expected.
See the workflow uploaded here:

http://jmp.sh/IV7snca

Note: writing the file using Scifio in Fiji (*File > Export > Image...*) works as expected, so it's not a SCIFIO issue.

[2017-02-21 14:00] imagejan commented on #436
See also https://github.com/imagej/imagej-ops/issues/488

[2017-02-21 14:05] imagejan commented on #353
Our users (neurobiologists working with large stitched z-stacks) repeatedly keep running into this issue, so here's a small update:

The Image Reader also fails on ics/ids files that are >4GB in size in total, even if the single planes are much smaller than 4 Gigapixel. It think it is related, or should I open a new issue for this one?

[2017-02-21 22:49] dietzc commented on #353
@imagejan can you share the file with me somehow?

[2017-02-22 04:10] dietzc commented on #454
Thanks for the detailed workflow and explanation. I was able to reproduce the problem. However, it may still be SCIFIO related. Are you sure the image is written with SCIFIO in ImageJ2 and not BioFormats or IJ1? Anyway, we will investigate it!

[2017-02-22 06:52] imagejan commented on #454
Hm, I'm pretty sure that File > Export > Image will use SCIFIO. Anyways, thanks for investigating!

[2017-02-22 07:07] imagejan commented on #353
I'll upload a sample ics/ids dataset later today to the same ftp server as discussed above, alright?

[2017-02-22 15:55] imagejan commented on #353
I uploaded the dataset consisting of `mosaic_1.ics` and `mosaic_1.ids` into the incoming root folder of the ftp server.

[2017-02-22 15:56] imagejan commented on #385
See also #353, sorry if this is a duplicate.

[2017-03-03 12:23] tibuch opened #455 "Segment Feature Node - Perimeter Computation"
I am implementing Pixelbased Features in imagej-ops and took a look at the KNIP perimeter computation. It looks like there is a bug in the KNIP implementation:

https://github.com/knime-ip/knip/blob/master/org.knime.knip.core/src/org/knime/knip/core/features/CalculatePerimeter.java#L111-L115 a ```OutOfBoundsMirrorFactory.Single``` is used.

I assume this is wrong, because outline pixels touching t

[2017-03-03 19:59] gudlap commented on #419
Hi -

Just wanted to check-in to see if there has been any update on the (potential) bug with creating 2D-T images from the "Merge Image" operation of the GroupBy Node?

Thanks

[2017-03-07 13:57] imagejan opened #456 "Image Reader: add option to get series number for multiseries datasets"
It would be handy if the Image Reader nodes could optionally provide a column "Series index" containing the number of the current series in a multi-series file.

Currently, you can get that information from the RowID, but the mapping requires some regex splitting:

[code]

so it would simplify things if the reader node could simply provide that information.

[2017-03-07 16:58] imagejan opened #457 "Labeling Aggregation forgets axes names"
When using the _GroupBy_ node with aggregation _Create Labeling_ to generate a new labeling image (without template Interval), the resulting dimensions are 'Unknown' instead of the X and Y from the input image.

Example workflow:
[Labeling Aggregation Axes.zip](https://github.com/knime-ip/knip/files/825135/Labeling.Aggregation.Axes.zip)

[2017-03-07 22:53] dietzc commented on #419
@gudlap we will take care! sorry for the delay.

[2017-03-07 22:55] dietzc commented on #455
is it correct in Ops?

[2017-03-08 12:53] imagejan opened #458 "Image Cropper is surprisingly slow"
To know what's the fastest way to get a _xy_-downsampled, _channel_-cropped, _z_-projected version of an image, I assembled a small test workflow:

[Image Cropper Resizer Projector Speed Test.zip](https://github.com/knime-ip/knip/files/827617/Image.Cropper.Resizer.Projector.Speed.Test.zip)

I was a bit surprised to see that the Image Cropper performs much worse than the Image Resizer on the same i

[2017-03-08 13:06] imagejan commented on #458
I should mention that for extracting a single channel, it is probably better to use a _Splitter_ instead of an _Image Cropper_ even if you only require one of the channel.

The _Splitter_ works in almost no time 😄 .

[2017-03-08 13:29] imagejan opened #459 "Splitter loses offsets"
The _Splitter_ node forgets about image offset metadata in the result.

To reproduce, simply feed an image that has known offsets, and look at the split images. (Tested with an XYZChannel input and split by Channel, i.e. XYZ selected.)

[2017-03-14 08:29] hornm commented on #419
Fixed. I introduced a regression with the last bug fix :neutral_face:
Testflow knime://knime.mountpoint/Testflows/trunk/ImageProcessing/knip/KNIME_testing_GroupBy updated. For a reason the former bugfix wasn't tested with the testflow - either because I didn't upload the updated testflow (although I claimed I did) or it has been overridden with an older version ...

[2017-03-14 08:29] #419 closed

[2017-03-21 13:01] gudlap commented on #419
@dietzc and @hornm: Thanks a lot for the fix. I can confirm that issue is resolved in the nightly build. This will help us with moving to KNIME 3.3.x.

[2017-03-21 14:54] imagejan opened #460 "Improve documentation on segment filter rules"
It's not really clear to me from the node descriptions whether the rules for **filter on segment labels** as well as **filter overlapping segment labels** in the _Segment Cropper_ and _Feature Calculator_ nodes take regular expressions or wild cards, or if that behavior can be configured in any way, similar to the _Row Filter_ node.

By trial and error with the _Feature Calculator (BETA)_ downstre

[2017-03-22 08:34] imagejan commented on #460
I also wonder why this is necessary:

https://github.com/knime-ip/knip/blob/8aa1488e09dafcbdfca903fd9ed4ed67d24e5efd/org.knime.knip.core/src/org/knime/knip/core/ui/imgviewer/events/RulebasedLabelFilter.java#L283-L298

Isn't that conflating wildcard and regex syntax? At least in some cases, it breaks correct regex matching.

[2017-03-22 14:27] tibuch commented on #460
@imagejan thanks for pointing it out! I opened a PR which should fix this.

The new dialog works now like the Row Filter node and looks like this:
![image](https://cloud.githubusercontent.com/assets/5450869/24202734/193a7918-0f14-11e7-847f-76e2e5f03b57.png)

[2017-03-22 16:18] imagejan opened #463 "Image Viewer: Label values of 0 are indistinguishable from empty labels"
In the **Image Viewer** node, labelings that have a label value of `[0]` are shown in white and are indistinguishable from the `EmptyLabel` white background. Also, overlapping labels `[0; 1]` are indistinguishable from label `[1]`.

The _Randomize Label Colors_ function doesn't change the white color of `0` labels.

----

In the **Interactive Segmentation View**, everything works as expected (even

[2017-03-22 16:41] tibuch commented on #463
Unfortunately I can't reproduce this bug.

What I did:

1. Add a label with _Interactive Annotator_.
2. Use _Label Transformer_ and set label to 0. (probably still a string label)
3. Crop label with _Segment Cropper_.
4. Use _GroupBy_ and create a labeling with inttype labels.

Result in _Image Viewer_:
![image](https://cloud.githubusercontent.com/assets/5450869/24209509/cd34b5de-0f26-11e7-9301-9c

[2017-03-22 17:05] imagejan commented on #463
Ok, I tried to build an example workflow and encountered yet another related bug.

Here's my workflow:
[Label 0 Bug.zip](https://github.com/knime-ip/knip/files/862193/Label.0.Bug.zip)

When I use Annotator > Feature Calculator > GroupBy with Integer labels, the labeling with value 0 extends to the full image dimensions:

![image](https://cloud.githubusercontent.com/assets/2033938/24210542/c1c8a694

[2017-03-22 17:12] tibuch commented on #463
Wow! That is "fascinating". I will investigate. Thanks for reporting.

[2017-03-23 13:43] tibuch commented on #439
I was able to resolve the drag and drop issue. But I found another problem, the eventservice (https://github.com/knime-ip/knip/blob/230d80e997ab8b815d70b0b0fde160e77d84bbff/org.knime.knip.io/src/org/knime/knip/io/nodes/imgreader/FileChooserPanel.java#L776) is not set and therefore the selected file from the drop-action gets not a green tick in the File-Browser.
![image](https://cloud.githubusercon

[2017-03-27 08:26] #459 closed

[2017-03-27 16:55] gab1one opened #464 "Add format specific options"
Some formats have special options (e.g. CZI has an optional attachment image). We should consider adding a panel to the KNIP options that allows users to modify these format settings. We can take inspiration from the Bioformats options in FIJI, which can be found at:
Plugins -> Bio-Formats -> Bio-Formats Plugins  Configuration

[2017-04-04 06:59] imagejan opened #465 "Distance Map creates gradient image if no background present"
The *Distance Map* node, when fed an entirely white (foreground-only) image, produces a gradient image with intensities I(y) = (w+h) + y, which can lead to misleading results.

Of course, when ignoring image borders, a foreground-only image is a pretty much undefined case, but I'd expect to get a flat image rather than an image that suggests any kind of directionality.

Here's an example workflow

[2017-04-05 13:06] imagejan opened #466 "Interactive Annotator remembers wrong image dimensions across runs"
When using the *Interactive Annotator* node, the image dimensions are always remembered from the first run for any given row ID, and are not updated after resetting the node and running again.

[Interactive Annotator Dimensions.zip](https://github.com/knime-ip/knip/files/896271/Interactive.Annotator.Dimensions.zip)

To reproduce, run the attached workflow, then reconfigure the image dimensions in

[2017-04-08 11:19] dietzc commented on #459
Hi @imagejan, will do today. However, the fix not really correct. I'm working on a solution.

[2017-04-08 12:20] dietzc commented on #459
build is running

[2017-04-08 12:30] dietzc commented on #446
This has nothing to do with with `UnsignedByteType`. It's a bug in the `ImgSaver`. Related to

https://github.com/scifio/scifio/issues/340

https://github.com/scifio/scifio/issues/349

[2017-04-08 13:29] dietzc commented on #458
here we go: https://github.com/knime-ip/knip/commit/954228212b69a3a73b4b24e74f58740f1645a0b6
I added some special cases.

[2017-04-08 13:29] #458 closed

[2017-04-08 13:44] #345 closed

[2017-04-08 13:46] dietzc commented on #282
I'm not sure what the expected result would be if the merged images have different calibrations?! Closing for now.

[2017-04-08 13:46] #282 closed

[2017-04-08 13:47] #279 closed

[2017-04-08 13:57] #457 closed

[2017-04-08 14:29] #460 closed

[2017-04-08 14:31] dietzc commented on #390
wrong project. please open bug in https://github.com/knime-ip/knip-python-extensions if still present

[2017-04-08 14:31] #390 closed

[2017-04-08 14:41] dietzc commented on #325
Unfortunately, I can't reproduce this problem. I get different results.

Can you try to normalize the float image first and then run the multi-level-thresholder?

[2017-04-11 13:33] imagejan opened #467 "Set Image Metadata node adds offsets to existing offsets instead of setting them"
When using the *Set Image Metadata* node to set offsets of an image that already contains offset information, the new offsets are added to the existing ones.
This behavior is unexpected and not well documented in the node dialog.

Here's an example workflow illustrating the issue:
[Offset Bugs.zip](https://github.com/knime-ip/knip/files/913323/Offset.Bugs.zip)

(I stumbled upon this because the *S

[2017-04-19 15:21] imagejan commented on #131
The slowness issue is reproducible in ImageJ, the relevant SCIFIO issue is https://github.com/scifio/scifio/issues/310.

[2017-04-19 15:27] imagejan commented on #336
I had the chance to test on a computer without mounted drives and again after mounting a network drive, and found no difference.
I think the main issue is https://github.com/scifio/scifio/issues/310, as discussed in https://github.com/knime-ip/knip/issues/131.

[2017-04-21 17:08] dietzc opened #468 "Image Reader: Slowness when network drive is connected"
see https://tech.knime.org/forum/knime-image-processing/image-writer-cannot-write-to-network-drives#comment-48710

[2017-04-21 18:03] imagejan commented on #468
Image Reader?? The linked forum post talks about Image Writer and file permissions, not slowness.

Related issues are: https://github.com/knime-ip/knip/issues/336 and https://github.com/knime-ip/knip/issues/131

[2017-04-21 18:22] dietzc commented on #468
brr. thanks @imagejan. I need sleep

[2017-04-21 18:22] #468 closed

[2017-04-21 18:22] dietzc commented on #336
see also https://tech.knime.org/forum/knime-image-processing/image-writer-cannot-write-to-network-drives#comment-48710

[2017-04-21 18:22] dietzc commented on #131
see also: https://tech.knime.org/forum/knime-image-processing/image-writer-cannot-write-to-network-drives#comment-48710

[2017-04-25 09:00] imagejan opened #469 "Move Level CCA from knip-suise to knip"
The Level CCA node is extremely useful. I'd like to propose to migrate a more flexible version of [`LevelCCA`](https://github.com/knime-ip/knip-suise/blob/master/org.knime.knip.suise/src/org/knime/knip/suise/node/levelcca/LevelCCA.java) (ideally not being restricted to integers from 0-255, but also working on FloatTypes between 0.0 and 1.0, e.g. for probability maps) from `knip-suise` into this re

[2017-04-25 09:22] imagejan opened #470 "Inverter creates wrong value range"
When inverting images using the *Inverter* node, FloatType images with values in the range `[0; 1]` (e.g. probability maps from Ilastik Headless) will result in images with the range `[-2; -1]`, whereas I'd expect them to have range `[-1; 0]`.

[2017-05-12 07:36] stelfrich opened #471 "Image Calculator: improper output type conversion"
When output type of the Image Calculator node is set to `UnsignedByteType`, results are not the same when the output type is set to e.g. `FloatType` and the conversion to `UnsignedByteType` is done subsequently via clipping.

See also http://forum.imagej.net/t/macro-help-for-simple-automated-image-arithmetic/5184/6

[2017-05-12 08:15] imagejan commented on #471
As also noted on the forum thread, it is the responsibility of the caller to ensure that the result fits into the given type. (The Image Calculator cannot know what kind of calculation you'll do, and therefore cannot simply assume DoubleType or some such, as this wouldn't always be desirable. It's hard to follow the principle of least surprise here...)

It could be documented a bit better, though.

[2017-05-12 08:20] stelfrich commented on #471
Indeed! Especially since we have the situation of an _Image Calculator_ menu item in ImageJ/Fiji with close ties to the ImageJ1 "world" and an _Image Calculator_ node using ImgLib2 under the hood. So I guess this should be clearly stated in the documentation of the _Image Calculator_ node.

[2017-05-12 08:24] imagejan commented on #471
Well, we also have an ImageJ2 [`ImageCalculator`](http://javadoc.imagej.net/ImageJ/index.html?net/imagej/plugins/commands/calculator/ImageCalculator.html) that presumably acts the same as KNIP's ImageCalculator regarding the types. :-D

[2017-05-12 08:26] stelfrich commented on #471
As if the situation wasn't confusing enough already. :sob:

[2017-05-18 08:31] AaronNHart opened #473 "Exception when using append or replace column settings in image reader."
Using the workflow snippet: List Files > Image Reader (Table) throws an exception when using either append or replace modes from the column settings tab.

`org.knime.core.data.container.DataContainerException: Cell count in row "file:/home/aaron/Data/mnist/training/7/48298.png" is not equal to length of column names array: 1 vs. 6
	at org.knime.core.data.container.DataContainer.checkAsyncWriteThro

[2017-06-12 06:52] stelfrich commented on #471
See #472.

[2017-06-12 06:52] #471 closed

[2017-06-18 19:04] stelfrich commented on #470
That's because `FloatType` is signed and is handled according to the `-1*value - 1` rule. I would, as a rather general remark, expect the inversion to happen on the values instead instead of types. Any remarks?

[2017-06-21 12:49] Devmassnk opened #474 "Query Regardaing ZernikeFeatureComputer Implementation."
So it is taking too much time to computing higher order zernike moments.
Can i pre-calculate the values of all the radial polynomials upto certain degree, order and for a particular image size, as for calculating a radial polynomial for a particular order and degree i just need a order, degree and r(distance from the origin to the given co-ordinates). So i can compute all the values and store in a

[2017-07-07 11:10] gab1one opened #475 "Change default labeling color in Interactive Annotator"
A users reports in the forum that the default labeling color is hard to see (it is a deep purple):
https://tech.knime.org/forum/knime-image-processing/interactive-annotator-questions

As a first step we could change the default color to be brighter, e.g. a yellow tone

[2017-07-10 12:17] imagejan opened #476 "Progress indicator improvement"
There is a misconception with the progress indicators in (probably) all KNIP nodes: e.g. when you have **5 images** that each take a while to process, the percentage indicator shows the following stages:

* _bouncing cube_ -- 0% -- 20% -- 40% -- 60% -- Done.

I would expect the following states instead (and this is how the core KNIME nodes _do_ work in my experience):

* _bouncing cube_ -- 20% --

[2017-08-17 10:34] stelfrich opened #477 "Interactive Annotator: support initial Labeling"
Currently, the _Interactive Annotator_ "only" allows you to create a `Labeling` from scratch. If a `Labeling` is available, it could be used as an initialization in the configuration dialog.

Use case: propose a `Labeling` and let the user e.g. move it around before handing it off to subsequent nodes for processing.

[2017-08-30 12:18] gab1one opened #479 "GlobalThresholder: add (optional) column with calculated threshold values"
This would allow users to use this value in other nodes that require a threshold input (e.g. Voronoi Segmentation)

[2017-10-06 09:18] imagejan opened #480 "Labeling to PNG Images: transparency parameter is misnamed."
In the *Labeling to PNG Images* node, the *Transparency of labels* parameter should actually be *Opacity of labels*, because that's what it is, and what the description says (255 means opaque):

https://github.com/knime-ip/knip/blob/8aa1488e09dafcbdfca903fd9ed4ed67d24e5efd/org.knime.knip.base/src/org/knime/knip/base/nodes/seg/labeltopng/LabelingToPNGValueNodeFactory.xml#L21-L23

[2017-10-09 12:12] #480 closed

[2017-10-09 12:12] gab1one commented on #480
Thank you for noticing, I fixed it, should be in the next nightly release.

[2017-10-13 09:04] HedgehogCode opened #482 "Percentile Normalizer"
For our project, we need a percentile normalizer. This means:
* Calculate two given percentiles of all image values e.g. 2nd and 98th percentile
* Normalize mapping the first percentile to 0 and the second to 1
* __Optionally__ clamp values below 0 and above 1

Should I write a new node and should this node go into knip?
Is there a nice solution using existing nodes?

[2017-10-14 10:31] imagejan commented on #482
You can do it with existing nodes, but it's a bit convoluted: you need to map the actual image min and max to target min and max as follows:
[code]

You can use the metanode in the attached workflow to do this:

[Percentile Normalization.zip](https://github.com/knime-ip/knip/files/1384580/Percentile.Normalization.zip)

---

If you think there should be a dedicated (native) node for it, I'd suggest

[2017-10-16 07:19] HedgehogCode commented on #482
Nice workaround. I didn't think about using the target min and max to avoid clamping. Your workflow works great!
For now, I will do the same. And later I will write an Op and maybe get a nice dedicated node from KNIP2. (The thing was, that I have no time waiting for KNIP2)

I think I can close this issue for now. Thank you @imagejan!

[2017-10-16 07:19] #482 closed

[2017-10-23 07:42] HedgehogCode opened #484 "Set Image Metadata: Offset setting translates the image"
The 'Set Image Metadata' node translates the image by the given offset instead of using the offset as the new min values.
This behavior is unexpected because the node is not a translate node but is called '__Set__ Image Metadata'. Additionally, the offset is not listed in the node description.

The translate happens in [this line](https://github.com/knime-ip/knip/blob/90eb4e8bd5c92db585788d3050057

[2017-10-23 07:45] tibuch commented on #484
Thanks @HedgehogCode for opening this issue!

[2017-10-23 07:47] imagejan commented on #484
Duplicate of https://github.com/knime-ip/knip/issues/467

[2017-10-23 07:51] tibuch commented on #484
Oh! That is unfortunate :smile:

Then we can close this issue. Thanks @imagejan for pointing it out.

[2017-10-23 07:51] #484 closed

[2017-10-26 13:10] HedgehogCode opened #486 "Image Viewer: Calibration is ignored in Combined View"
The 'use calibration' checkbox is ignored in Combined Views.

I want to compare a nicely upsampled image to the original without upsampling the original.

[2017-10-26 13:53] HedgehogCode opened #487 "KNIP Loops and Don't Save leads to NullPointerException when workflow is saved"
Using the Tile Loop or Slice Loop between a 'Don't Save Start' and 'Don't Save End' node leads to a NullPointerException when saving the executed workflow:
[code]

This workflow illustrates the issue (Just execute and try to save):
 [Dont_save_with_loop.zip](https://github.com/knime-ip/knip/files/1418613/Dont_save_with_loop.zip)

[2017-11-06 14:18] #487 closed

[2017-12-07 09:05] imagejan opened #490 "Consider adding ImgSumOperator as aggregation method"
When aggregating images with the *GroupBy* node, it would be useful to also have a "Sum Image" option in addition to Min/Mean/Max Image.

How about adding `org.knime.knip.base.data.aggregation.ImgSumOperator` modeled after the other aggregation operators? (As for the other aggregation methods, the caller should be responsible for using the correct desired type.)

[2018-01-08 11:32] gab1one opened #491 "Image resizer overflow with UnsignedByteType Images"
When resizing UnsignedByteType images there can be over and underflows when are downsampled using "Linear Interpolation" or "Lanczos Interpolation" , this seems to be a problem either upstream, or in our usage of the upstream code. I tried switching to the ImageJ-ops implementation, but it has the same problem. Problematic code can be found here: https://github.com/knime-ip/knip/blob/master/org.kn

[2018-01-19 09:43] imagejan opened #492 "Mixed up sigma values in DoG Spot Detection node"
In the description of the *DoG Spot Detection* node, it says:

https://github.com/knime-ip/knip/blob/92633c9c672bac47c5981496f4fd790ba74d900a/org.knime.knip.base/src/org/knime/knip/base/nodes/proc/dogdetector/DoGDetector2NodeFactory.xml#L35-L38

So far so good, but now if you want to replace the config dialog values with workflow variables, you actually have to choose `sigma2_value` for *Sigma 1*

[2018-01-19 14:45] #492 closed

[2018-01-19 14:45] gab1one commented on #492
Well spotted, thank you for the report 👍 Already fixed on master

[2018-01-22 11:56] imagejan commented on #492
@gab1one with the latest nightly build, I see that the _DoG Spot Detection_ node (in saved workflows) shows as deprecated (which is fine), but there's no _DoG Spot Detection_ entry discoverable in the Node Repository any more.
I don't quite understand the naming scheme, but it might be related to this? Why are there `DoGDetector2NodeFactory3.java` and `DoGDetector3NodeFactory.xml`, and is the link

[2018-01-22 13:11] gab1one commented on #492
Jan, I am sorry for the inconvenience and many thanks for the very helpful feedback.
Seems I was working a bit too fast on the issue and made a few mistakes. They should be all fixed now.

[2018-01-22 13:54] imagejan commented on #492
Thanks, @gab1one. May the force-push be with you ;-)

[2018-01-22 17:31] gab1one opened #493 "SliceLoopEnd: NullPointer when encountering unexpected columns"
When the **Slice Loop End** node encounters a column that is not sliced (e.g. it was created within the loop) it fails with a NullpointerExeption,  this is not informative for users and should be changed.
See the attached workflow: [SliceLoopFail.zip](https://github.com/knime-ip/knip/files/1652929/SliceLoopFail.zip)

In general, the matching of columns back to the input is too primitive (if for ex

[2018-01-29 07:19] stelfrich opened #494 "CCA column preview empty after Image Cropper"
It seems that if _Adjust Dimensionality?_ is unchecked in an _Image Cropper_ node, the output tables of subsequent _Connected Component Analysis_ nodes do not show a preview of the labeling. Clicking on the cell shows the labeling as expected.

Example workflow: [CCAPreviewAfterImageCropper.zip](https://github.com/knime-ip/knip/files/1672594/CCAPreviewAfterImageCropper.zip)

[2018-01-29 09:30] gab1one commented on #494
Thank you for reporting this, it seems to be a bug with our preview rendering.

[2018-02-07 09:52] imagejan commented on #494
I noticed the same issue with *Adjust Dimensionality?* being checked and cropping an XYZ image with a defined Z range: after a *Global Thresholder* and a *Connected Component Analysis*, the thumbnails are missing in the output table.

[2018-02-08 18:10] gab1one commented on #494
@stelfrich  @imagejan  This issue is related to the Image Cropper not renormalizing the axis minima. I created a metanode [ZeroMin metanode.zip](https://github.com/knime-ip/knip/files/1708255/ZeroMin.metanode.zip) which performs the needed ZeroMin operation. Just add this as a workaround to your workflows where the cropper behavior causes you issues. We might add this as a popper node to KNIP at a

[2018-02-12 16:36] HedgehogCode opened #495 "Image Viewer shows wrong image if columns are moved"
If the columns of the table are switch by dragging the title, the image is still the old one.

![image-viewer-column-change](https://user-images.githubusercontent.com/6631116/36107660-15da3b60-101b-11e8-8ca2-b75e8c081fae.gif)

Example workflow:
[Image_viewer_column_move.zip](https://github.com/knime-ip/knip/files/1716999/Image_viewer_column_move.zip)

[2018-02-26 14:13] imagejan commented on #494
I noticed that this can also problems when trying to use a legacy `ij.ImagePlus` as an input parameter in an ImageJ2 plugin.

I got:
[code]
... when running my [`TrackMateSpotDetector`](https://github.com/fmi-faim/fmi-ij2-plugins/blob/88a8b74cc5b22927c719aea00d3ae21b704818c4/src/main/java/ch/fmi/TrackMateSpotDetector.java) on a cropped input image. (Strangely, it still worked when I was running th

[2018-02-27 13:01] gab1one commented on #494
You could always run `Views.zeroMin(..)` on your input images? Something like:
[code]

[2018-02-27 13:26] imagejan commented on #494
@gab1one yes, of course, if I take an `ImgPlus` or `RAI`; but as I take an `ImagePlus` for using it with TrackMate, I wanted to avoid the additional wrapping, because that's what the framework is supposed to do correctly if I define an `@Parameter ImagePlus`, no?

[2018-03-01 08:49] gab1one opened #496 "Convex Hull is missing Views.zeroMin()"
CCA -> Segment Features -> Convex Hull leads to out of bounds array access.

[2018-03-01 10:29] gab1one commented on #494
In most cases you will actually get an ImgPlus converted to a ImagePlus, at least in KNIME we always use IJ2 / Imglib2 data structures internally. We do not run `Views.zeroMin()` on our cropped image segments because then you lose the offset information, which you need if you want to recombine the segments at a later time (e.g. using compose image in the GroupBy node).

Maybe we can add an improve

[2018-03-04 12:32] tibuch opened #497 "Rotate 2D out of bound strategies"
The node description indicates different out of bound strategies but only extend by value is possible.

It would be nice if all out of bound strategies are available.

[2018-03-27 06:02] stelfrich commented on #445
Quick question since this issue came up during a course last week again: do you know where your putative fixes went, @gab1one? It seems that they never got merged into master; neither did @tibuch's [`dragNdropIssue`](https://github.com/knime-ip/knip/tree/dragNdropIssue) branch.

[2018-04-12 15:03] gab1one commented on #454
Which image do you mean in that sentence? The one read as ICS and written as TIF?

[2018-04-13 10:34] gab1one commented on #454
So the metadata was modified during reading?

[2018-04-13 10:47] tibuch commented on #454
Maybe, but it was definitely modified during writing. And it was modified in such a way that it can't be read by libics but KNIME/Fiji can still read it.

[2018-04-16 07:53] gab1one commented on #454
Sorry now I understand, this seems to be a bug in the scifio ics format. I will file it there.

[2018-04-16 12:16] tibuch commented on #454
Thanks!

[2018-04-18 12:02] tibuch opened #499 "Rotate 2D reduces dimensions"
If a n-dimensional image (n > 2) is rotated with Rotate 2D all dimensions which are not selected are reduced by 1.

Example:
Input dimensions: [3,3,3] (Names: [X,Y,Z])
Selected dimensions in Rotate 2D: [X,Y]
Output dimensions: [3,3,2] (Names: [X,Y,Z])

[2018-04-25 18:57] gudlap commented on #465
Wouldn't adding the "Out of Bounds Strategy" (Zero-Value) to the Distance Map node actually solve this issue?

[2018-04-26 06:49] imagejan commented on #465
Yes, allowing the user to specify the out-of-bounds strategy would definitely solve this. Also, defaulting to and `extendBorder` strategy would lead to a less surprising behavior for most use cases, I assume.

[2018-05-17 16:11] tibuch commented on #131
Any news regarding tif writing speed? I am currently using the image writer to move my data to the python-nodes and it takes a very long time.

[2018-06-04 11:07] gab1one opened #500 "DoG node stalls when to many instances are run at the same time"
When running many instances of the DoG node with a non-minimal workload at once (amount depends on available compute), the computation grinds to an halt and takes forever.

[2018-06-25 14:40] stelfrich opened #501 "Global Thresholder generates large filestore"
When a workflow with a Global Thresholder is saved with its data, the created `filestore/` folder can be up to twice the size of the input images.

Hypothesis: this might be due to a suboptimal serialization of `BitType` images.

[2018-07-04 09:08] imagejan opened #502 "Offsets are multiplied by 2 when setting image dimension metadata"
When using the *Set Image Metadata* node to set the dimension name (and nothing else), e.g. Dimension 2 to "Z" (as is required for bitmasks after the *Feature Calculator (BETA)* node currently - another bug?), the image offsets get multiplied by 2, as illustrated by this workflow:

![image](https://user-images.githubusercontent.com/2033938/42267655-dc2bb082-7f79-11e8-882e-8c43388cc22c.png)
[Set Me

[2018-07-04 09:14] imagejan commented on #463
Any news on this?
The issue is still the same with `KNIME Image Processing 1.6.1.201806190602`.

[2018-07-05 09:39] imagejan commented on #501
See also https://github.com/imglib/imglib2/pull/217 where this was fixed. Thanks, @gab1one! Now it's just a question of when KNIP will start using the relevant ImgLib2 release as a dependency, I guess.

[2018-07-05 14:10] gab1one commented on #501
We (@stelfrich, @awalter17) discovered another cause for this, we are serializing color-tables, which are created programmatically per plane, creating an overhead of 3 times 65536 `shorts` per plane. This is only slightly noticeable on images with few planes, but where dramatic on volumetric or time series images with many small-ish planes. In those cases the overhead introduced by this can be man

[2018-07-12 15:33] gab1one commented on #501
After a deeper dive into the image metadata serialization, we discovered that we appear to be serializing the same `ColorTable` multiple times. I will work on an a new metadata externalizer which will not have this defect.

[2018-07-13 11:36] gab1one commented on #501
@imagejan

This is the case with the latest release, 1.7.0, the next release 1.7.1 we will also include #503 which further reduces the size of images with many planes. Additionally I am working on improving SCIFIO and SCIFIO-BF-Compat with "virtualized" ColorTables with greatly reduced memory footprint.

[2018-07-20 12:36] stelfrich opened #504 "Interactive Annotator: output mapping from unique segment id to label"
Without having this information it's hard to re-create the mapping afterwards from the labelling image. This is especially tedious (and might sometimes even be impossible) if there are overlapping labels.

See https://forum.knime.com/t/label-segment-mapping-for-nested-annotations/11501.

[2018-08-09 12:28] imagejan opened #506 "Feature Calculator loses axis information when creating BitMask"
When using the *Feature Calculator (BETA)* node on a 3D labeling (X,Y,Z), the Z axis label gets lost in the resulting bitmasks (i.e. X,Y,Unknown).

I suppose some logic needs to be added here to keep the axis information of the original labeling image:

https://github.com/knime-ip/knip/blob/8aa1488e09dafcbdfca903fd9ed4ed67d24e5efd/org.knime.knip.features/src/org/knime/knip/features/LabelRegionToBi

[2018-08-09 12:29] imagejan commented on #502
I opened an issue for this one: https://github.com/knime-ip/knip/issues/506

[2018-08-14 10:02] #501 closed

[2018-08-14 14:36] #506 closed

[2018-08-14 14:38] imagejan commented on #506
Thanks, @gab1one :+1:

[2018-08-24 19:08] ctrueden commented on #131
@tibuch Sorry for the long delay in reply. Unfortunately, no one is working on TIFF performance. I am very sorry this has sat for so long, but the fact is that we still do not have a dedicated SCIFIO developer who has time to prioritize this issue... yet.

[2018-08-30 07:40] gab1one opened #509 "Image Reader (Table) no longer supports reading from remote file:// locations"
https://forum.knime.com/t/image-reader-problem-in-knime-3-6-0/11935

[2018-09-19 14:18] imagejan opened #510 "Offsets lost in Labeling Cropper and Connected Component Analysis"
The behavior of labeling-related nodes is currently inconsistent:

* [ ] the *Labeling Cropper* node loses the offsets (in contrast to *Image Cropper* which keeps them)
* [ ] the *Connected Component Analysis* loses offsets when run on an image with offsets
* [x] the *Image to Labeling* node preserves image offsets (as I would expect)

Also for reading the current offset values, the nodes are inco

[2018-09-21 16:06] imagejan commented on #509
Yes, the behavior with mapped network drives is very annoying actually (since a while already):

With a given server `\\myserver.example.com\some\share` mounted on drive letter `X:\`:

* the *Image Reader (Table)* will read the image from `X:\...`, but not from `\\myserver...`
* the *CSV Writer* (and other writers) will complain about missing writing permissions a refuse working when trying to wri

[2018-10-18 11:29] stelfrich opened #511 "Labeling to Image: do not assume that a label is mapped to the same value for different images"
Currently, _Labeling to Image_ uses the value from the backing image to convert the `RAI<LabelingType>` to an `RAI<? extends RealType>`. This can result in inconsistent behavior when two `RAI<LabelingType>` have the same labels but use a different `LabelingMapping`.

This happens for example when a pixel-based classifier is applied to tiles of an image: whatever label the first pixel belongs to wi

[2018-10-18 11:31] stelfrich opened #512 "Tile Loop Start/End: support Labelings"
At the moment only `RandomAccessibleInterval<? extends RealType>` are support. I don't see a reason for this limitation.

[2018-10-18 11:32] stelfrich opened #513 "Tile Loop End: column selection is ignore"
The _Tile Loop End_ node ignores the column selection in the configuration dialog and uses the first column of the table instead.

[2018-11-08 08:13] imagejan opened #514 "GroupBy - Merge Image: Pixel type BitType not supported for merging."
WTF? Why can't `BitType` images not be merged with the *GroupBy* node, but get merged just fine using the *Merger* node? This limitation seems unnecessary, and the special casing going on here is not very imglibby:

https://github.com/knime-ip/knip/blob/f284f3dae7f853a7523c88e0915f7562910e4ade/org.knime.knip.base/src/org/knime/knip/base/data/aggregation/ImgMergeOperator.java#L566-L585

---

Exampl

[2018-11-09 15:52] imagejan opened #515 "Segment Features: "Extend" and other features are lacking documentation"
This is related to https://github.com/knime-ip/knip/issues/449, but also true for the *(Image) Segment Features* nodes: documentation about the features is essentially absent. You have to dig in the source code to find how it's computed.

For example, the "Extend" feature is probably a mis-nomer and should read "Extent"? I don't know if it's documented anywhere, but it looks like it corresponds to

[2018-11-28 10:40] imagejan opened #516 "Global Thresholder: unconfigured node doesn't run default Huang threshold"
When adding a *Global Thresholder* node into an existing workflow and executing it without prior configuration, it produces all-white (=`1`) images, as if the threshold was set to `0`, whereas you'd expect it to run with default settings, i.e. using Huang thresholding.

(Reported by Paolo Capelli during the KNIME workshop given by @stelfrich in Basel)

[2018-11-28 10:52] imagejan opened #517 "Image Writer should respect dimension order"
When using a *Merger* node to create an XYZC image and then trying to write the image using an *Image Writer*, the resulting files are save with wrong dimension order, i.e. the pixel values end up in the wrong place.

For example, a 2-channel image will contain the data of the second original channel in the second half of the z stack, spread across both channels (when re-opened using an *Image Rea

[2018-12-05 19:43] stelfrich commented on #509
I stumbled over this issue at a workshop here in Heidelberg again. With the IT setup here it was even more confusing since the Desktop folders of users in the computer pool are mapped to a remote location. So people actually thought that they had copied over their files to the local machine while they were just pushing them from one network share to another:

Stack trace with cleaned up URI:
[code

[2019-02-14 10:21] Treiblesschorle opened #518 "Image Writer fails on Images with lower case dimension labels"
The Image Writer node throws Exceptions (depending on the write format, I tested png, tif, jpeg) if the image to write has lower case dimension labels.

Steps to reproduce:
1) Create three equal size two dim images using the Image Generator
2) Merge and enter "x,y,Channel" into the Result Dimension Names of the Merger config
3) Try to write using the Image Writer in png or tif or jpeg

[2019-04-02 08:04] stelfrich opened #519 "Support ColorTable-based composite views"
While it seems that `ColorTable`s are read with images, support in e.g. *Image Viewer* for composite representations is currently limited.

[2019-06-27 13:42] lacan commented on #479
Bumping this after the DAIS Learnathon 2019

[2019-07-03 14:45] stelfrich commented on #359
This issue just came up again in a discussion with @bnorthan (and also did not remain unnoticed during a KNIME Image Processing training at EMBL in June 2019).

[2019-07-05 06:33] stelfrich opened #520 "Allow opening the help dialog of BigDataViewer"
The `F1` shortcut (that users know from BDV itself) to show how the navigation works and all the BDV shortcut magic seems to be currently unsupported. We should make it work and even add a button in the panel (@tibuch?) to avoid confusion and make the help more accessible.

[2019-07-05 06:37] stelfrich opened #521 "Support rotation to planes in BigDataViewer"
Support shortcuts for rotating to ZY, XZ, and XY plane (e.g. Shift+X) to allow for easier navigation.

[2019-07-14 13:58] bnorthan commented on #359
Would showing the middle slice, normalized to the min and max of that slice, or the thumbnail of that slice work??

[2020-03-05 14:00] gab1one opened #523 "Fix missconfigured spot detection workflow"
[The workflow](https://hub.knime.com/knime/spaces/Examples/latest/99_Community/01_Image_Processing/01_Tutorials/02_Application_Tutorials/12_Spot_Detection/01_Spot_Detection) contains a Convolution Kernel Creator node that is miss configured ( Laplacian of Gaussian has the Number of dimensions set to 0). We need to update this and upload a fixed workflow.

[2020-04-27 09:38] stelfrich opened #524 "Feature Calculator: Add info about pixels to 3D features"
It would be nice to warn/inform users that `Surface Area` is computed in pixel units. This could be done similarly to how it's implemented for `Volume`:

<img width="997" alt="feature-calc-3d-pixels" src="https://user-images.githubusercontent.com/333358/80357462-4ea4ce80-887b-11ea-9085-8c8624b2ea76.png">

[2020-05-20 15:07] stelfrich commented on #523
I have fixed the workflow and it has been uploaded to `EXAMPLES`.

[2020-07-10 13:28] stelfrich opened #525 "Dimension Swapper: swapping of multiple dimensions yields incorrect axis orderings"
Steps to reproduce:
1. Create an image with X, Y, Channel
2. Configure Dimension Swapper to move the Channel to position 0:
<img width="123" alt="Screenshot 2020-07-10 at 15 25 24" src="https://user-images.githubusercontent.com/333358/87159533-cf436a80-c2c1-11ea-99e7-b1544af47802.png">

Output should be `dimensions=3,100,100 (Channel,X,Y);` but is `dimensions=100,3,100 (Y,Channel,X);`

[2020-07-10 13:50] stelfrich opened #526 "Tile Loop End: Keep additional dimensions when merging images"

[2020-10-16 14:46] stelfrich opened #527 "Transfer Image Metadata changes column name with "Replace first/second" option"
Even if either one of the "Replace" options is selected, the node changes the name of the column so that it's not effectively replacing.

[2021-07-30 13:10] imagejan commented on #490
Just stumbled upon this one again. It would be really nice to have a SUM projection available.

Currently, we have in the *Projector*:
* `MAX_INTENSITY`
* `MEDIAN_INTENSITY`
* `AVG_INTENSITY`
* `MIN_INTENSITY`
* `STD_DEVIATION`

... and as aggregation functions:

* Max Image
* Mean Image
* Min Image

I'd suggest to make these two lists consistent, i.e. also provide MEDIAN and STD as aggregation fu

[2022-01-25 20:39] imagejan commented on #463
@tibuch did you ever get around to investigating this? 😉 😆